<div class="ui-grid-cell-contents dashboard-extremum__wrapper">
    <div class="dashborad-extremum">
        <div class="dashborad-extremum__price">
            {{$ctrl.price}}
        </div>
        <div class="dashborad-extremum__month">
            {{$ctrl.month}}
        </div>
    </div>
</div>