<div class="form-group">
    <div class="row form-group step-license__radio-wrapper">
        <div class="col-sm-12 col-xs-12">
            <iz-radiogroup ng-model="$ctrl.inputs.license.haveLicense"
                           callbacks="$ctrl.callbacks"></iz-radiogroup>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-4 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.license.licenseKey"
                      ng-disabled="$ctrl.inputs.license.haveLicense.model !== 'true'"
                      callbacks="$ctrl.callbacks"></iz-input>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-4 col-xs-12">
            <div class="step-license-panel">
                <ul class="step-license-panel__price-list">
                    <li class="step-license-panel__price-list_item">
                        <span class="pull-left">101 Cloud Price:</span>
                        <span class="pull-right">{{$ctrl.getPriceStr(500)}}</span>
                    </li>
                    <li class="step-license-panel__price-list_item">
                        <span class="pull-left">License Price:</span>
                        <span class="pull-right">{{$ctrl.getPriceStr(500)}}</span>
                    </li>
                </ul>
                <div class="step-license-panel__footer">
                    <span class="pull-left">Total:</span>
                    <span class="pull-right">{{$ctrl.getPriceStr(1000)}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
