<div class="ui-grid-cell-contents">
    <div class="dashboard-subscription">
        {{$ctrl.price}}
        <span ng-if="$ctrl.direction === 'down'" class="dashboard-subscription__percent down"><i class="fa fa-long-arrow-down" aria-hidden="true"></i> {{$ctrl.percent}}%</span>
        <span ng-if="$ctrl.direction === 'up'" class="dashboard-subscription__percent up"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> {{$ctrl.percent}}%</span>
    </div>
</div>