<div class="container-fluid">
    <div class="row form-group">
        <h1 class="title">Add Additional Service</h1>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.serviceName"></iz-input>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.additionalName"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-7 col-xs-12">
            <iz-textarea ng-model="$ctrl.inputs.description"></iz-textarea>
        </div>
        <div class="col-md-5 col-xs-12">
            <iz-checkbox ng-model="$ctrl.inputs.isPublic"></iz-checkbox>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            <iz-checkbox ng-model="$ctrl.inputs.availableForReselling"></iz-checkbox>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 col-xs-6">
            <iz-input ng-model="$ctrl.inputs.deliveryTime"></iz-input>
        </div>
        <div class="col-md-3 col-xs-6">
            <iz-select ng-model="$ctrl.inputs.deliveryTimeInterval"></iz-select>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.categories"></iz-input>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <h1 class="title">Availability of Service</h1>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.regions"
                       autocomplete="true"></iz-select>
        </div>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.countries"
                       autocomplete="true"></iz-select>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-xs-12">
            <button class="btn btn-default">Continue</button>
        </div>
    </div>
</div>