<div class="container login">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Registration</h3>
        </div>
        <div class="panel-body">
          <form accept-charset="UTF-8" role="form" name="registerForm">
            <fieldset>
              <div class="form-group">
                <iz-input class="form-control" placeholder="E-mail" name="email"
                       type="email" ng-model="email" required autofocus>
              </div>
              <div class="form-group">
                <iz-input class="form-control" placeholder="Password"
                       name="password" type="password" value=""
                       ng-model="password" required>
              </div>
              <iz-input class="btn btn-lg btn-success btn-block" type="submit"
                     ng-disabled="registerForm.$invalid"
                     ng-click="$ctrl.register()">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
