<div class="container-fluid">
  <div class="row">
    <div class="add-cloud">
      <form class="form-horizontal" name="datacenterForm">
        <div class="form-group">
          <h2 class="title">Add Datacenter</h2>
          <div class="col-sm-2">
            <iz-input ng-model="$ctrl.inputs.locationPrefix" ng-disabled="true"></iz-input>
          </div>
          <div class="col-sm-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.name"
                      callbacks="$ctrl.genericCallbacks"></iz-input>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <div class="col-sm-6">
            <iz-select ng-model="$ctrl.inputs.dataCenterRegion"
                       callbacks="$ctrl.regionCallbacks"></iz-select>
          </div>
          <div class="col-sm-6">
            <iz-select ng-model="$ctrl.inputs.dataCenterCountry"
                       autocomplete="true"
                       callbacks="$ctrl.countryCallbacks"></iz-select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <iz-select ng-model="$ctrl.inputs.dataCenterCity"
                       ng-disabled="!$ctrl.inputs.dataCenterCountry.selected"></iz-select>
          </div>
          <div class="col-sm-6">
            <iz-select ng-model="$ctrl.inputs.dataCenterTechnology"
                       ng-disabled="!$ctrl.inputs.dataCenterFabric.selected"
                       callbacks="$ctrl.osTemplateCallbacks"></iz-select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <iz-select ng-model="$ctrl.inputs.dataInfrastructureProvider"
                       callbacks="$ctrl.iProviderCallbacks"></iz-select>
          </div>
          <div class="col-sm-6">
            <iz-select ng-model="$ctrl.inputs.dataCenterFabric"
                       ng-disabled="!$ctrl.inputs.dataInfrastructureProvider.selected"
                       callbacks="$ctrl.fabricCallbacks"></iz-select>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <iz-map map-name="dataCenterAddress" zoom="13" ng-model="$ctrl.inputs.mapSource" class="iz-map thin-map"></iz-map>
          </div>
        </div>
        <hr class="separator">

        <subnet ng-model="$ctrl.networks"
                validate="$ctrl.validateSubnet({isValid: isValid})"
                ng-if="!$ctrl.isLoading && $ctrl.networks"></subnet>

      </form>
    </div>
  </div>
</div>