<div class="container-fluid">
    <div class="row form-group">
        <h1 class="title">Add Hardware Template</h1>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.name"></iz-input>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.fabric"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 col-xs-6">
            <iz-input ng-model="$ctrl.inputs.deliveryTime"></iz-input>
        </div>
        <div class="col-md-3 col-xs-6">
            <iz-select ng-model="$ctrl.inputs.deliveryTimeInterval"></iz-select>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-checkbox ng-model="$ctrl.inputs.isPublic"></iz-checkbox>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 col-xs-12">
            <iz-checkbox ng-model="$ctrl.inputs.availableForReselling"></iz-checkbox>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.cores"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.ram"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.dataDisks"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.logicalSsd"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.maxIops"></iz-input>
        </div>
    </div>
        <div class="row form-group">
            <div class="col-md-3 col-xs-6">
            <iz-checkbox ng-model="$ctrl.inputs.loadBalancing"></iz-checkbox>
        </div>
        <div class="col-md-3 col-xs-6">
            <iz-checkbox ng-model="$ctrl.inputs.premiumDiskSupport"></iz-checkbox>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <h1 class="title">Availability of Service</h1>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.regions"
                       autocomplete="true"></iz-select>
        </div>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.countries"
                       autocomplete="true"></iz-select>
        </div>
    </div>
    <hr>
</div>