<h1>Operations dashboard</h1>
<div class="container-fluid">
    <div class="row">
        <iz-donut-widget chart-options="$ctrl.clouds" class="col-md-3"></iz-donut-widget>
        <iz-donut-widget chart-options="$ctrl.servers" class="col-md-3"></iz-donut-widget>
        <iz-donut-widget chart-options="$ctrl.services" class="col-md-3"></iz-donut-widget>
        <iz-donut-widget chart-options="$ctrl.datacenters" class="col-md-3"></iz-donut-widget>
    </div>
</div>

<!--<iz-donut-widget chart-options="$ctrl.subscriptions" class="col-md-3"></iz-donut-widget>-->
<iz-area-graph-card graph="$ctrl.dashboard"
                    on-select="$ctrl.selectCallback({params: params})"
                    ng-if="$ctrl.dashboard"></iz-area-graph-card>
<iz-area-graph-card graph="$ctrl.detailedDashboard"
                    on-select="$ctrl.selectCallback({params: params})"
                    ng-if="$ctrl.detailedDashboard"></iz-area-graph-card>
<iz-dashboard-table-card data="$ctrl.tableOptions"
                         on-select="$ctrl.tableDataCallback({params: params})"
                         ng-if="$ctrl.tableOptions"></iz-dashboard-table-card>