.iz-input {
  height: 100%;
  &__search {
    &-wrapper {
      position: relative;
      & > .popover > .arrow {
        width: 0;
      }
    }
    &-icon {
      @include alignVertical();
      left: 15px;
      color: #838383;
    }
    &-input {
      text-indent: 25px;
    }
  }
  &__view {
    &-icon {
      @include alignVertical();
      right: 15px;
      color: #838383;
      cursor: pointer;
      &:hover {
        color: #000;
      }
    }
  }
}