<div class="col-sm-{{$ctrl.ngModel.width}} iz-input {{$ctrl.ngModel.options.classNameWrapper}}">
  <label class="control-label" ng-if="$ctrl.ngModel.title || $ctrl.ngModel.title === ' '" ng-class="{'is-disabled': $ctrl.ngDisabled}">
    {{$ctrl.ngModel.title}} <span ng-if="$ctrl.ngModel.title === ' '" style="visibility: hidden">F</span><span ng-if="$ctrl.ngModel.options && $ctrl.ngModel.options.required">*</span>
  </label>
  <div class="iz-input__search-wrapper">
    <input type="{{$ctrl.ngModel.options.type || 'text'}}"
           min="{{$ctrl.ngModel.options.min}}"
           max="{{$ctrl.ngModel.options.max}}"
           class="form-control {{$ctrl.ngModel.options.classNameInput}}"
           ng-class="{'iz-input__search-input': $ctrl.ngModel.options.isSearch}"
           placeholder="{{$ctrl.ngModel.placeholder || 'Enter'}}"
           ng-model="$ctrl.ngModel.data"
           ng-change="$ctrl.callbacks.onChange($event, $ctrl.callbackOptions.onChange.params)"
           ng-blur="$ctrl.callbacks.onBlur($event, $ctrl.callbackOptions)"
           ng-disabled="$ctrl.ngDisabled"
           ng-required="{{$ctrl.ngModel.options && $ctrl.ngModel.options.required && !$ctrl.ngDisabled}}"
           ng-pattern="$ctrl.ngModel.options && $ctrl.ngModel.options.pattern"
           ng-maxlength="{{$ctrl.ngModel.options && $ctrl.ngModel.options.maxLength}}"
           ng-minlength="{{$ctrl.ngModel.options && $ctrl.ngModel.options.minLength}}"
           ui-mask="{{$ctrl.ngModel.uiMask}}"
           name="{{$ctrl.name}}"
           uib-popover="{{$ctrl.ngModel.options && $ctrl.ngModel.options.popover && $ctrl.ngModel.options.popover.msg}}"
           popover-trigger="($ctrl.ngModel.options && $ctrl.ngModel.options.popover && $ctrl.ngModel.options.popover.trigger) || 'mouseenter'"
           ui-mask-placeholder
           ui-mask-placeholder-char="{{$ctrl.ngModel.uiMaskPlaceholderChar}}"
           ui-options="{ 'eventsToHandle': [ 'input', 'keyup', 'click', 'focus' ] }">
    <i class="fa fa-search iz-input__search-icon" ng-if="$ctrl.ngModel.options.isSearch"></i>
    <i class="iz-icon icon-eyes iz-input__view-icon"
       ng-if="$ctrl.ngModel.options.isPassword"
       ng-mousedown="$ctrl.ngModel.options.type = 'text'"
       ng-mouseup="$ctrl.ngModel.options.type = 'password'"
       ng-mouseleave="$ctrl.ngModel.options.type = 'password'"></i>
    <i class="iz-icon {{$ctrl.ngModel.options.postIconClass}} iz-input__view-icon"
       ng-if="$ctrl.ngModel.options.postIconClass"></i>
  </div>
</div>
