<form class="form-horizontal" name="userGeneralForm">
    <form-group>
        <iz-select ng-model="$ctrl.general.title" class="col-md-6"></iz-select>
        <iz-input ng-model="$ctrl.general.givenName" class="col-md-6"></iz-input>
    </form-group>
    <form-group>
        <iz-input ng-model="$ctrl.general.lastName" class="col-md-6"></iz-input>
        <div class="col-md-6">
            <div class="row">
                <iz-input class="col-xs-7" ng-model="$ctrl.general.middleName"></iz-input>
                <iz-input class="col-xs-5" ng-model="$ctrl.general.suffixName"></iz-input>
            </div>
        </div>
    </form-group>
</form>