<div class="container-fluid" ng-if="$ctrl.step === 'settings'">
    <h1 class="title">Partner Information</h1>
    <div class="row form-group">
        <div class="col-xs-12">
            <p>How do you want to be visible?</p>
            <div class="btn-group">
                <button class="btn btn-primary" ng-model="$ctrl.inputs.visibility" uib-btn-radio="'public'">Public
                </button>
                <button class="btn btn-primary" ng-model="$ctrl.inputs.visibility" uib-btn-radio="'private'">Private
                </button>
                <button class="btn btn-primary" ng-model="$ctrl.inputs.visibility" uib-btn-radio="'stealth'">Stealth
                </button>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.website"></iz-input>
        </div>
        <div class="col-md-2">
            <iz-select ng-model="$ctrl.inputs.cc"></iz-select>
        </div>
        <div class="col-md-2">
            <iz-input ng-model="$ctrl.inputs.rc"></iz-input>
        </div>
        <div class="col-md-2">
            <iz-input ng-model="$ctrl.inputs.phone"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.timezone"></iz-select>
        </div>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.currency"></iz-select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.primaryLang"></iz-select>
        </div>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.secondaryLang"></iz-select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <iz-textarea ng-model="$ctrl.inputs.shortProfile"></iz-textarea>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <iz-textarea ng-model="$ctrl.inputs.longProfile"></iz-textarea>
        </div>
    </div>
    <div class="row form-group">
        <h1 class="title">Logos</h1>
        <div class="col-md-12">
            <div class="settings-partners-become">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Format</th>
                        <th>Resolution</th>
                        <th>Color</th>
                        <th>Background</th>
                        <th>Size</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Product Branding</td>
                        <td>png</td>
                        <td>100x40</td>
                        <td>in color</td>
                        <td>transparent</td>
                        <td>no more than 1 MB</td>
                        <td>
                            <button class="btn btn-success">Add</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Profile Logo</td>
                        <td>png</td>
                        <td>100x40</td>
                        <td>in color</td>
                        <td>transparent</td>
                        <td>no more than 1 MB</td>
                        <td>
                            <button class="btn btn-success">Add</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Invoice</td>
                        <td>png</td>
                        <td>100x40</td>
                        <td>in color</td>
                        <td>transparent</td>
                        <td>no more than 1 MB</td>
                        <td>
                            <button class="btn btn-success">Add</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <h1 class="title">General Terms and Conditions for Customers</h1>
    <div class="row form-group">
        <div class="col-md-12">
            <iz-input ng-model="$ctrl.inputs.tcName"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <iz-wysiwyg ng-model="$ctrl.inputs.tcDescription">Description</iz-wysiwyg>
        </div>
    </div>
    <hr>
    <iz-owner-select></iz-owner-select>
    <hr>
    <div class="row form-group">
        <div class="col-md-12">
            <button class="btn btn-primary" ng-click="$ctrl.continue()">Continue</button>
        </div>
    </div>
</div>
<div class="container-fluid" ng-if="$ctrl.step === 'agreement'">
    <div class="row">
        <h2 class="title">Terms & Conditions</h2>
        <div class="col-md-2 col-md-offset-10">
            <iz-select ng-model="$ctrl.inputs.language"></iz-select>
        </div>
        <div class="col-md-12">
            <div class="add-subscriptions__legal-text"
                 ng-bind-html="$ctrl.inputs.termsConditions[$ctrl.inputs.language.selected.displayName]"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 confirm">
                <iz-checkbox ng-model="$ctrl.inputs.confirm"></iz-checkbox>
            </div>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-12">
            <button class="btn btn-primary" ng-click="$ctrl.apply()" ng-disabled="!$ctrl.inputs.confirm.data.model">
                Apply
            </button>
        </div>
    </div>
</div>
