<h1 class="title">Invoice Template Information</h1>
<div class="container-fluid">
    <div class="row form-group">
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.bill"></iz-input>
        </div>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.country"></iz-select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.currency"></iz-select>
        </div>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.language"></iz-select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.font"></iz-select>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.address1"></iz-input>
        </div>
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.address2"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.city"></iz-input>
        </div>
        <div class="col-md-3">
            <iz-input ng-model="$ctrl.inputs.state"></iz-input>
        </div>
        <div class="col-md-3">
            <iz-input ng-model="$ctrl.inputs.zip"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.firstName"></iz-input>
        </div>
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.secondName"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.phone"></iz-input>
        </div>
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.email"></iz-input>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-3">
            <div>
                <img src="" class="img-rounded" alt="Logo" width="100" height="100">
            </div>
            <div>
                <a>Upload Logo</a>
            </div>
        </div>
        <div class="col-md-9">
            <iz-textarea ng-model="$ctrl.inputs.bankDetails"></iz-textarea>
        </div>
    </div>
    <button class="btn btn-default">Add More</button>
    <hr>
    <div class="row form-group">
        <div class="col-md-12">
            <iz-checkbox ng-model="$ctrl.inputs.addPrefix"></iz-checkbox>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.prefix"></iz-select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <iz-checkbox ng-model="$ctrl.inputs.startWith"></iz-checkbox>
        </div>
    </div>
</div>
<hr>