iz-office365-card {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.office365-card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.11);
  margin: 5px 0;
  &__header{
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px $info solid;
    height: 70px;
    padding: 20px;
  }
  .includes {
    &-wrapper{
      background-color: #fafafa;
      height: 160px;
      border-radius: 4px;
    }
    &-title {
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      line-height: 32px;
    }
    &-list {
      list-style: none;
      margin: 0;
      padding: 0 15px;
      display: flex;
      &__item {
        width: 31px;
        height: 31px;
        border-radius: 15px;
        background-color: white;
        border: 1px solid $info;
        margin: 0 3px 10px 3px;
        position: relative;
        display: -webkit-flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex: 0 1 auto;
        & > .iz-icon {
          margin: auto;
          font-size: 20px;
          max-width: 17px;
        }
      }
      &:after {
        content: '';
        clear: both;
        visibility: hidden;
        display: block;
        font-size: 0;
        height: 0;
      }
    }
  }

  .office365-card-footer {
    border-bottom: 3px $info solid;
    border-radius: 0 0 3px 3px;
    &__price {
      color: $info;
      font-size: 24px;
      text-align: center;
      font-weight: 300;
      line-height: 47px;
    }
  }
  &:hover {
    border-color: $info;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(79, 182, 220, 0.7);
    .office365-card-footer {
      &__price {
        color: $default;
      }
      background: $info;
    }
  }
  & .description {
    &-wrapper {
      margin: 18px;
    }
  }
}