<div class="office365-card flex-col" uib-btn-checkbox btn-checkbox-true="true"
     btn-checkbox-false="false" ng-model="item.isSelected">
    <div class="office365-card__header">
        {{$ctrl.item.name || $ctrl.item.ProductName}}
    </div>
    <div class="office365-card-aligner-wrapper flex-grow">
        <div class="description-wrapper">
            <div class="description-body">{{$ctrl.item.description || $ctrl.item.Description}}</div>
        </div>
    </div>
    <div class="bottom-wrapper">
        <div class="includes-wrapper">
            <div class="includes-title">Subscription includes:</div>
            <ul class="includes-list row-flex row-flex-wrap">
                <li class="includes-list__item flex-col" ng-repeat="item in $ctrl.item.Icons track by $index">
                    <img ng-src="{{item}}" class="iz-icon" />
                </li>
            </ul>
        </div>
    </div>
</div>