<form class="form-horizontal" name="tenantForm">
    <div class="form-group">
        <h1 class="title">Company Information</h1>
        <div class="col-sm-7 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.companyInformation.companyName"
                      callbacks="$ctrl.genericCallbacks"
                      name="company-name"></iz-input>
        </div>
        <div class="col-sm-5 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.companyInformation.quantityOfUsers"></iz-select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-7 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.companyInformation.typeOfBusiness"></iz-select>
        </div>
    </div>
    <hr class="col-xs-12">

    <div class="form-group">
        <h1 class="title">Company Contact Address</h1>

        <div class="col-sm-12 col-xs-12 no-padding step-company-company-contact-address-use-for">
            <iz-checkbox ng-model="$ctrl.inputs.companyContactAddress.receiveBillings"></iz-checkbox>
        </div>

        <div class="col-sm-7 col-xs-12">
            <div class="form-group">
                <div class="col-xs-8">
                    <iz-input ng-model="$ctrl.inputs.companyContactAddress.address"
                              callbacks="$ctrl.inputCallbacks"></iz-input>
                </div>
                <div class="col-xs-4">
                    <iz-input ng-model="$ctrl.inputs.companyContactAddress.number"
                              callbacks="$ctrl.inputCallbacks"></iz-input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <iz-input ng-model="$ctrl.inputs.companyContactAddress.address2"></iz-input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <iz-input ng-model="$ctrl.inputs.companyContactAddress.zip"
                              callbacks="$ctrl.inputCallbacks"></iz-input>
                </div>
                <div class="col-xs-6">
                    <iz-input ng-model="$ctrl.inputs.companyContactAddress.city"
                              callbacks="$ctrl.inputCallbacks"></iz-input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <iz-select ng-model="$ctrl.inputs.companyContactAddress.state" ng-disabled="true"></iz-select>
                </div>
                <div class="col-xs-6">
                    <iz-select ng-model="$ctrl.inputs.companyContactAddress.country"
                               callbacks="$ctrl.countryCallbacks"
                               autocomplete="true"
                               name="countries"></iz-select>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-xs-12">
            <iz-map map-name="personalMapAddress"
                    zoom="8" ng-model="$ctrl.customerLocation"></iz-map>
        </div>
    </div>
    <hr>

    <div class="form-group row row-flex row-flex-wrap" ng-if="$ctrl.inputs.companyContactAddress.country.selected.Region.Short === 'EU'">
        <div class="col-xs-7 flex-col">
            <iz-input ng-model="$ctrl.inputs.companyVatIdInput"
                      ng-if="!$ctrl.exempt"
                      callbacks="$ctrl.genericCallbacks"></iz-input>
            <iz-select ng-model="$ctrl.inputs.companyVatIdSelect"
                       ng-if="$ctrl.exempt"
                       callbacks="$ctrl.genericCallbacks"></iz-select>
        </div>
        <div class="col-xs-5 flex-col">
            <a href="#" class="iz-add-cloud-customer__inline" ng-click="$ctrl.toggleExemption()">{{$ctrl.exempt ? 'Not
                Exempt?' : 'Exempt?'}}</a>
        </div>
    </div>
    <hr ng-if="$ctrl.inputs.companyContactAddress.country.selected.Region.Short === 'EU'">

    <div class="form-group" ng-if="!$ctrl.inputs.companyContactAddress.receiveBillings.data.model">
        <h1 class="title" ng-if="!$ctrl.inputs.companyContactAddress.receiveBillings.data.model">Company Billing Address</h1>
        <div class="col-sm-7 col-xs-12">
            <div class="form-group">
                <div class="col-xs-8">
                    <iz-input ng-model="$ctrl.inputs.companyContactAddress.billingAddress"
                              callbacks="$ctrl.inputBillingCallbacks"></iz-input>
                </div>
                <div class="col-xs-4">
                    <iz-input ng-model="$ctrl.inputs.companyContactAddress.billingNumber"
                              callbacks="$ctrl.inputBillingCallbacks"></iz-input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <iz-input ng-model="$ctrl.inputs.companyContactAddress.billingAddress2"></iz-input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <iz-input ng-model="$ctrl.inputs.companyContactAddress.billingZip"
                              callbacks="$ctrl.inputBillingCallbacks"></iz-input>
                </div>
                <div class="col-xs-6">
                    <iz-input ng-model="$ctrl.inputs.companyContactAddress.billingCity"
                              callbacks="$ctrl.inputBillingCallbacks"></iz-input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <iz-select ng-model="$ctrl.inputs.companyContactAddress.billingState" ng-disabled="true"></iz-select>
                </div>
                <div class="col-xs-6">
                    <iz-select ng-model="$ctrl.inputs.companyContactAddress.billingCountry"
                               callbacks="$ctrl.countryBillingCallbacks"></iz-select>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-xs-12">
            <iz-map map-name="companyMapAddress"
                    zoom="8" ng-model="$ctrl.customerBillingLocation"></iz-map>
        </div>
        <hr class="col-xs-12">
    </div>

    <iz-owners ng-model="$ctrl.ownersModel"
               validate="$ctrl.validateOwner({isValid: isValid})"
               init="$ctrl.initData"
               ng-if="$ctrl.initData || $ctrl.isNoInit"></iz-owners>

    <pre ng-if="$ctrl.local.isDevMode">{{tenantForm | json}}</pre>
</form>