
.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: calc(100% + 60px);
  &-logo {
    width: 80%;
    margin: 20px auto;
  }
  &-main {
    background-image: url('/app/assets/img/Banner.jpg');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-basis: calc(100% - 400px);
  }
  &-left {
    height: 100%;
    max-width: 400px;
    flex: 1 0 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: $default;
    text-align: center;
    &-panel {
      margin: 45% auto;
      padding: 20px;
      text-align: center;
    }
  }
}