<div class="login h100">
  <div class="login-main">
  </div>
  <div class="login-left">
    <div class="login-left-panel">
      <img src="../../../assets/img/logo.png" alt="101 Cloud" class="login-logo">
      <button class="btn btn-info btn-block"
              ng-click="$ctrl.authService.login()"
      ng-if="!$ctrl.authService.userInfo.isAuthenticated">Login</button>
      <button class="btn btn-info btn-block" ui-sref="invite"
              ng-if="!$ctrl.authService.userInfo.isAuthenticated">Get Invite</button>
      <button class="btn btn-info btn-block"
              ng-click="$ctrl.goToMain()"
              ng-if="$ctrl.authService.userInfo.isAuthenticated">Go to main</button>
      <button class="btn btn-info btn-block"
              ng-click="$ctrl.authService.logout()"
              ng-if="$ctrl.authService.userInfo.isAuthenticated">Logout</button>
    </div>
  </div>
</div>
