<div class="row row-flex row-flex-wrap dc-clouds-add-cloud__operations-wrapper" ng-if="$ctrl.operations[0].length">
    <!-- TODO: make reusable components -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 flex-col" ng-repeat="item in $ctrl.operations[0]">
        <div class="dc-clouds-add-cloud__operations">
            <div class="dc-clouds-add-cloud__operations__header">
                <div>{{item.name}}</div>
                <div class="dc-clouds-add-cloud__operations__header-brief">{{item.brief}}</div>
            </div>
            <div class="dc-clouds-add-cloud__operations__body-wrapper">
                <p class="dc-clouds-add-cloud__operations__body">{{item.description}}</p>
                <div class="cloud-footer">
                    <div class="btn-block cloud-footer__counter">
                        <div class="cloud-footer__counter-item" ng-click="$ctrl.decrementOperationCounter(item)">
                            <i class="iz-icon icon-map-minus"></i>
                        </div>
                        <div class="display">{{item.qty}}</div>
                        <div class="cloud-footer__counter-item" ng-click="$ctrl.incrementOperationCounter(item)">
                            <i class="iz-icon icon-map-plus"></i>
                        </div>
                    </div>
                    <div class="btn-block cloud-footer__price">{{$ctrl.getIntPrice(item.price)}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="total">
        <span class="total__header">Subtotal:</span>
        <span class="total__price">{{$ctrl.getIntPrice($ctrl.getSubTotalAdditional())}}</span>
    </div>
</div>
<hr class="col-xs-12">

<h1 class="title" ng-if="$ctrl.operations[1].length">Managed Services</h1>
<div class="row row-flex row-flex-wrap dc-clouds-add-cloud__operations-wrapper" ng-if="$ctrl.operations[1].length">
    <!-- TODO: make reusable directive-->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 flex-col" ng-repeat="item in $ctrl.operations[1]">
        <div class="dc-clouds-add-cloud__operations">
            <div class="dc-clouds-add-cloud__operations__header">
                <div>{{item.name}}</div>
            </div>
            <div class="dc-clouds-add-cloud__operations__body-wrapper">
                <p class="dc-clouds-add-cloud__operations__body">{{item.description}}</p>
                <div class="cloud-footer">
                    <div class="btn-block cloud-footer__counter">
                        <div class="cloud-footer__counter-item" ng-click="$ctrl.decrementOperationCounter(item)">
                            <i class="iz-icon icon-map-minus"></i>
                        </div>
                        <div class="display">{{item.qty}}</div>
                        <div class="cloud-footer__counter-item" ng-click="$ctrl.incrementOperationCounter(item)">
                            <i class="iz-icon icon-map-plus"></i>
                        </div>
                    </div>
                    <div class="btn-block cloud-footer__price">{{$ctrl.getIntPrice(item.price)}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="total">
        <span class="total__header">Subtotal:</span>
        <span class="total__price">{{$ctrl.getIntPrice($ctrl.getSubTotalManaged())}}</span>
    </div>
</div>
<hr class="col-xs-12">
<div class="col-md-12">
    <div class="total">
        <span class="total__header">Total:</span>
        <span class="total__price">{{$ctrl.getIntPrice($ctrl.getSubTotalAdditional() + $ctrl.getSubTotalManaged())}}</span>
    </div>
</div>