
.invite {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: calc(100% + 60px);
  &-logo {
    width: 250px;
    margin: 20px auto;
  }
  &-main {
    background-image: url('/app/assets/img/Banner.jpg');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-basis: calc(100%);
  }
  &-form {
    height: 100%;
    max-width: 80%;
    flex: 1 0 auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    &-panel {
      padding: 40px;
      text-align: center;
    }
    .form-control {
      text-align: left;
    }
  }
}