<div class="invite h100">
  <div class="invite-main">
    <div class="invite-form">
      <div class="invite-form-panel text-center">
        <form name="inviteForm" ng-if="$ctrl.showForm && !$ctrl.authService.userInfo.isAuthenticated">
          <img src="../../../assets/img/logo.png" alt="101 Cloud" class="invite-logo">
          <div class="form-group text-left">
            <iz-input ng-model="$ctrl.inviteInputs.email" name="inviteEmail"></iz-input>
          </div>
          <div class="form-group text-left">
            <iz-textarea ng-model="$ctrl.inviteInputs.termsConditions" ng-disabled="true"></iz-textarea>
            <div class="text-left">
              <iz-checkbox ng-model="$ctrl.inviteInputs.termsConditionsSign"></iz-checkbox>
            </div>
          </div>

          <button class="btn btn-default"
                  ng-click="$ctrl.onSubmit()"
                  ng-disabled="inviteForm.$error.required || !inviteForm.$valid || !$ctrl.inviteInputs.termsConditionsSign.data.model">
            Give Me Invite Link
          </button>
        </form>
        <div ng-if="!$ctrl.showForm && !$ctrl.authService.userInfo.isAuthenticated">
          <h2 class="title">Click on the link for proceed your invitation</h2>
          <a href="{{$ctrl.inviteLink}}">Invite link</a>
        </div>
        <button class="btn btn-info btn-block"
                ng-click="$ctrl.goToMain()"
                ng-if="$ctrl.authService.userInfo.isAuthenticated">Go to main</button>
      </div>
    </div>
  </div>
</div>
