.iz-select {
  & .ui-select-match-text {
    font-size: 14px;
  }
  margin-bottom: 15px;
  .ui-select {
    &-search {
      transition: none;
      &-hidden {
        display: none;
      }
    }
    &-placeholder {
      opacity: .5;
    }
    &-toggle {
      text-align: left;
      overflow-x: hidden;
      & > .ui-select-match-text {
        @include textEllipsis();
      }
    }
    &-no-choice {
      padding: 10px 20px;
      width: 100%;
    }
    &-choices {
      width: auto;
      border-radius: 2px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
      padding: 0;
      &-row {
        padding: 3px 40px 3px 20px;
        font-family: 'SegoeUI';
        position: relative;
        &-inner {
          line-height: 42px;
          white-space: nowrap;
        }
        &:hover{
          color: $primary;
          background-color: #f7f9fa;
          cursor: pointer;
          &:after {
            font-family: 'iz-icons';
            content: "\E969";
            color: #5ebcdf;
            font-size: 24px;
            width: 24px;
            height: 24px;
            display: inline-block;
            position: absolute;
            margin-right: 10px;
            margin-top: -8px;
            top: 50%;
            right: 0;
          }
        }
      }
    }
    &-toggle {
      padding-right: 25px;
      .caret {
        display: none
      }
      &::after {
        color: #cbcbcb;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        border: none;
        margin-top: 4px;
        content: "\f107";
        position: absolute;
        right: 1em;
      }
      &:hover {
        background-color: $default;
        border-color: $info;
        color: $info;
        &::after {
          color: $info;
        }
      }
    }
    &-dropdown.dropdown-menu {
      opacity: 1 !important;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }
  .ui-select-container.multiple {
    height: auto;
    & > div > .ui-select-search {
      border: none;
      cursor: pointer;
      text-indent: 5px;
    }
  }
  & .iz-placeholder {
    color: #aaa !important;
  }
  &-group {
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    background-color: $default;
    .active, .open, &:hover, &:target {
      border-color: $info;
      .btn {
        border: none;
      }
    }
    &:hover {
      .iz-select-group-active {
        background-color: transparent;
      }
    }
    .dropdown-toggle {
      .fa {
        color: #cbcbcb;
      }
    }
  }
  &-list {
    opacity: 1 !important;
    margin: 0;
    max-height: 250px;
    overflow-Y: auto;
    overflow-X: hidden;
    &-item {
      &-icon {
        &-image{
          width: 28px;
          height: 22px;
          margin-right: 13px;
          vertical-align: middle;
        }
      }
    }
  }
}
/* Style when highlighting a search. */
.ui-select-highlight {
  font-weight: bold;
}

.ui-select-highlight {
  font-weight: bold;
  color: $info;
}

.ui-select-focusser {
  display: none;
}

.is-disabled {
  color: #cecece !important;
}

/* Fix Bootstrap dropdown position when inside a input-group */
.input-group > .ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static;
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-select-bootstrap > .ui-select-match {
  /* Instead of center because of .btn */
  text-align: left;
}

.ui-select-bootstrap > .ui-select-match > .caret {
  position: absolute;
  top: 45%;
  right: 15px;
}

.ui-select-bootstrap > .ui-select-choices {
  width: 100%;
}

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}