<div class="col-sm-{{$ctrl.ngModel.width}} iz-select {{$ctrl.ngModel.options.classNameWrapper}}">
  <label class="control-label" ng-class="{'is-disabled': $ctrl.ngDisabled}" ng-if="$ctrl.ngModel.title || $ctrl.ngModel.title === ' '">
    {{$ctrl.ngModel.title}} <span ng-if="$ctrl.ngModel.title === ' '" style="visibility: hidden">F</span>
    <span ng-if="$ctrl.ngModel.options && $ctrl.ngModel.options.required">*</span>
  </label>
  <!-- single select -->
  <ui-select ng-model="$ctrl.ngModel.selected"
             ng-if="!$ctrl.ngModel.options.multiselect"
             theme="bootstrap"
             title="{{$ctrl.ngModel.placeholder || 'Select'}}"
             ng-disabled="$ctrl.ngDisabled"
             ng-required="$ctrl.ngModel.options && $ctrl.ngModel.options.required && !$ctrl.ngDisabled"
             search-enabled="{{$ctrl.autocomplete || false}}"
             on-select="$ctrl.callbacks.onChange($ctrl.ngModel.selected)"
             name="{{$ctrl.name}}"
             limit="5">
      <ui-select-match placeholder="{{$ctrl.ngModel.placeholder || 'Select'}}" class="iz-select-list-item">
      <span ng-if="$select.selected.icon" ng-class="{{$select.selected.icon.class}}" class="iz-select-list-item-icon">
        <img ng-src="{{$select.selected.icon.img}}" ng-if="$select.selected.icon.img" class="iz-select-list-item-icon-image" />
      </span>{{$select.selected.displayName || $select.selected.Name}}
    </ui-select-match>
    <ui-select-choices repeat="item in $ctrl.ngModel.data | filter: $select.search track by $index"
                       class="iz-select-list">
      <span ng-if="item.icon" ng-class="{{item.icon.class}}" class="iz-select-list-item-icon">
        <img ng-src="{{item.icon.img}}" ng-if="item.icon.img" class="iz-select-list-item-icon-image"/>
      </span><span ng-bind-html="item.displayName || item.Name | highlight: $select.search"></span>
    </ui-select-choices>
    <ui-select-no-choice>
      We couldn't find any choices...
    </ui-select-no-choice>
  </ui-select>
  <!-- multi select -->
  <ui-select ng-model="$ctrl.ngModel.selected"
             multiple
             ng-if="$ctrl.ngModel.options.multiselect"
             theme="bootstrap"
             title="{{$ctrl.ngModel.placeholder}}"
             ng-disabled="$ctrl.ngDisabled"
             ng-required="$ctrl.ngModel.options && $ctrl.ngModel.options.required && !$ctrl.ngDisabled"
             search-enabled="{{$ctrl.autocomplete || false}}"
             on-select="$ctrl.callbacks.onChange($ctrl.ngModel.selected)"
             name="{{$ctrl.name}}"
             class="multiple">
      <ui-select-match placeholder="{{$ctrl.ngModel.placeholder || 'Select'}}" class="iz-select-list-item">
          {{$item.Name}}
    </ui-select-match>
    <ui-select-choices repeat="item in $ctrl.ngModel.data | filter: $select.search track by $index" class="iz-select-list">
      <span ng-if="item.icon" ng-class="{{item.icon.class}}" class="iz-select-list-item-icon">
        <img ng-src="{{item.icon.img}}" ng-if="item.icon.img" class="iz-select-list-item-icon-image"/>
      </span><span ng-bind-html="item.displayName || item.Name | highlight: $select.search"></span>
    </ui-select-choices>
    <ui-select-no-choice>
      We couldn't find any choices...
    </ui-select-no-choice>
  </ui-select>
</div>
