<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container-fluid">
            <div class="row row-flex row-flex-wrap">
                <div class="col-lg-5 col-md-12 flex-col">
                    <div class="dashboard-table__header-text">
                        {{$ctrl.data.title}}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <iz-select ng-model="$ctrl.inputs.entities"
                               class="btn-block"
                               callbacks="$ctrl.selectCallbacks"
                               ng-if="$ctrl.data.options.isDetails"></iz-select>
                </div>
                <div class="col-lg-3 col-md-6">
                    <iz-select ng-model="$ctrl.inputs.period"
                               callbacks="$ctrl.selectCallbacks"
                               class="btn-block"></iz-select>
                </div>
                <div class="col-xs-1">
                    <div class="btn btn-export-csv">
                        <img src="../../../assets/img/excel.png" alt="Export table">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <iz-table table-options="$ctrl.tableData"></iz-table>
                </div>
            </div>
        </div>
    </div>
</div>
