@import "./addoffice365/addoffice365";

.office365 {
  &-header {
    margin: 15px 0;
  }
}

.office365-product {
  padding: 0 15px;
}

@media only screen and (min-width:320px)  and (max-width : 767px) {
  .sidebar-collapsed {
    .office365-product {
      width: 100%;
    }
  }
  .office365-product {
    width: 100%;
  }
}
@media only screen and (min-width:768px) and (max-width : 991px) {
  .sidebar-collapsed {
    .office365-product {
      width: 50%;
    }
  }
  .office365-product {
    width: 100%;
  }
}
@media only screen and (min-width:992px) and (max-width : 1023px) {
  .sidebar-collapsed {
    .office365-product {
      width: 50%;
    }
  }
  .office365-product {
    width: 100%;
  }
}
@media only screen and (min-width:1024px) and (max-width : 1199px) {
  .sidebar-collapsed {
    .office365-product {
      width: 50%;
    }
  }
  .office365-product {
    width: 100%;
  }
}
@media only screen and (min-width:1200px) and (max-width : 1379px) {
  .sidebar-collapsed {
    .office365-product {
      width: 33%;
    }
  }
  .office365-product {
    width: 50%;
  }
}
@media only screen and (min-width:1380px) and (max-width : 1920px) {
  .sidebar-collapsed {
    .office365-product {
      width: 25%;
    }
  }
  .office365-product {
    width: 33%;
  }
}
