<div class="container-fluid office365-header">
    <div class="row row-flex row-flex-wrap">
        <div class="col-sm-6 col-md-4 col-xs-12 flex-col">
            <iz-input ng-model="$ctrl.inputs.search"
                      class-name="office365-search"
                      callbacks="$ctrl.callbacks"></iz-input>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 flex-col">
            <iz-select ng-model="$ctrl.inputs.filter"
                       callbacks="$ctrl.callbacks"></iz-select>
        </div>
    </div>
</div>
<div class="container-fluid h100">
    <div class="row row-flex row-flex-wrap"
         ng-repeat="category in $ctrl.category track by $index">
        <div class="col-xs-12">
            <h1 class="title">{{category}}</h1>
        </div>
        <div class="office365-product col-xs-"
             ng-repeat="item in $ctrl.data | filter:{category: category} track by $index">
            <iz-office365-card item="item" ng-click="$ctrl.goToDetails(item.ProductId)"></iz-office365-card>
        </div>
    </div>
</div>