<div class="col-sm-{{$ctrl.ngModel.width}} iz-wysiwyg">
    <label class="control-label" ng-transclude></label>
    <label class="control-label"
           ng-if="$ctrl.ngModel.title">
        {{$ctrl.ngModel.title}}
    </label>
    <textarea ui-tinymce="$ctrl.tinymceOptions" id="wysiwyg" ng-model="$ctrl.ngModel.data"></textarea>
</div>
