<ng-form class="form-horizontal" name="networksForm">
    <div class="iz-subnets" ng-if="!$ctrl.isLoading">
        <div class="form-group relative">
            <div class="col-sm-4 v-center">
                <iz-select ng-model="$ctrl.inputs.DmzSelect"
                           callbacks="$ctrl.infrastructureCallbacks"></iz-select>
            </div>
            <div class="col-sm-4" style="margin-left: 33%;">
                <img ng-src="{{$ctrl.inputs.DmzSelect.selected.imageURL}}" class="col-xs-12">
            </div>
        </div>
        <hr class="separator">
        <div class="form-group">
            <div class="col-sm-4">
                <iz-input ng-model="$ctrl.inputs.NetworkInputs.internalNetwork"
                          ng-if="$ctrl.inputs.DmzSelect.selected.type > -1"
                          callbacks="$ctrl.genericCallbacks">
                </iz-input>
            </div>
            <div class="col-sm-4">
                <iz-input ng-model="$ctrl.inputs.NetworkInputs.privateDmzNetwork"
                          ng-if="$ctrl.inputs.DmzSelect.selected.type > 0"
                          callbacks="$ctrl.genericCallbacks">
                </iz-input>
            </div>
            <div class="col-sm-4">
                <iz-input ng-model="$ctrl.inputs.NetworkInputs.publicDmzNetwork"
                          ng-if="$ctrl.inputs.DmzSelect.selected.type > 1"
                          callbacks="$ctrl.genericCallbacks">
                </iz-input>
            </div>
        </div>
        <div class="form-group">
            <h2 class="title">Subnets</h2>
            <div class="col-sm-4" ng-if="$ctrl.inputs.DmzSelect.selected.type > -1">
                <i class="iz-icon icon-plus add-subnet"
                   ng-click="$ctrl.addSubnetwork($ctrl.subnetRoles[0])"
                   ng-if="$ctrl.canAddSubnetwork($ctrl.subnetRoles[0])"></i>
                <span ng-repeat="item in $ctrl.selectedSubnetworks | filter: {SubnetRole: {Id: $ctrl.subnetRoles[0].Id}} track by $index">
                    <h3>IPv4</h3>
                    <div class="subnet-panel">
                      <div class="">
                        <h4>Network Class</h4>
                        <iz-radiogroup ng-model="item.fields.class"
                                       callbacks="$ctrl.selectCallbacks"
                                       callback-options="{ onChange: {params: item} }">
                        </iz-radiogroup>
                        <iz-input ng-model="item.fields.ip4.ip"
                                  callbacks="$ctrl.inputCallbacks"
                                  callback-options="{ onChange: {params: item} }"
                                  ng-model-options="{debounce: 500}"
                                  ng-disabled="$ctrl.isInputsDisabled.value">
                        </iz-input>
                        <iz-select ng-model="item.fields.ip4.mask"></iz-select>
                        <iz-select ng-model="item.fields.ip4.maskBits"></iz-select>
                        <iz-input ng-model="item.fields.ip4.gateway"
                                  ng-disabled="$ctrl.isInputsDisabled.value"></iz-input>
                      </div>
                    </div>
                    <h3>IPv6</h3>
                    <div class="subnet-panel">
                      <iz-input ng-model="item.fields.ip6.prefixMask"
                                ng-disabled="$ctrl.isInputsDisabled.value"></iz-input>
                      <iz-select ng-model="item.fields.ip6.subnet"
                                 ng-disabled="$ctrl.isInputsDisabled.value"></iz-select>
                      <iz-input ng-model="item.fields.ip6.gateway"
                                ng-disabled="$ctrl.isInputsDisabled.value"></iz-input>
                    </div>
                    <iz-input ng-model="item.fields.Vlan"></iz-input>
                    <iz-textarea ng-model="item.fields.Description"></iz-textarea>
                </span>
            </div>
            <div class="col-sm-4" ng-if="$ctrl.inputs.DmzSelect.selected.type > 0">
                <i class="iz-icon icon-plus add-subnet"
                   ng-click="$ctrl.addSubnetwork($ctrl.subnetRoles[1])"
                   ng-if="$ctrl.canAddSubnetwork($ctrl.subnetRoles[1])"></i>
                <span ng-repeat="item in $ctrl.selectedSubnetworks | filter:{SubnetRole: {Id: $ctrl.subnetRoles[1].Id}} track by $index">
          <h3>IPv4</h3>
    <div class="subnet-panel">
      <div class="">
        <h4>Network Class</h4>
        <iz-radiogroup ng-model="item.fields.class"
                       callbacks="$ctrl.selectCallbacks"
                       callback-options="{ onChange: {params: item} }">
        </iz-radiogroup>
        <iz-input ng-model="item.fields.ip4.ip"
                  callbacks="$ctrl.inputCallbacks"
                  callback-options="{ onChange: {params: item} }"
                  ng-model-options="{debounce: 500}"
                  ng-disabled="$ctrl.isInputsDisabled.value"></iz-input>
        <iz-select ng-model="item.fields.ip4.mask"></iz-select>
        <iz-select ng-model="item.fields.ip4.maskBits"></iz-select>
        <iz-input ng-model="item.fields.ip4.gateway"
                  ng-disabled="$ctrl.isInputsDisabled.value"></iz-input>
      </div>
    </div>
    <h3>IPv6</h3>
    <div class="subnet-panel">
      <iz-input ng-model="item.fields.ip6.prefixMask"></iz-input>
      <iz-select ng-model="item.fields.ip6.subnet"></iz-select>
      <iz-input ng-model="item.fields.ip6.gateway"></iz-input>
    </div>
    <iz-input ng-model="item.fields.Vlan"></iz-input>
    <iz-textarea ng-model="item.fields.Description"></iz-textarea>
      </span>
            </div>
            <div class="col-sm-4" ng-if="$ctrl.inputs.DmzSelect.selected.type > 1">
                <i class="iz-icon icon-plus add-subnet"
                   ng-click="$ctrl.addSubnetwork($ctrl.subnetRoles[2])"
                   ng-if="$ctrl.canAddSubnetwork($ctrl.subnetRoles[2])"></i>
                <span ng-repeat="item in $ctrl.selectedSubnetworks | filter: {SubnetRole: {Id: $ctrl.subnetRoles[2].Id}} track by $index">
          <h3>IPv4</h3>
          <div class="subnet-panel">
            <div class="">
              <h4>Network Class</h4>
              <iz-radiogroup ng-model="item.fields.class" callbacks="$ctrl.selectCallbacks"
                             callback-options="{ onChange: {params: item} }"></iz-radiogroup>
              <iz-input ng-model="item.fields.ip4.ip"
                        callbacks="$ctrl.inputCallbacks"
                        callback-options="{ onChange: {params: item} }"
                        ng-model-options="{debounce: 500}"
                        ng-disabled="$ctrl.isInputsDisabled.value">
              </iz-input>
              <iz-select ng-model="item.fields.ip4.mask"></iz-select>
              <iz-select ng-model="item.fields.ip4.maskBits"></iz-select>
              <iz-input ng-model="item.fields.ip4.gateway"
                        ng-disabled="$ctrl.isInputsDisabled.value"></iz-input>
            </div>
          </div>
          <h3>IPv6</h3>
          <div class="subnet-panel">
            <iz-input ng-model="item.fields.ip6.prefixMask"></iz-input>
            <iz-select ng-model="item.fields.ip6.subnet"></iz-select>
            <iz-input ng-model="item.fields.ip6.gateway"></iz-input>
          </div>
          <iz-input ng-model="item.fields.Vlan"></iz-input>
          <iz-textarea ng-model="item.fields.Description"></iz-textarea>
      </span>
            </div>
        </div>
    </div>
</ng-form>
