.status-display {
  &__global-wrapper {
    position: relative;
    height: 100%;
    .user-status {
      text-align: left;
      .iz-icon{
        vertical-align: middle;
        font-size: 20px;
        height: 20px;
        line-height: 24px;
      }
      .disabled {
        &:before {
          color: #ccc;
        }
        color: #ccc;
      }
      .info {
        color: $info;
      }
      .error {
        &:before {
          color: #FD868D;
        }
        color: #FD868D;
      }
      span {
        vertical-align: middle;
      }
    }
  }
  &-wrapper {
    width: 100px;
    height: 36px;
    margin: auto;
    position: relative;
    &.progress-wrapper {
      @include alignVertical();
    }
  }
  &-text {
    color: #c3c3c3;
    text-align: center;
    line-height: 1;
    &-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70px;
    }
  }
  &-progress {
    width: 40px;
    height: 3px;
    background-color: #dadada;
    margin: auto;
    margin-bottom: 3px;
    &-overlay {
      background-color: $info;
      height: 3px;
    }
  }
  &-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
}
