<div class="status-display__global-wrapper" ng-switch="$ctrl.model">
    <div ng-switch-when="warn" class="status-display-wrapper">
        <div class="status-display-icon iz-icon icon-warning"></div>
    </div>
    <div ng-switch-when="license" class="status-display-wrapper">
        <div class="status-display-icon iz-icon icon-check" ng-if="$ctrl.status == 0"></div>
        <div class="status-display-icon iz-icon icon-warning" ng-if="$ctrl.status == 1"></div>
    </div>
    <div ng-switch-when="userStatus" class="status-display-wrapper user-status">
        <i class="iz-icon icon-user disabled" ng-if="$ctrl.status == 0"></i>
        <span ng-if="$ctrl.status == 0" class="disabled">Disabled</span>
        <i class="iz-icon icon-user" ng-if="$ctrl.status == 1"></i>
        <span ng-if="$ctrl.status == 1" class="info">Enabled</span>
        <i class="iz-icon icon-user error" ng-if="$ctrl.status == 2"></i>
        <span ng-if="$ctrl.status == 2" class="error">Error</span>
    </div>
    <div ng-switch-when="stop" class="status-display-wrapper">
        <div class="status-display-icon iz-icon icon-stop"></div>
    </div>
    <div ng-switch-when="ok" class="status-display-wrapper">
        <div class="status-display-icon iz-icon icon-check"></div>
    </div>
    <div ng-switch-when="dollar" class="status-display-wrapper">
        <div class="status-display-icon iz-icon icon-dollar"></div>
    </div>
    <div ng-switch-when="user" class="status-display-wrapper">
        <div class="status-display-icon iz-icon icon-user" ng-if="$ctrl.status"></div>
    </div>
    <div ng-switch-default class="status-display-wrapper progress-wrapper">
        <div class="status-display-text-wrapper">
            <div class="status-display-text text-muted">{{$ctrl.status}}% left</div>
            <div class="status-display-progress">
                <div class="status-display-progress-overlay" style="width: {{$ctrl.status}}%"></div>
            </div>
        </div>
    </div>
</div>