/*
 * Base structure
 */
@import "../../style/fonts";

/* Move down content because we have a fixed navbar that is 60px tall */
body {
  font-family: 'SegoeUI';
  color: #666;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/*
 * Sidebar collapsed styles
 */

.sidebar-collapsed {
  .sidebar {
    .nav-sidebar, .bottom-sidenav{
      width: 70px;
      .hidden-collapse{
        display: none;
        -webkit-transition: display .5s ease;
        -moz-transition: display .5s ease;
        -o-transition: display .5s ease;
        transition: display .5s ease;
      }
    }
    .nav-sidebar__list-item {
      &:last-child {
        margin-bottom: 98px;
      }
    }
    .bottom-sidenav {
      white-space: nowrap;
      padding: 0;
      -webkit-transition: width .5s ease;
      -moz-transition: width .5s ease;
      -o-transition: width .5s ease;
      transition: width .5s ease;
      button {
        width: 70px;
        margin: 0;
        -webkit-transition: width .5s ease;
        -moz-transition: width .5s ease;
        -o-transition: width .5s ease;
        transition: width .5s ease;
        .iz-icon {
          padding-right: 0;
        }
      }
      &__exit {
        border-right: none;
      }
      &__title {
        display: none;
      }
      &__information {
        position: fixed;
        left: 0;
        bottom: 59px;
        background-color: #fff;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #000;
      }
    }
  }
  .second-sidenav {
    left: 70px;
    -webkit-transition: left .5s ease;
    -moz-transition: left .5s ease;
    -o-transition: left .5s ease;
    transition: left .5s ease;
  }
  .main, .footer {
    margin-left: 70px;
    -webkit-transition: margin-left .5s ease;
    -moz-transition: margin-left .5s ease;
    -o-transition: margin-left .5s ease;
    transition: margin-left .5s ease;
  }
  .scrollbar-hider {
    left: 271px;
    transition: left .5s ease;
  }
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {

  .scrollbar-hider {
    position: fixed;
    width: 20px;
    height: 100%;
    top: 0;
    left: 519px;
    background-color: #fdfdfe;
    z-index: 1000;
    transition: left .5s ease;
  }

  .sidebar {
    position: fixed;
    top: 61px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    .bottom-sidenav {
      width: 318px;
      padding: 0;
      position: fixed;
      margin: 0;
      bottom: 0;
      left: 0;
      white-space: nowrap;
      background-color: #fff;
      border-top: 1px solid #666;
      -webkit-transition: width .5s ease;
      -moz-transition: width .5s ease;
      -o-transition: width .5s ease;
      transition: width .5s ease;
      li {
        display: inline-block;
        border-right: 1px solid #666;
        margin: 5px 0;
      }
      li:last-child {
        border-right-color: transparent;
      }
      button {
        width: 126px;
        height: 48px;
        font-size: 14px;
        margin: 0 15px;
        padding: 0;
        background: transparent;
        border: 0;
        vertical-align: middle;
        transition: width 1s ease;
        .iz-icon {
          font-size: 30px;
          display: inline-block;
          padding-right: 10px;
          vertical-align: middle;
        }

      }
      &__title {
        vertical-align: middle;
        display: inline-block;
       }
      button:hover {
        background-color: #f7f7f7;
        color: #4fb6dc;
      }
    }
  }
  //@media (min-width: 768px) {

    .second-sidenav {
      overflow-x: hidden;
      overflow-y: auto;
      width: 221px;
      background-color: #fdfdfe;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
      position: fixed;
      top: 61px;
      bottom: 0;
      left: 318px;
      z-index: 1000;
      display: block;
      padding: 25px;
      -webkit-transition: left .5s ease;
      -moz-transition: left .5s ease;
      -o-transition: left .5s ease;
      transition: left .5s ease;
    }
  //}
  .content-with-sidenav {
    padding-left: 221px;
    margin: 0;
    &.wide {
      padding-left: 120px;
      margin-top: -16px;
      width: calc(100% + 25px);
    }
  }
}

/* Sidebar navigation */
.nav-sidebar {
  padding: 0;
  width: 318px;
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
    &__list-item{
      display: block;
      float: none;
      &:last-child {
        margin-bottom: 60px;
      }
      &-link {
        position: relative;
        padding: 15px 20px;
        display: block;
        color: #666;
        text-decoration: none;
        margin-left: 3px;
        overflow: hidden;
        text-shadow: none;
        white-space: nowrap;
        &--title {
          font-size: 14px;
          vertical-align: middle;
        }
        &:hover, &:focus {
          border-left: solid 3px #4fb6dc;
          margin-left: 0;
          color: #4fb6dc;
          text-decoration: none;
          background-color: #f7f7f7;
          -moz-transition: color .2s ease;
          -o-transition: color .2s ease;
          -webkit-transition: color .2s ease;
          transition: color .2s ease;
        }
        i {
          width: 25px;
          margin-right: 20px;
          font-size: 30px;
          vertical-align: middle;
          display: inline-block;
          &:before {
            font-size: 30px;
            max-width: 22px;
            display: inline-block;
          }
          &:last-child {
            position: absolute;
            top: 15px;
            right: -20px;
          }
        }
      }
      & .active {
        border-left: solid 3px #4fb6dc;
        margin-left: 0;
        color: #4fb6dc;
        text-decoration: none;
        background-color: #f7f7f7;
      }
    }
}

  /*
   * Main content
   */

  .main {
    padding: 20px;
    background-color: #f8f9fb;
    .title {
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      line-height: 40px;
    }
  }
  @media (min-width: 768px) {
    .main {
      margin-top: 60px;
      padding-right: 40px;
      padding-left: 40px;
      margin-left: 318px;
      -webkit-transition: margin-left .5s ease;
      -moz-transition: margin-left .5s ease;
      -o-transition: margin-left .5s ease;
      transition: margin-left .5s ease;
    }
  }
  .main .page-header {
    margin-top: 0;
  }
.footer {
  text-align: center;
  margin-left: 318px;
  -webkit-transition: margin-left .5s ease;
  -moz-transition: margin-left .5s ease;
  -o-transition: margin-left .5s ease;
  transition: margin-left .5s ease;
}

  /*
   * Placeholder dashboard ideas
   */

  .placeholders {
    margin-bottom: 30px;
    text-align: center;
  }
  .placeholders h4 {
    margin-bottom: 0;
  }
  .placeholder {
    margin-bottom: 20px;
  }
  .placeholder img {
    display: inline-block;
    border-radius: 50%;
  }

  .panel{
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
  }
.dashboard {
  &-map {
    .Flexible-container {
      padding-bottom: 40%;
    }
  }
  &-map-legend {
    margin: 20px 0;
    &-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      &__item {
        display: inline-block;
        margin-right: 20px;
        i {
          display: inline-block;
          vertical-align: middle;
        }
        span {
          vertical-align: middle;
          text-transform: uppercase;
        }
      }
    }
  }
}

