<h1>Dashboard</h1>
<!--<iz-donut-chart></iz-donut-chart>-->
<div class="container-fluid">
    <div class="row">
        <div class="panel col-xs-12">
            <iz-map map-name="dataCenterMap" zoom="5" hide-location="true" ng-model="$ctrl.dashboard.map"
                    class="dashboard-map"></iz-map>
            <div class="dashboard-map-legend">
                <ul class="dashboard-map-legend-list">
                    <li class="dashboard-map-legend-list__item">
                        <i class="pushpin-azure"></i> <span>Microsoft Azure</span>
                    </li>
                    <li class="dashboard-map-legend-list__item">
                        <i class="pushpin-aws"></i> <span>Amazon Web Services</span>
                    </li>
                    <li class="dashboard-map-legend-list__item">
                        <i class="pushpin-other"></i> <span>Other</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
