$animationDuration: .1s;

.pretty-checkbox {
  &-wrapper {
    width: 34px;
    height: 18px;
    margin-top: 6px;
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    padding: 0;
  }
  &-rails {
    width: 30px;
    height: 14px;
    position: absolute;
    top: 2px;
    background: none;
    border: 1px solid #e0e0e0;
    border-radius: 9px;
    transition: background $animationDuration ease;
  }
  &-car {
    height: 18px;
    width: 18px;
    border: 1px solid #fefefe;
    background-color: #e0e0e0;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left $animationDuration ease, box-shadow $animationDuration;;
    box-shadow: 2px 0 2px 0 rgba(0,0,0,0.1);
  }
  &-wrapper.active {
    & .pretty-checkbox {
      &-rails {
        background-color: $info;
        transition: background-color $animationDuration ease;
      }
      &-car {
        left: 16px;
        transition: left $animationDuration ease, box-shadow $animationDuration;
        box-shadow: -2px 0 2px 0 rgba(0,0,0,0.1);
      }
    }
  }
}