<button class="pretty-checkbox-wrapper"
        uib-btn-checkbox btn-checkbox-true="true"
        btn-checkbox-false="false"
        ng-model="$ctrl.value">
    <div class="pretty-checkbox-rails"></div>
    <div class="pretty-checkbox-car"></div>
</button>
