<uib-accordion close-others="true">
    <div uib-accordion-group class="entity-configure" is-open="$first" ng-repeat="item in $ctrl.getSelectedItems()">
        <uib-accordion-heading>
            <div class="entity-configure__group">
                {{item.name}}
            </div>
        </uib-accordion-heading>
        <div class="container-fluid">
            <div class="row form-group">
                <div class="col-sm-6 col-xs-12">
                    <iz-select ng-model="item.inputs.cloud"></iz-select>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <iz-select ng-model="item.inputs.subscription"></iz-select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6 col-xs-12">
                    <iz-select ng-model="item.inputs.iProvider"></iz-select>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <iz-select ng-model="item.inputs.datacenter"></iz-select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6 col-xs-12">
                    <iz-input ng-model="item.inputs.serviceName"></iz-input>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <iz-textarea ng-model="item.inputs.description"></iz-textarea>
                </div>
            </div>
        </div>
    </div>
</uib-accordion>
<div class="row form-group entity-configure__external-button-group">
    <div class="col-sm-12 col-xs-12">
        <button class="btn btn-default">Finish</button>
    </div>
</div>
