<div class="container-fluid">
    <div class="row form-group">
        <div class="col-sm-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.search"></iz-input>
        </div>
        <div class="col-sm-3 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.filter"></iz-select>
        </div>
        <div class="col-sm-3 col-xs-12">
            <button class="btn btn-default pull-right" ng-click="$ctrl.proceed()" ng-disabled="!$ctrl.getSelectedItems().length" ui-sref="app.{{$ctrl.currentState}}.services.addservice.configure">
                Continue
            </button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-12 col-xs-12">
            <iz-radiogroup ng-model="$ctrl.inputs.radiogroup" callbacks="$ctrl.selectCallbacks"></iz-radiogroup>
        </div>
    </div>
    <div class="row row-flex row-flex-wrap form-group">
        <div class="col-lg-4 col-md-6 col-sm-12 flex-col" ng-repeat="item in $ctrl.serviceTypes track by $index">
            <iz-service-card item="item" uib-btn-checkbox ng-model="item.isSelected" ng-click="$ctrl.updateRadios()"></iz-service-card>
        </div>
    </div>
</div>
