.iz-table-radio {
  .radio {
    &-wrapper {
      width: 16px;
      height: 16px;
      margin-top: 6px;
      cursor: pointer;
      background: none;
      border: 1px solid $default-text;
      background-color: white;
      border-radius: 50%;
      position: relative;
      padding: 0;
    }
    &-wrapper.active {
      background-color: black;
    }
  }
}