<div class="iz-table-radio text-center">
    <div class="radio-wrapper btn btn-default"
         uib-btn-radio="$ctrl.item.entity.Id"
         btn-radio-true="true"
         btn-radio-false="false"
         ng-model="$ctrl.model"
         ng-click="$ctrl.callbacks && $ctrl.callbacks.onChange()">
    </div>
</div>