iz-spla-card {
  height: 100%;
  margin-bottom: 30px;
}

.spla-card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.11);
  margin: 15px 0;
  height: 100%;
  &__header{
    &-wrapper {
      padding: 10px;
      border-bottom: 1px solid $info;
    }
    &-text {
      line-height: 1;
      text-transform: uppercase;
    }
  }
  &__body {
    padding: 20px;
    &_header, &_price, &_type {
      text-align: center;
      margin: 15px 0;
      display: block;
    }
    &_header {
      font-weight: bold;
      font-size: larger;
      line-height: 1.1;
      text-align: center;
    }
    &_price {
      font-size: larger;
    }
    &_article {
      margin-top: 30px;
    }
    &_seller {
      margin-top: 15px;
      display: inline-block;
      width: calc(100% - 60px);
      float: left;
    }
    &_qty {
      margin-top: 15px;
      display: inline-block;
      width: 60px;
      text-align: right;
      float: right;
    }
    &:after {
      @include clearfix();
    }
  }

  &:hover, &.active {
    border-color: $info;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(79, 182, 220, 0.7);
    .cloud-footer {
      &__price {
        color: $default;
      }
      background: $info;
    }
  }
  & .description {
    &-wrapper {
      margin: 18px;
    }
    &-title {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
