<div class="spla-card">
    <div class="spla-card__header-wrapper">
        <span class="spla-card__header-text">{{$ctrl.item.TenantName}}</span>
    </div>
    <div class="spla-card__body">
        <span class="spla-card__body_header">
            {{$ctrl.item.Name}}
        </span>
        <span class="spla-card__body_price">
            {{$ctrl.getPriceString($ctrl.item.Price)}}
        </span>
        <span class="spla-card__body_type">
            {{$ctrl.item.LicenseName}}
        </span>
        <span class="spla-card__body_article">
            Article: {{$ctrl.item.Article}}
        </span>
        <span class="spla-card__body_seller">
            Seller #: {{$ctrl.item.SellerNumber}}
        </span>
        <span class="spla-card__body_qty">
            <i class="iz-icon icon-map-minus" ng-click="$ctrl.decrementQty($ctrl.item)"></i>
            <span class="display">{{$ctrl.item.qty}}</span>
            <i class="iz-icon icon-map-plus" ng-click="$ctrl.incrementQty($ctrl.item)"></i>
        </span>
    </div>
</div>