<!-- TODO: uncomment when backend is ready -->
<!--<div class="form-group" ng-if="!$ctrl.hidePaymentInformation">-->
    <!--<h1 class="title">Payment Information</h1>-->
    <!--<p>We use PAYMILL billing system to make purchases on 101Cloud portal.</p>-->
    <!--<p>Please <a href="https://app.paymill.com/user/register">CREATE AN ACCOUNT</a> there to be able to make purchases.</p>-->
    <!--<p class="iz-add-cloud-customer__payment-info_bottom">101Cloud doesn't store your payment information to ensure a high level of security.</p>-->
<!--</div>-->
<add-customer validate="$ctrl.validate({isValid: isValid})"
              init="$ctrl.initData"
              ng-if="!$ctrl.isLoading">
</add-customer>
<button class="btn btn-default" ng-click="$ctrl.saveCompany()" ng-disabled="!$ctrl.isTenantFormValid">Save</button>

<pre ng-if="$ctrl.showFullTenant">
    <span style="color: red">Full Tenant Object</span><br>
    {{$ctrl.Tenant | json}}
</pre>