.addoffice365 {
  &-header {
    padding: 0;
    margin: 15px 0;
  }
  &__price {
    &-wrapper {
      margin: 0 0 20px;
    }
    &-price {
      font-size: 2em;
    }
    &-suffix {
      font-size: 1.5em;
    }
  }
  &__includes {
    &-wrapper{
      background-color: #fafafa;
      height: 127px;
    }
    &-title {
      font-size: 14px;
      font-weight: 400;
      line-height: 32px;
    }
    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 15px;
      &__item {
        float: left;
        width: 31px;
        height: 31px;
        border-radius: 15px;
        background-color: white;
        border: 1px solid $info;
        margin: 0 10px 10px 0;
        position: relative;
        display: flex;
        & > .iz-icon {
          margin: auto;
          font-size: 20px;
          max-width: 17px;
          max-height: 17px;
        }
      }
      &:after {
        content: '';
        clear: both;
        visibility: hidden;
        display: block;
        font-size: 0;
        height: 0;
      }
    }
  }
}
