<div ng-if="$ctrl.ProductId || $ctrl.isLoading">
    <h1 class="title">{{$ctrl.item.ProductName}}</h1>
    <div class="container-fluid">
        <div class="row form-group">
            <div class="col-sm-12 col-xs-12">
                <p>{{$ctrl.item.Description}}</p>
                <div class="addoffice365__includes-title">Subscription includes:</div>
                <ul class="addoffice365__includes-list">
                    <li class="addoffice365__includes-list__item"
                        ng-repeat="item in $ctrl.item.Icons track by $index">
                        <img ng-src="{{item}}" alt="item" class="iz-icon" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="col-sm-12" />
    <div class="container-fluid">
        <div class="row">
            <h5>Payment</h5>
            <div class="form-group col-sm-6 col-xs-12">
                <iz-select ng-model="$ctrl.payBy"></iz-select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <iz-checkbox ng-model="$ctrl.autoAssign"></iz-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12 form-group">
                <iz-select ng-model="$ctrl.licenseResellers" callback="$ctrl.callback"></iz-select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <iz-radiogroup ng-model="$ctrl.offers"
                               ng-if="$ctrl.licenseResellers.selected"
                               callbacks="$ctrl.radioGroupCallback"></iz-radiogroup>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--<a href="#">Pay with Credit Card</a>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
<div ng-if="!$ctrl.ProductId">
    <a ui-sref="app.softlic.office365.list">back to products list</a>
</div>
