<div class="ui-grid-cell-contents" ng-class="{'price-display__bad': $ctrl.isEntityBad}"
     title="{{($ctrl.currency || 'CHF') + ' ' + $ctrl.value}}"
     ng-if="$ctrl.value || $ctrl.item.entity.Price === 0">
    {{$ctrl.getPrice($ctrl.value)}}
    <span ng-if="$ctrl.item.entity.Currency">{{$ctrl.item.entity.Currency}}</span>
</div>