<div class="container-fluid">
    <div class="row form-group">
        <div class="col-md-12">
            <h1 class="title">Set Billing Limits</h1>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Description</th>
                        <th>Per Deal</th>
                        <th>Alert if Limit is Exceeded</th>
                        <th>Per Month</th>
                        <th>Alert if Limit is Exceeded</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr class="ps-cs-billing-settings__table-row" ng-repeat="group in $ctrl.groups track by $index">
                    <td contenteditable="true">
                        {{group.Name}}
                        <div class="ps-cs-billing-settings__table-data_is-default-group radiobutton"
                             contenteditable="false"
                             ng-model="$ctrl.defaultGroup" uib-btn-radio="group.Name">
                            Default Group
                            <span class="radiobutton__checker"></span>
                        </div>
                    </td>
                    <td contenteditable="true">{{group.Description}}</td>
                    <td>
                        <iz-draggable ng-model="group.fields.groupDealProgress"></iz-draggable>
                    </td>
                    <td class="ps-cs-billing-settings__table-data_is-checkbox">
                        <iz-checkbox ng-model="group.fields.groupDealIsExceeded"></iz-checkbox>
                    </td>
                    <td>
                        <iz-draggable ng-model="group.fields.groupMonthProgress"></iz-draggable>
                    </td>
                    <td class="ps-cs-billing-settings__table-data_is-checkbox">
                        <iz-checkbox ng-model="group.fields.groupMonthIsExceeded"></iz-checkbox>
                    </td>
                    <td>
                        <spav class="ps-cs-billing-settings__table-data_is-deleter action-buttons-action icon-actions-trash"
                              ng-click="$ctrl.deleteGroup($index)"></spav>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-default" ng-click="$ctrl.addGroup()">Add Group</button>
        </div>
    </div>
</div>