<div class="container-fluid">
    <div class="row form-group">
        <div class="col-md-2 col-xs-6">
            <iz-input ng-model="$ctrl.inputs.locationPrefix" ng-disabled="true"></iz-input>
        </div>
        <div class="col-md-5 col-xs-9">
            <iz-input ng-model="$ctrl.inputs.name"></iz-input>
        </div>
    </div>
    <iz-owner-select></iz-owner-select>
    <hr>
    <div class="row form-group">
        <div class="col-md-5 col-xs-12">
            <div class="row form-group">
                <div class="col-xs-12">
                    <iz-select ng-model="$ctrl.inputs.region"></iz-select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    <iz-select ng-model="$ctrl.inputs.country"></iz-select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    <iz-input ng-model="$ctrl.inputs.city"></iz-input>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    <iz-select ng-model="$ctrl.inputs.subscription"></iz-select>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-xs-12"></div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.technology"></iz-select>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.vmmServerName"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.ip4Address"></iz-input>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.ip6Address"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.login"></iz-input>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.password"></iz-input>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.addTopLevel"></iz-input>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.addRoot"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.addChild"></iz-input>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.vmmLibraryShare"></iz-input>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.networkSettingsManaging"></iz-select>
        </div>
    </div>
    <hr>
    <subnet></subnet>
    <hr>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.publicName"></iz-input>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.internalName"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.remoteDesktopGatewayServer"></iz-input>
        </div>
    </div>
</div>