<ng-form name="ownersSubForm">
    <div class="row form-group">
        <!--<pre>{{$ctrl.inputs | json}}</pre>-->
        <div class="col-xs-12">
            <div class="row form-group">
                <div class="col-md-6 col-xs-12">
                    <iz-select ng-model="$ctrl.inputs.title" name="title-{{$ctrl.titleName}}"
                               callbacks="$ctrl.genericCallbacks">
                    </iz-select>
                </div>
                <div class="col-md-6 col-xs-12">
                    <iz-input ng-model="$ctrl.inputs.givenName"
                              name="given-name-{{$ctrl.givenNameName}}"
                              callbacks="$ctrl.genericCallbacks">
                    </iz-input>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6 col-xs-12">
                    <iz-input ng-model="$ctrl.inputs.lastName"
                              name="last-name-{{$ctrl.lastNameName}}"
                              callbacks="$ctrl.genericCallbacks"></iz-input>
                </div>
                <div class="col-md-3 col-xs-6">
                    <iz-input ng-model="$ctrl.inputs.middleName"
                              name="middleName-{{$ctrl.middleNameName}}">
                    </iz-input>
                </div>
                <div class="col-md-3 col-xs-6">
                    <iz-input ng-model="$ctrl.inputs.suffix"
                              name="suffix-{{$ctrl.suffixName}}">
                    </iz-input>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6 col-xs-12">
                    <iz-input ng-model="$ctrl.inputs.email"
                              callbacks="$ctrl.genericCallbacks"
                              name="email-{{$ctrl.emailName}}">
                    </iz-input>
                </div>
                <div class="col-md-6 col-xs-12">
                    <iz-input ng-model="$ctrl.inputs.alternativeEmail"
                              name="alternative-email-{{$ctrl.altEmailName}}">
                    </iz-input>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6 col-xs-12 no-padding">
                    <div class="col-md-4 col-xs-4">
                        <iz-select ng-model="$ctrl.inputs.phone1CountryCode"
                                   name="phone1-country-code-{{$ctrl.phone1CCName}}"
                                   callbacks="$ctrl.genericCallbacks">
                        </iz-select>
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <iz-input ng-model="$ctrl.inputs.phone1RegionCode"
                                  name="phone1-region-code-{{$ctrl.phone1RCName}}"
                                  callbacks="$ctrl.genericCallbacks">
                        </iz-input>
                    </div>
                    <div class="col-md-5 col-xs-4">
                        <iz-input ng-model="$ctrl.inputs.phone1"
                                  name="phone1-{{$ctrl.phone1Name}}"
                                  callbacks="$ctrl.genericCallbacks">
                        </iz-input>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 no-padding">
                    <div class="col-md-4 col-xs-4">
                        <iz-select ng-model="$ctrl.inputs.phone2CountryCode"
                                   name="phone2-country-code-{{$ctrl.phone2CCName}}"
                                   callbacks="$ctrl.genericCallbacks">
                        </iz-select>
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <iz-input ng-model="$ctrl.inputs.phone2RegionCode"
                                  name="phone2-region-code-{{$ctrl.phone1RCName}}"
                                  callbacks="$ctrl.genericCallbacks">
                        </iz-input>
                    </div>
                    <div class="col-md-5 col-xs-4">
                        <iz-input ng-model="$ctrl.inputs.phone2"
                                  name="phone2-{{$ctrl.phone2Name}}"
                                  callbacks="$ctrl.genericCallbacks">
                        </iz-input>
                    </div>
                </div>
            </div>
            <div class="form-group row row-flex row-flex-wrap">
                <div class="col-md-6 col-xs-12 flex-col">
                    <iz-input ng-model="$ctrl.inputs.password" name="password-{{$ctrl.passwordName}}"
                              callbacks="$ctrl.genericCallbacks">
                    </iz-input>
                </div>
            </div>
        </div>
    </div>
</ng-form>
