<div class="ui-grid-cell-contents">
    <div class="user-photo">
        <span><img ng-src="{{$ctrl.value.Photo}}" alt="avatar" class="user-photo"></span>
        <span>{{$ctrl.value.Name}}</span>
    </div>
</div>