<uib-tabset active="active">
    <uib-tab index="0" heading="Limits">
        <ps-cs-billing-limits></ps-cs-billing-limits>
    </uib-tab>
    <uib-tab index="1" heading="Currency">
        <ps-cs-currency></ps-cs-currency>
    </uib-tab>
    <uib-tab index="" heading="Restrictions">
        <ps-cs-restrictions></ps-cs-restrictions>
    </uib-tab>
    <uib-tab index="2" heading="Payment Terms">
        <ps-cs-payment-terms></ps-cs-payment-terms>
    </uib-tab>
    <uib-tab index="3" heading="Own Subscriptions">
        <ps-cs-own-subscriptions></ps-cs-own-subscriptions>
    </uib-tab>
    <uib-tab index="4" heading="Invoice Templates">
        <ps-cs-invoice-templates></ps-cs-invoice-templates>
    </uib-tab>
    <uib-tab index="5" heading="Security">
        <ps-cs-security></ps-cs-security>
    </uib-tab>
</uib-tabset>
<button class="btn btn-primary">Save</button>