<ul class="nav-sidebar" ng-cloak>
  <li ng-repeat="item in $ctrl.menuList track by $index"
      class="nav-sidebar__list-item">
    <a ui-sref="{{ item.state }}"
       class="nav-sidebar__list-item-link"
       ng-class="{active: $parent.$ctrl.$state.includes(item.state)}">
      <i class="iz-icon icon-{{ item.iconClass }}" aria-hidden="true"></i>
      <span class="nav-sidebar__list-item-link--title">{{ item.title }}</span>
      <i class="fa fa-angle-right hidden-collapse" aria-hidden="true" ng-if="item.hasAngleIcon"></i>
    </a>
  </li>
</ul>
<ul class="bottom-sidenav">
  <li class="bottom-sidenav__exit">
    <button ng-click="$ctrl.logout()">
      <i class="iz-icon icon-logout">
      </i>
      <span class="bottom-sidenav__title">
        Logout
      </span>
    </button>
  </li>
  <li class="bottom-sidenav__information">
    <button>
      <i class="iz-icon icon-info-thin">
      </i>
      <span class="bottom-sidenav__title">
        Help
      </span>
    </button>
  </li>
</ul>
