<div class="container-fluid">
    <div class="row form-group">
        <h1 class="title">Add Terms & Conditions</h1>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.name">Terms & Conditions Name</iz-input>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.type">Terms & Conditions Type</iz-select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-datepicker ng-model="$ctrl.inputs.fromDate">From Date</iz-datepicker>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-datepicker ng-model="$ctrl.inputs.toDate">To Date</iz-datepicker>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            <iz-wysiwyg ng-model="$ctrl.inputs.description">Description</iz-wysiwyg>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            <label class="control-label s-legal-settings__status_label">Current Status</label>
            <div class="btn-group">
                <label class="btn btn-primary s-legal-settings__status_action active"
                       ng-model="$ctrl.inputs.status.data" uib-btn-radio="'active'">Active</label>
                <label class="btn btn-primary s-legal-settings__status_action" ng-model="$ctrl.inputs.status.data"
                       uib-btn-radio="'inactive'">Inactive</label>
            </div>
            <iz-checkbox ng-model="$ctrl.inputs.retried"></iz-checkbox>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-xs-12">
            <div class="s-legal-settings__attacher"
                 nv-file-drop
                 uploader="$ctrl.documentUploader"
                 nv-file-over
                 over-class="over">
                <div class="s-legal-settings__attacher_select-wrapper">
                    <span class="iz-icon icon-paper-clips"></span>
                    Attach Documents
                    <input class="s-legal-settings__attacher_select"
                           type="file"
                           nv-file-select
                           uploader="$ctrl.documentUploader"
                           multiple/>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <p ng-if="$ctrl.documentUploader.queue.length > 0">Attached Documents:</p>
    <div class="s-legal-settings__documents-list" ng-repeat="item in $ctrl.documentUploader.queue">
        <div class="s-legal-settings__documents-list_item">
            <span class="s-legal-settings__documents-list_item-header">Name:</span>
            <span class="s-legal-settings__documents-list_item-value">{{item.file.name}}</span>
        </div>
    </div>
</div>
