// TODO: Use mixins and variables
.virtual-separator-bottom {
  margin-bottom: 30px;
}
.no-resize {
  resize: none;
}
.total {
  &__header {
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
  }
  &__price {
    margin-left: 20px;
    color: $info;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    line-height: 47px;
    text-transform: uppercase;
  }
}

.cloud__header {
  position: relative;
  margin: 20px 0;
  .btn-compare {
    margin-top: 20px;
  }
}

.step-company {
  &-contact-person {
    &-receive-billings {
      position: absolute !important;
      right: 20px;
      top: 10px;
    }
  }
  &-company-contact-address {
    &-use-for {
      margin: 10px 0;
    }
  }
}
.dc-clouds {
  &-add-cloud {
    &__operations {
      background-color: white;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.11);
      margin: 5px 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &-wrapper {
        padding: 0 15px;
      }
      &__header{
        padding: 18px 20px;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        text-transform: uppercase;
        border-bottom: 1px $info solid;
        position: relative;
        &-brief {
          text-transform: none;
        }
      }
      &__body {
        padding: 20px;
      }
      .cloud-footer {
        border-bottom: 3px $info solid;
        border-radius: 0 0 3px 3px;
        position: relative;
        &__counter {
          position: absolute;
          width: 100px;
          margin-left: 18px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 0;
          &-wrapper{
            position: relative;
            height: 100%;
          }
          &-item {
            display: inline-block;
            left: 28px;
            width: 31px !important;
            height: 31px !important;
            position: relative;
            cursor: pointer;
            font-size: 30px;
            color: #cecece;
            &:first-child {
              left: 0;
            }
            &:hover {
              color: $info;
            }
          }
          & .display {
            display: inline-block;
            position: absolute;
            font-size: 14px;
            width: 28px;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &__price {
          display: inline-block;
          color: $info;
          font-size: 24px;
          text-align: right;
          font-weight: 300;
          line-height: 47px;
          text-transform: uppercase;
          padding-right: 18px;
        }
      }
    }
  }
}

.hardware-info {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.11);
  margin: 5px 0;
  &__header{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
    border-bottom: 1px $info solid;
    position: relative;
  }
  &__body {

  }
  .body-list {
    list-style: none;
    &__item {
      padding: 9px;
      position: relative;
      &-icon {
        font-size: 20px;
        left: -20px;
        @include alignVertical();
      }
      &:after {
        clear: both;
      }
    }
  }
  .integration {
    &-wrapper{
      background-color: #fafafa;
    }
    &-title {
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      line-height: 32px;
    }
    &-list {
      list-style: none;
      //padding: 18px;
      margin: 0;
      font-weight: bold;
      &__item {
        padding: 9px;
        position: relative;
      }
    }
  }
  & .icon {
    width: 20px;
    height: 20px;
    position: absolute;
    font-size: 20px;
    left: -22px;
    top: 8px;
    display: block;
    &.processor  {
      background: url("./../assets/img/icons/processor.svg") no-repeat center center;
    }
    &.hdd {
      background: url("./../assets/img/icons/hdd.svg") no-repeat center center;
    }
    &.disc {
      background: url("./../assets/img/icons/disc.svg") no-repeat center center;
    }
    &.database {
      background: url("./../assets/img/icons/database.svg") no-repeat center center;
    }
    &.i {
      background: url("./../assets/img/icons/i.svg") no-repeat center center;
    }
    &.scale {
      background: url("./../assets/img/icons/scale.svg") no-repeat center center;
    }
    &.speed {
      background: url("./../assets/img/icons/speed.svg") no-repeat center center;
    }
    &.storage {
      background: url("./../assets/img/icons/hdd.svg") no-repeat center center;
    }
  }
  .cloud-footer {
    border-bottom: 3px $info solid;
    border-radius: 0 0 3px 3px;
    &__price {
      color: $info;
      font-size: 24px;
      text-align: center;
      font-weight: 300;
      line-height: 47px;
    }
  }
  &:hover, &.active {
    border-color: $info;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(79, 182, 220, 0.7);
    .cloud-footer {
      &__price {
        color: $default;
      }
      background: $info;
    }
  }
  //&.active {
  //  border-color: $info;
  //  cursor: pointer;
  //  box-shadow: 0 0 6px rgba(79, 182, 220, 0.7);
  //  .cloud-footer {
  //    &__price {
  //      color: $default;
  //    }
  //    background: $info;
  //  }
  //}
}

.gray-panel {
  background-color: $default;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@import "../../../../common/screens/addcustomer/addcustomer";