<h1 class="title">Cloud Creating</h1>
<div class="add-cloud">
  <progress-bar ng-model="$ctrl.progressbar" progress-type="steps" callbacks="$ctrl.callbacks"></progress-bar>
    <div ng-switch="$ctrl.progressbar.currentStep.name" ng-if="$ctrl.state === 'steps'">
      <div ng-switch-when="cloud-type">
        <iz-add-cloud-cloud-type></iz-add-cloud-cloud-type>
      </div>
      <div ng-switch-when="customer">
        <add-customer validate="$ctrl.validate({isValid: isValid})" is-no-init="true"></add-customer>
      </div>
      <div ng-switch-when="datacenter">
        <add-datacenter ng-model="$ctrl.inputs.generalSettings.addDatacenter" validate="$ctrl.validate({isValid: isValid})"></add-datacenter>
      </div>
      <div ng-switch-when="location">
        <add-location validate="$ctrl.validate({isValid: isValid})"></add-location>
      </div>
      <div ng-switch-when="subscription">
        <add-subscription validate="$ctrl.validate({isValid: isValid})"
                          datacenter="$ctrl.datacenter"
                          hide-i-provider="true"
                          type="add-cloud"></add-subscription>
      </div>
      <div ng-switch-when="cloud-settings">
        <iz-add-cloud-cloud-settings validate="$ctrl.validate({isValid: isValid})"></iz-add-cloud-cloud-settings>
      </div>
      <div ng-switch-when="additional-services">
        <iz-add-cloud-additional-services validate="$ctrl.validate({isValid: isValid})"></iz-add-cloud-additional-services>
      </div>
    </div>
  <iz-checkout-screen ng-if="$ctrl.state === 'checkout'" cloud-data="$ctrl.checkoutData"
                      callbacks="$ctrl.checkoutCallbacks" is-loading="$ctrl.isPostProcessing"></iz-checkout-screen>
    <pre ng-if="$ctrl.showFullCloud">{{$ctrl.FullCloud | json : 2}}</pre>
  <div class="clearfix"></div>
  <progress-bar ng-model="$ctrl.progressbar" progress-type="{{$ctrl.lowerProgressBarType}}" callbacks="$ctrl.callbacks"></progress-bar>
<!--{{$ctrl.rawCheckout}}-->
</div>
