@mixin actionMenuIcon() {
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.power-menu {
  &-wrapper {
    position: relative;
    height: 36px;
    width: 36px;
    text-align: left;
    font-size: 20px;
    &.open {
      & > button {
        background: none;
        box-shadow: none !important;
        background-color: #e0e0e0;
      }
    }
  }
  @include alignVertical();
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 0;
  background-size: 20px 20px;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: #e0e0e0;
    transform: translateY(-50%);
  }
  &-list {
    & .icon-power_icon-1:before,
    & .icon-power_icon-2:before,
    & .icon-power_icon-3:before,
    & .icon-power_icon-4:before {
      @include alignVertical();
    }
    &-item {
      background-size: 16px 16px;

      cursor: pointer;
      & a {
        position: relative;
        height: 36px;
        padding-left: 10px !important;
        vertical-align: middle;
      }

      & a:hover {
        color: $info !important;
        &:after {
          @include actionMenuIcon();
          content: '\e969';
          font-family: 'iz-icons' !important;
          left: auto;
          right: 0;
        }
      }

      &-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-family: SegoeUI, sans-serif;
        left: 30px;
        &:hover {
          transform: translateY(-50%);
        }
      }
    }
    &.dropdown-menu {
      padding: 0;
      border-radius: 0;
    }
  }
}