<div class="btn-group power-menu-wrapper" uib-dropdown>
    <button id="btn btn-primary single-button" class="power-menu iz-icon {{$ctrl.state}}" uib-dropdown-toggle></button>

    <ul class="dropdown-menu power-menu-list" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li class="power-menu-list-item" role="menuitem">
            <a href="#" class="power-menu-list-item iz-icon icon-power_icon-1" ng-click="$ctrl.setState('icon-power_icon-1')">
                <span class="power-menu-list-item-text">Shut-down</span></a>
        </li>
        <li class="power-menu-list-item" role="menuitem">
            <a href="#" class="power-menu-list-item iz-icon icon-power_icon-4" ng-click="$ctrl.setState('icon-power_icon-4')">
                <span class="power-menu-list-item-text">Power-off</span>
            </a>
        </li>
        <li class="power-menu-list-item" role="menuitem">
            <a href="#" class="power-menu-list-item iz-icon icon-power_icon-2" ng-click="$ctrl.setState('icon-power_icon-2')">
                <span class="power-menu-list-item-text">Reset</span>
            </a>
        </li>
        <li class="power-menu-list-item" role="menuitem">
            <a href="#" class="power-menu-list-item iz-icon icon-power_icon-3" ng-click="$ctrl.setState('icon-power_icon-3')">
                <span class="power-menu-list-item-text">Power-on</span>
            </a>
        </li>
    </ul>

</div>
