<div ng-if="$ctrl.ownSubscriptionVisible">
    <h1 class="title">Own Subscriptions</h1>
    <button class="btn btn-primary ps-cs-own-subscriptions__button-add" ng-click="$ctrl.add()">Add</button>
    <iz-table table-options="$ctrl.tableOptions" ng-if="$ctrl.tableOptions"></iz-table>
</div>
<div ng-if="!$ctrl.ownSubscriptionVisible">
    <h1 class="title">Add Own Subscriptions</h1>
    <div class="container-fluid">
        <div class="row form-group">
            <div class="col-md-6 col-xs-12">
                <iz-select ng-model="$ctrl.inputs.regions"></iz-select>
            </div>
            <div class="col-md-6 col-xs-12">
                <iz-select ng-model="$ctrl.inputs.countries"></iz-select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6 col-xs-12">
                <iz-select ng-model="$ctrl.inputs.serviceProvider"></iz-select>
            </div>
        </div>
        <iz-owner-select></iz-owner-select>
        <hr>
    </div>
    <add-subscription type="$ctrl.type"></add-subscription>
</div>
