$izSchedulerCellHeight: 18px;
$izSchedulerCellWidth: 46px;
.iz-scheduler {
  min-width: 450px;
  &__wrapper {
    padding: 30px;
    &:last-child {
      padding-top: 0;
    }
  }
  &__row {
    height: $izSchedulerCellHeight;
    &:last-child {
      & .iz-scheduler__data {
        border-bottom: 1px solid #e0e0e0;
      }
    }
  }
  &__data, &__header-data {
    width: $izSchedulerCellWidth;
    height: $izSchedulerCellHeight;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  &__data {
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    &.active {
      background-color: $info;
    }
    &:last-child {
      border-right: 1px solid #e0e0e0;
    }
  }
  &__header {
    &-data {
      text-align: center;
      font-size: 11px;
      vertical-align: middle;
      line-height: 1;
      &.vertical {
        -ms-text-align-last: right;
        text-align: left;
      }
    }
  }

  &__legend {
    &-marker {
      display: inline-block;
      position: relative;
      padding-left: 25px;
      //margin-top: 30px;
      &:before {
        content: '';
        display: block;
        border: 1px solid $info;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        left: 0;
        @include alignVertical();
      }

      &.available {
        &:before {
          background-color: $info;
        }
      }
    }
    &_action-set {
      margin-top: -10px;
      height: 32px;
    }
  }
}
