<div class="col-sm-{{$ctrl.ngModel.width}} iz-scheduler">
    <label class="control-label"
           ng-if="$ctrl.ngModel.title">
        {{$ctrl.ngModel.title}}
    </label>
    <div>
        <div class="btn-group btn-flex iz-scheduler-group" uib-dropdown is-open="$ctrl.isOpened"
             auto-close="outsideClick">
            <input type="text"
                   class="btn form-control"
                   ng-model="$ctrl.ngModel.display"
                   ng-required="$ctrl.ngModel.required"
                   readonly>
            <button type="button"
                    class="btn dropdown-toggle"
                    uib-dropdown-toggle>
                <i class="iz-icon icon-calendar" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu"
                 uib-dropdown-menu
                 role="menu"
                 aria-labelledby="split-button">
                <div class="iz-scheduler">

                    <div class="iz-scheduler__wrapper">
                        <div class="iz-scheduler__header">
                            <span class="iz-scheduler__header-data"></span>
                            <span class="iz-scheduler__header-data" ng-repeat="day in $ctrl.days">{{day}}</span>
                        </div>
                        <div class="iz-scheduler__row" ng-repeat="hour in $ctrl.hours">
                            <span class="iz-scheduler__header-data vertical">{{hour}}</span>
                            <span class="iz-scheduler__data" ng-repeat="day in $ctrl.days"
                                  uib-btn-checkbox
                                  btn-checkbox-true="true"
                                  btn-checkbox-false="false"
                                  ng-model="$ctrl.schedule[$index][$parent.$index]"></span>
                        </div>
                    </div>

                    <div class="iz-scheduler__wrapper">
                        <div class="container-fluid">
                            <div class="row iz-scheduler__legend">
                                <div class="col-xs-4 no-padding">
                                    <span class="iz-scheduler__legend-marker">Not Available</span>
                                </div>
                                <div class="col-xs-4 no-padding">
                                    <span class="iz-scheduler__legend-marker available">Available</span>
                                </div>
                                <div class="col-xs-4 no-padding">
                                    <button type="button"
                                            class="btn btn-primary btn-block pull-right iz-scheduler__legend_action-set"
                                            ng-click="$ctrl.setData()">
                                        Set
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
