<div ng-if="$ctrl.state === 'select'">
  <div class="container-fluid dc-add-server__step-select-wrapper">
    <div class="row form-group">
      <div class="col-sm-6 col-xs-12">
        <iz-input ng-model="$ctrl.inputs.select.search"></iz-input>
      </div>
      <div class="col-sm-3 col-xs-12">
        <iz-select ng-model="$ctrl.inputs.select.filter"></iz-select>
      </div>
      <div class="col-sm-3 col-xs-12">
        <button class="btn btn-default pull-right" ng-click="$ctrl.continue()" ng-disabled="!$ctrl.getSelectedItems().length">
          Continue
        </button>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-12 col-xs-12">
        <iz-radiogroup ng-model="$ctrl.inputs.select.radiogroup" callbacks="$ctrl.selectCallbacks"></iz-radiogroup>
      </div>
    </div>
    <h1 class="title">Add Servers</h1>
    <div class="row row-flex row-flex-wrap form-group">
      <div class="col-sm-4 col-xs-12 flex-col" ng-repeat="item in $ctrl.serverList track by $index">
        <iz-server-card item="item" uib-btn-checkbox ng-click="$ctrl.updateRadios()"
                        ng-style="{'z-index': $ctrl.serverList.length - $index}"
                        ng-model="item.isSelected"
                        btn-checkbox-true="true"
                        btn-checkbox-false="false"></iz-server-card>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="$ctrl.state === 'configure'">
  <div class="col-md-12">
    <h1 class="title">Add server</h1>
  </div>
  <uib-accordion close-others="true" ng-if="!$ctrl.$state.is('app.' + $ctrl.currentState + '.servers.addserver.select')">
    <div uib-accordion-group class="entity-configure" is-open="$first" ng-repeat="item in $ctrl.getSelectedItems()">
      <uib-accordion-heading>
        <div class="entity-configure__group">
          {{item.name}}
        </div>
      </uib-accordion-heading>
      <div class="add-cloud">
        <form class="form-horizontal">
          <progress-bar ng-model="$ctrl.progressbar" progress-type="steps"></progress-bar>
          <form name="addCloud">

            <div ng-switch="$ctrl.progressbar.currentStep.name">
              <div ng-switch-when="general">
                <iz-add-server-general></iz-add-server-general>
              </div>
              <div ng-switch-when="license">
                <iz-add-server-license></iz-add-server-license>
              </div>
              <div ng-switch-when="maintenance">
                <iz-add-server-maintenance></iz-add-server-maintenance>
              </div>
            </div>

          </form>
          <div class="clearfix"></div>
          <progress-bar ng-model="$ctrl.progressbar" progress-type="pager"></progress-bar>
        </form>
      </div>
    </div>
  </uib-accordion>
</div>