<h1 class="title">Add Location</h1>
<div class="add-location">
    <form class="form-horizontal" name="locationForm">
      <div class="form-group">
        <div class="col-sm-2">
          <iz-input ng-model="$ctrl.inputs.prefix" ng-disabled="true"></iz-input>
        </div>
        <div class="col-sm-6">
          <iz-input ng-model="$ctrl.inputs.name" name="inputName" callbacks="$ctrl.genericCallbacks"></iz-input>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8">
          <iz-textarea ng-model="$ctrl.inputs.description" ng-disabled="true"></iz-textarea>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-sm-6">
          <iz-select ng-model="$ctrl.inputs.region"
                     callbacks="$ctrl.regionCallbacks" name="selectRegion"></iz-select>
        </div>
        <div class="col-sm-6">
          <iz-select ng-model="$ctrl.inputs.country"
                     autocomplete="true"
                     callbacks="$ctrl.countryCallbacks" name="selectCountry"></iz-select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <iz-input ng-model="$ctrl.inputs.city"
                    ng-disabled="!$ctrl.inputs.country.selected" autocomplete="true"></iz-input>
        </div>
        <div class="col-sm-6">
          <iz-input ng-model="$ctrl.inputs.street"
                    ng-disabled="!$ctrl.inputs.city.data"></iz-input>
        </div>
      </div>
      <iz-map map-name="location" zoom="13" class="iz-map" ng-model="$ctrl.inputs.mapSource"></iz-map>
      <hr>
      <div class="container-fluid">
        <div class="col-xs-12">
          <subnet validate="$ctrl.validateSubnet({isValid: isValid})"></subnet>
        </div>
      </div>
    </form>
</div>