.progressbar {
  height: 40px;
  margin-bottom: 20px;
  .progress-bar {
    background-color: $info;
  }
  position: relative;
  &-step {
    position: absolute;
    top: -7px;
    transform: translateX(-50%);
    color: #666;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: $info;
    }
    &:before {
      width: 15px;
      height: 15px;
      background-color: white;
      border: 1px solid #cbcbcb;
      content: '';
      counter-increment: step;
      line-height: 30px;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      z-index: 1;
      position: relative;
      &:hover {
        color: $info;
        background-color: $info;
      }
    }

  }
  &-step.active, &-step:hover {
    &:before {
      cursor: pointer;
      border-color: $info;
      background-color: $info;
    }
    a {
      text-decoration: none;
      color: $info;
    }
  }

  &-step.invalid {
    color: complement($info);
    &:before {
      border-color: complement($info);
      background-color: complement($info)
    }
  }

  &-step.disabled {
    cursor: default;
    color: #cecece;
    &:before {
      cursor: default;
      border-color: #cecece;
      background-color: #cecece
    }
  }

  .progress {
    height: 2px;
    background-color: #cbcbcb;
  }
}