<div class="container-fluid" ng-if="$ctrl.progressType === 'steps'">
  <div class="progressbar">
    <uib-progressbar value="$ctrl.getProgress()"></uib-progressbar>
      <div ng-repeat="step in $ctrl.ngModel.steps"
          ng-class="{active: $index <= $ctrl.getCurrentIndex(),
                     disabled: step.isDisabled,
                     invalid: (step.isValid === false) && ($index !== $ctrl.getCurrentIndex())}"
          ng-click="$ctrl.goToStep($index)"
          class="progressbar-step"
          ng-style="{left: ($index / $ctrl.stepsCount * 100) + '%'}">
        {{step.title}}
      </div>
  </div>
</div>

<ul class="pager" ng-if="$ctrl.progressType === 'pager'">
  <li class=""
      ng-if="$ctrl.hasPreviousStep()">
    <button
        class="btn btn-default"
        ng-click="$ctrl.decrementStep()">&larr; Previous Step</button>
  </li>
  <li class=""
      ng-if="$ctrl.hasNextStep()">
    <button
        class="btn btn-default"
        ng-click="$ctrl.incrementStep()"
        ng-disabled="$ctrl.isNextDisabled()">Next Step &rarr;</button>
  </li>
  <li>
    <button class="btn btn-default"
            ng-if="!$ctrl.hasNextStep()"
            ng-click="!$ctrl.callbacks.onSaveClick()">Save</button>
  </li>
  <!--<li>-->
    <!--<button class="btn btn-success"-->
            <!--ng-if="!$ctrl.hasNextStep()"-->
            <!--ng-click="$ctrl.callbacks.onConfirmClick()"-->
            <!--ng-disabled="$ctrl.isCheckoutDisabled()">Check Out</button>-->
  <!--</li>-->
</ul>