<div class="row">
    <div class="form-group">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 flex-col"
             ng-repeat="item in $ctrl.virtualDatacenters">
            <div class="hardware-info"
                 ng-class="{'active': $ctrl.virtualDatacenterId === item.Id}"
                 uib-btn-radio="{{item.Id}}" ng-model="$ctrl.virtualDatacenterId"
                 ng-click="$ctrl.setVirtualDatacenter(item)">
                <div class="hardware-info__header">
                    <span>{{item.Name}}</span>
                </div>
                <div class="hardware-info__body">
                    <ul class="body-list">
                        <li class="body-list__item" ng-if="item.DownloadSpeed">
                            {{item.DownloadSpeed}} Mbps up- & download
                        </li>
                        <li class="body-list__item" ng-if="item.PublicIp4 || item.PublicIp6">
                            {{item.PublicIp4}} IPv4 incl. /{{item.PublicIp6}} IPv6 network
                        </li>
                        <li class="body-list__item" ng-if="item.IpAddressRange">
                            /{{item.IpAddressRange}} IP address range ({{item.IpAddresses}} IP addresses)
                        </li>
                        <li class="body-list__item" ng-if="item.DedicatedFireWall">
                            Dedicated Firewall ({{item.DedicatedFireWall}})
                        </li>
                        <li class="body-list__item" ng-if="item.Ram || item.Cpu">
                            {{item.Ram}} GB RAM and {{item.Cpu}} vCPU (1 vCPU min {{item.MinCpuFrequency}} GHz)
                        </li>
                        <li class="body-list__item" ng-if="item.Storage">
                            {{item.Storage}} GB Performance Storage
                        </li>
                        <li class="body-list__item" ng-if="item.VmDescription">
                            {{item.VmDescription}}
                        </li>
                        <li class="body-list__item" ng-if="item.SupportDescription">
                            {{item.SupportDescription}}
                        </li>
                    </ul>
                </div>
                <div class="cloud-footer">
                    <div class="btn-block cloud-footer__price">
                        {{$ctrl.getPrice(item.Price)}} <span ng-if="item.Price >= 0">per month</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>