<div class="row">
    <div class="col-sm-6 col-xs-6 text-right">
        <h1 class="title no-margin">Clouds Comparison</h1>
    </div>
    <div class="col-sm-6 col-xs-6 text-right">
        <a id="add"
           type="button"
           class="btn btn-default"
           ui-sref="app.depconf.clouds.addcloud">
            Return to cloud types
        </a>
    </div>
</div>
<div class="row row-flex row-flex-wrap">
    <!-- TODO: get know whether we need exactly 3 columns -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 flex-col" ng-repeat="item in $ctrl.compareList">
        <cloudtype item="item" show-compare="false" index-bold-start="$ctrl.getIndexBoldStart($index)"></cloudtype>
    </div>
</div>