@import 'conf/colorScheme/_mint.scss';

@for $steps from 1 through 7 {
  $multiplier: 1%;
  .steps-#{$steps} {
    width: 100 / $steps * $multiplier;
  }
}

.progressbar {
  counter-reset: step;
  &-step {
    color: $default-text;
    &:hover {
      color: $info;
      text-decoration: none;
    }
  }
  &-step.active {
    color: $info;
  }
}
.progressbar li {
  list-style-type: none;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: $default-text;
  cursor: pointer;
  &:hover {
    color: $info;
  }
}
.progressbar li:before {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid #cbcbcb;
  line-height: 30px;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  z-index: 1;
  position: relative;
  &:hover {
    color: $info;
    background-color: $info;
  }
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #cbcbcb;
  top: 7px;
  left: -50%;
  z-index: 0;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: $info;
}
.progressbar li.active:before {
  border-color: $info;
  background-color: $info;
}
.progressbar li.active:after {
  background-color: $info;
}