iz-azure-card {
  height: 100%;
  margin-bottom: 30px;
}

.azure-card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.11);
  margin: 15px 0;
  height: 100%;
  &-aligner {
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin-top: -50px;
      padding-top: 50px;
    }
  }
  &__header{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
    border-bottom: 1px $info solid;
    position: relative;
    height: 50px;
    .suggestion {
      position: absolute;
      right: 20px;
      top: 10px;
      background: none;
      border: none;
      color: $info;
      &:hover, &.active {
        color: #fff;
        border-radius: 50%;
        background-color: $info;
      }
    }
  }
  &__body {
    padding: 20px;
  }
  .body-list {
    margin-left: 0;
  }

  .cloud-footer {
    border-bottom: 3px $info solid;
    border-radius: 0 0 3px 3px;
    &__price {
      color: $info;
      font-size: 24px;
      text-align: center;
      font-weight: 300;
      line-height: 47px;
    }
  }
  &:hover, &.selected {
    border-color: $info;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(79, 182, 220, 0.7);
    .cloud-footer {
      &__price {
        color: $default;
      }
      background: $info;
    }
  }
  & .description {
    &-wrapper {
      margin: 18px;
    }
    &-title {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}