<div class="azure-card">
    <div class="azure-card__header">
        <span>{{$ctrl.item.name}}</span>
    </div>
    <div class="azure-card-aligner-wrapper">
        <div class="azure-card__body">
            <ul class="body-list">
                <li ng-repeat="benefit in $ctrl.item.data">{{benefit}}</li>
            </ul>
        </div>
        <div class="bottom-wrapper">
            <div class="cloud-footer">
                <div class="btn-block cloud-footer__price">{{$ctrl.price}}</div>
            </div>
        </div>
    </div>
</div>