.dashboard-graph {
  background: transparent;
  display: inline-block;
  top: 0;
  &__chart {
    display: inline-block;
    width: 200px;
    height: 40px;
    position: relative;
    min-height: 40px;
    overflow: hidden;
    padding: 1px;
    border-left: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
  }

  &__chart iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

}