<div class="ui-grid-cell-contents">
    <div class="dashboard-graph__chart">
        <canvas id="line"
                class="chart chart-line"
                width="100"
                height="38"
                chart-data="data"
                chart-labels="labels"
                chart-series="series"
                chart-options="options"
                chart-dataset-override="datasetOverride"
                chart-click="onClick">
        </canvas>
    </div>
</div>