<h1 class="title">Security Roles and Permissions</h1>
<div class="ps-cs-security__table-wrapper" ng-repeat="table in $ctrl.tables">
    <h1 class="title">{{table.displayName}}</h1>
    <iz-table table-options="table"></iz-table>
    <button class="btn btn-default">Add</button>
    <hr>
</div>