cloudtype {
  height: 100%;
  margin-bottom: 30px;
}

.cloud-type {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.11);
  margin: 5px 0;
  height: 100%;
  &-aligner {
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin-top: -50px;
      padding-top: 50px;
    }
  }
  &__header{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
    border-bottom: 1px $info solid;
    position: relative;
    height: 50px;
    .suggestion {
      position: absolute;
      right: 20px;
      top: 10px;
      background: none;
      border: none;
      color: $info;
      &:hover, &.active {
        color: #fff;
        border-radius: 50%;
        background-color: $info;
      }
    }
  }
  &__body {
    padding: 20px;
    padding-left: 0;
  }
  .body-list {
    margin-left: 0;
    line-height: 2.3em;
    & > .differ {
      font-weight: bold;
    }
  }
  .integration {
    &-wrapper{
      background-color: #fafafa;
      height: 127px;
    }
    &-title {
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      line-height: 32px;
      margin-bottom: 10px;
    }
    &-list {
      list-style: none;
      margin: 0;
      padding: 0 15px;
      display: flex;
      &__item {
        width: 31px;
        height: 31px;
        border-radius: 15px;
        background-color: white;
        border: 1px solid $info;
        margin: 0 5px 10px 5px;
        position: relative;
        flex: 0 1 auto;
        .icon {
          position: absolute;
          font-size: 20px;
          top: 50%;
          transform: translate(-50%, -50%);
          left: 50%;
        }
      }

      &:after {
        clear: both;
      }
    }
  }

  .cloud-footer {
    border-bottom: 3px $info solid;
    border-radius: 0 0 3px 3px;
    &__price {
      color: $info;
      font-size: 24px;
      text-align: center;
      font-weight: 300;
      line-height: 47px;
    }
  }
  &:hover, &.selected {
    border-color: $info;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(79, 182, 220, 0.7);
    .cloud-footer {
      &__price {
        color: $default;
      }
      background: $info;
    }
  }
  & .description {
    &-wrapper {
      padding: 18px;
      text-align: center;
    }
    &-title {
      font-size: 1em;
      text-transform: uppercase;
    }
  }
}

.active {
  .cloud-type {
    border-color: $info;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(79, 182, 220, 0.7);
    .cloud-footer {
      &__price {
        color: $default;
      }
      background: $info;
    }
  }
}

@import './modal/modal';