<div class="cloud-type">
    <div class="cloud-type__header">
        <span>{{$ctrl.item.Type}}</span>
        <button class="pull-rigth suggestion is-suggestion"
                uib-btn-checkbox
                btn-checkbox-true="1"
                btn-checkbox-false="0"
                ng-model="$ctrl.item.suggestion"
                ng-if="$ctrl.showCompare">
            <i class="fa fa-balance-scale is-suggestion" aria-hidden="true"></i>
        </button>
    </div>
    <div class="cloud-type-aligner-wrapper">
        <div class="cloud-type__body">
            <ul class="body-list">
                <li ng-class="{'differ': $ctrl.indexBoldStart <= $index && $ctrl.indexBoldStart !== -1}" ng-repeat="benefit in $ctrl.item.BenefitsList">{{benefit}}</li>
            </ul>
        </div>
        <div class="bottom-wrapper">
            <div class="integration-wrapper">
                <div class="integration-title">Integration</div>
                <ul class="integration-list row-flex row-flex-wrap">
                    <li class="integration-list__item flex-col"
                        ng-repeat="item in $ctrl.item.IntegrationList">
                        <i class="icon iz-icon {{item}}">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="description-wrapper">
                <a href="#" class="cloud-type__read-more" ng-click="$ctrl.open()">Read More</a>
            </div>
            <div class="cloud-footer">
                <div class="btn-block cloud-footer__price">from {{$ctrl.price}} {{$ctrl.item.suffix}} *</div>
            </div>
        </div>
    </div>
</div>