<div class="container-fluid pricelist">
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <iz-select ng-model="$ctrl.filters.Countries"
                           autocomplete="true"
                           callbacks="$ctrl.filters.callback"></iz-select>
            </div>
            <div class="col-md-2">
                <iz-select ng-model="$ctrl.filters.Types"
                           callbacks="$ctrl.filters.callback"></iz-select>
            </div>
            <div class="col-md-2">
                <iz-select ng-model="$ctrl.filters.Currencies"
                           callbacks="$ctrl.filters.callback"></iz-select>
            </div>
            <div class="col-md-2">
                <iz-select ng-model="$ctrl.filters.Periods"
                           callbacks="$ctrl.filters.callback"></iz-select>
            </div>
            <div class="col-md-2">
                <iz-select ng-model="$ctrl.filters.Vendors"
                           callbacks="$ctrl.filters.callback"></iz-select>
            </div>
            <div class="col-md-2">
                <iz-select ng-model="$ctrl.filters.Products"
                           callbacks="$ctrl.filters.callback"></iz-select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-success"
                        ng-click="$ctrl.getPricelist()">Show</button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-info"
                        ng-click="$ctrl.publishPricelist()">Publish</button>
            </div>
            <div class="col-md-1">
                <i class="upload-price-icon"
                        ng-click="$ctrl.publishPricelist()">Publish</i>
            </div>
        </div>
    </div>
    <iz-table table-options="$ctrl.tableOptions"
              ng-if="$ctrl.isPriceListLoaded" external-scope="$ctrl.tableScope"></iz-table>
</div>