<div class="iz-notification">
  <div uib-alert
       dismiss-on-timeout="{{alert.showTime || 5000}}"
       ng-repeat="alert in $ctrl.alerts"
       ng-class="'alert-' + (alert.type || 'warning')"
       close="$ctrl.closeAlert($index)">
    {{alert.msg}}
  </div>
</div>
