@mixin actionMenuIcon() {
  content: '';
  background-size: 15px 15px;
  display: block;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
}

.action-buttons {
  &-wrapper {
    height: 24px;
    margin-top: 6px;
    background-color: inherit;
  }
  &-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    position: relative;
    & > button {
      display: inline-block;
      padding: 0;
      align-items: inherit;
      width: 24px;
      height: 24px;
      background: none;
      border: none;
      position: relative;
      vertical-align: top;
      &:hover {
        color: $info;
      }
    }
    &:hover {
      background-color: #dadada;
      color: $info;
    }
    &.no-hover {
      &:hover {
        background: none;
        color: #000;
      }
    }
    .hover-elem:hover {
      background-color: #dadada;
      color: $info;
    }
  }
  &-action {
    font-size: 20px;
  }

  &__qty {
    &-wrapper {
      margin-right: 5px;
      display: inline-block;
      width: 60px;
      text-align: right;
      float: right;
    }
  }
}

.action-menu {
  &-list {
    &-item {
      cursor: pointer;
      & a {
        position: relative;
        height: 36px;
        padding-left: 30px !important;
        vertical-align: middle;
        &.edit-license-item {
          padding-left: 10px !important;
        }
      }

      & a:hover {
        color: $info !important;
        &:after {
          @include actionMenuIcon();
          background: url("./../assets/img/icons/status-ok.svg") no-repeat center center;
          left: auto;
          right: 0;
        }
      }

      &-servers:before {
        @include actionMenuIcon();
        background: url("./../assets/img/icons/servers.svg") no-repeat center center;
      }
      &-services:before {
        @include actionMenuIcon();
        background: url("./../assets/img/icons/services.svg") no-repeat center center;
      }
      &-data-center:before {
        @include actionMenuIcon();
        background: url("./../assets/img/icons/datacenter.svg") no-repeat center center;
      }
      &-location:before {
        @include actionMenuIcon();
        background: url("./../assets/img/icons/location.svg") no-repeat center center;
      }
      &-subscription:before {
        @include actionMenuIcon();
        background: url("./../assets/img/icons/subscription.svg") no-repeat center center;
      }

      &-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &:hover {
          transform: translateY(-50%);
        }
      }
    }
    &.dropdown-menu {
      padding: 0;
      border-radius: 0;
      left: auto;
      right: 0;
    }
  }
}