<div class="action-buttons-wrapper" ng-if="$ctrl.isVisible">
    <div class="btn-group action-buttons-icon" uib-dropdown ng-if="$ctrl.context">
        <button id="single-button" type="button" class="add icon-actions-plus" uib-dropdown-toggle></button>
        <ul class="action-menu-list" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li class="action-menu-list-item" role="menuitem">
                <a ui-sref="app.depconf.servers.list" class="action-menu-list-item-servers">
                    <span class="action-menu-list-item-text">Servers</span>
                </a>
            </li>
            <li class="action-menu-list-item" role="menuitem">
                <a ui-sref="app.depconf.services.list" class="action-menu-list-item-services">
                    <span class="action-menu-list-item-text">Services</span>
                </a>
            </li>
            <li class="action-menu-list-item" role="menuitem">
                <a ui-sref="app.depconf.datacenters.list" class="action-menu-list-item-data-center">
                    <span class="action-menu-list-item-text">Datacenter</span>
                </a>
            </li>
            <li class="action-menu-list-item" role="menuitem">
                <a ui-sref="app.depconf.locations.list" class="action-menu-list-item-location">
                    <span class="action-menu-list-item-text">Location</span>
                </a>
            </li>
            <li class="action-menu-list-item" role="menuitem">
                <a ui-sref="app.depconf.subscriptions.list" class="action-menu-list-item-subscription">
                    <span class="action-menu-list-item-text">Subscriptions</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="action-buttons-icon" ng-if="$ctrl.edit">
        <span class="action-buttons-action icon-actions-pencil"></span>
    </div>
    <div class="action-buttons-icon" ng-if="$ctrl.archive">
        <span class="action-buttons-action iz-icon icon-history"></span>
    </div>
    <div class="action-buttons-icon" ng-if="$ctrl.delete">
        <span class="action-buttons-action icon-actions-trash"></span>
    </div>
    <div class="action-buttons-icon" ng-if="$ctrl.view" ng-click="$ctrl.viewItem()">
        <span class="action-buttons-action iz-icon icon-eyes"></span>
    </div>
    <div class="action-buttons-icon" ng-if="$ctrl.clip">
        <span class="action-buttons-action iz-icon icon-eyes"></span>
    </div>
    <div class="action-buttons-icon" ng-if="$ctrl.pdf" ng-click="$ctrl.downloadItem()">
        <span class="action-buttons-action iz-icon icon-paper-clips"></span>
    </div>
    <div class="action-buttons-icon" ng-if="$ctrl.gear" ng-click="$ctrl.goToDetails()">
        <span class="action-buttons-action iz-icon icon-services"></span>
    </div>
    <div class="action-buttons-icon" ng-if="$ctrl.download" ng-click="$ctrl.downloadItem()">
        <span class="action-buttons-action iz-icon icon-download">
            <span class="path1"></span>
            <span class="path2"></span>
        </span>
    </div>

    <div class="btn-group action-buttons-icon" uib-dropdown ng-if="$ctrl.editLicense && $ctrl.item.entity.assignment === 'Unassigned'">
        <button id="single-button-2" type="button" class="add icon-actions-pencil" uib-dropdown-toggle></button>
        <ul class="action-menu-list" uib-dropdown-menu role="menu" aria-labelledby="single-button-2" ng-click="$ctrl.assignLicense($event)">
            <li class="action-menu-list-item" role="menuitem">
                <a class="action-menu-list-item edit-license-item" name="User 1">
                    <span class="action-menu-list-item-text" name="User 1">User 1</span>
                </a>
            </li>
            <li class="action-menu-list-item" role="menuitem">
                <a class="action-menu-list-item edit-license-item" name="User 2">
                    <span class="action-menu-list-item-text" name="User 2">User 2</span>
                </a>
            </li>
            <li class="action-menu-list-item" role="menuitem">
                <a class="action-menu-list-item edit-license-item" name="User 3">
                    <span class="action-menu-list-item-text" name="User 3">User 3</span>
                </a>
            </li>
            <li class="action-menu-list-item" role="menuitem">
                <a class="action-menu-list-item edit-license-item" name="User 4">
                    <span class="action-menu-list-item-text" name="User 4">User 4</span>
                </a>
            </li>
            <li class="action-menu-list-item" role="menuitem">
                <a class="action-menu-list-item edit-license-item" name="Dan Brown">
                    <span class="action-menu-list-item-text" name="Dan Brown">Dan Brown</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="action-buttons-icon" ng-if="$ctrl.editLicense && $ctrl.item.entity.assignment !== 'Unassigned'" ng-click="$ctrl.unassignLicense()">
        <span class="action-buttons-action iz-icon icon-unassign"></span>
    </div>
    <div class="action-buttons-icon" ng-if="$ctrl.moreLicense" ng-click="$ctrl.getMoreLicense()">
        <span class="action-buttons-action iz-icon icon-dollar"></span>
    </div>
    <div class="action-buttons-icon no-hover" ng-if="$ctrl.qty">
        <span class="action-buttons__qty-wrapper">
            <i class="iz-icon icon-map-minus hover-elem" ng-click="$ctrl.decrementQty($ctrl.item.entity)"></i>
            <span class="display">{{$ctrl.item.entity.qty}}</span>
            <i class="iz-icon icon-map-plus hover-elem" ng-click="$ctrl.incrementQty($ctrl.item.entity)"></i>
        </span>
    </div>
</div>