.iz-datepicker {
  &__value {
    height: 34px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    padding: 6px 12px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: .3s all ease;
    &_text, &_icon {
      @include alignVertical();
    }
    &_text {
      color: #000;
      &.grayed {
        color: #cecece;
      }
    }
    &_icon {
      right: 12px;
    }
    &:hover {
      border: 1px solid $info;
      color: $info;
      transition: .3s all ease;
    }
  }
  &__picker {
    position: absolute;
    display: inline-block;
    min-height: 290px;
    z-index: 1;
  }
}
