<div>
    <label class="control-label" ng-transclude></label> <span
        ng-if="$ctrl.ngModel.options && $ctrl.ngModel.options.required">*</span>
    <!--<label class="control-label"-->
    <!--ng-if="$ctrl.ngModel.title || $ctrl.ngModel.title === ' '"-->
    <!--ng-class="{'is-disabled': $ctrl.ngDisabled}">-->
    <!--{{$ctrl.ngModel.title}}-->
    <!--<span ng-if="$ctrl.ngModel.title === ' '" style="visibility: hidden">F</span>-->
    <!--<span ng-if="$ctrl.ngModel.options && $ctrl.ngModel.options.required">*</span>-->
    <!--</label>-->

    <div class="iz-datepicker__value" ng-click="$ctrl.showDatepicker = !$ctrl.showDatepicker">
    <span class="iz-datepicker__value_text" ng-if="$ctrl.ngModel.data">
      Selected date is: <em>{{$ctrl.ngModel.data | date:'fullDate' }}</em>
    </span>
        <span class="iz-datepicker__value_text grayed" ng-if="!$ctrl.ngModel.data">
      {{$ctrl.ngModel.placeholder || 'Select Date'}}
    </span>
        <span class="iz-icon icon-calendar iz-datepicker__value_icon"></span>
    </div>

    <div class="iz-datepicker__picker" ng-if="$ctrl.showDatepicker">
        <div uib-datepicker
             ng-model="$ctrl.ngModel.data"
             ng-change="$ctrl.showDatepicker = false"
             class="well well-sm"
             datepicker-options="options"></div>
    </div>
</div>
