.iz-draggable {
  &-wrapper {
    position: relative;
  }
  &__progress {
    z-index: 2;
  }
  &__carret {
    height: 30px;
    width: 2px;
    background-color: complement($info);
    @include alignVertical();
    top: 10px;
    z-index: 1;
  }
  &__label {
    position: absolute;
    top: -35px;
    transform: translateX(-50%);
    font-size: 12px;
  }
  &__legend {
    width: 100%;
    font-size: 0;
    &-item {
      display: inline-block;
      width: 50%;
      font-size: 12px;
      color: #cecece;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      &.max {
        text-align: right;
      }
    }
  }
  &__progress {
    & > .progress-bar {
      background-color: $info;
    }
  }
}
