<div class="iz-draggable">
    <div class="iz-draggable__legend">
        <div class="iz-draggable__legend-item min">
            <span ng-if="$ctrl.ngModel.min || $ctrl.ngModel.min === 0"
                  ng-click="$ctrl.setProgress($event, 0)">
                {{$ctrl.ngModel.min}}
            </span>
        </div>
        <div class="iz-draggable__legend-item max">
            <span ng-if="$ctrl.ngModel.max || $ctrl.ngModel.max === 0"
                  ng-click="$ctrl.setProgress($event, 100)">
                {{$ctrl.ngModel.max}}
            </span>
        </div>
    </div>
    <div class="iz-draggable-wrapper">
        <span class="iz-draggable__label"
              ng-style="{'left': $ctrl.ngModel && $ctrl.ngModel.data + '%'}"
              ng-if="$ctrl.ngModel.label !== undefined || $ctrl.ngModel.values !== undefined">
            {{$ctrl.getLabel()}}
        </span>
        <uib-progressbar value="$ctrl.ngModel && $ctrl.ngModel.data"
                         class="iz-draggable__progress"
                         ng-mousemove="$ctrl.setProgress($event)"
                         ng-mousedown="$ctrl.setProgress($event)">
        </uib-progressbar>
        <div class="iz-draggable__carret"
             ng-style="{'left': $ctrl.ngModel && $ctrl.ngModel.data + '%'}">
        </div>
    </div>
</div>