<div class="container-fluid">
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.region"></iz-select>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.country"></iz-select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.serviceProvider"></iz-select>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.businessOwner"></iz-select>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.businessOwnerDeputy"></iz-select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.technicalOwner"></iz-select>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.technicalOwnerDeputy"></iz-select>
        </div>
    </div>
</div>
<add-subscription type="$ctrl.type"></add-subscription>
