<div class="input-group">
    <span class="input-group-addon" ng-if="$ctrl.item.entity">{{$ctrl.item.entity.Currency}}</span>
    <input type="number"
           min="0"
           class="form-control"
           ng-model="$ctrl.inputModel"
           ng-change="$ctrl.callbacks.onChange($ctrl.inputModel)">
</div>