@import './modal/modal';

.ps-cs-currency {
  &__table {
    &-row {
      & > td {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
      }
    }
    &-data {
      &_is-default-group {
        font-size: smaller;
        color: #cecece;
      }
      &_is-checkbox {
        padding-left: 50px !important;
      }
      &_is-deleter {
        cursor: pointer;
        &:hover {
          color: $info;
        }
      }
    }
  }
  &__note {
    font-size: smaller;
    color: #cecece;
  }
}
