<div class="container-fluid">
    <div class="row form-group">
        <div class="col-md-12">
            <h1 class="title">
                Currencies for Sales
                <span class="ps-cs-currency__note"
                      ng-if="!$ctrl.currencies.length">(currencies have not been set yet)</span>
            </h1>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr ng-if="$ctrl.currencies.length">
                    <th>Currency</th>
                    <th>Availability for Partner</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="ps-cs-currency__table-row" ng-repeat="currency in $ctrl.currencies track by $index">
                    <td contenteditable="true">
                        {{currency.currency.displayName}}
                    </td>
                    <td contenteditable="true">
                        {{$ctrl.getCountriesString(currency.availability.countries)}}
                    </td>
                    <td>
                        <span class="ps-cs-currency__table-data_is-deleter action-buttons-action icon-actions-pencil"
                              ng-click="$ctrl.edit(currency)"></span>
                        <span class="ps-cs-currency__table-data_is-deleter action-buttons-action icon-actions-trash"
                              ng-click="$ctrl.delete($index)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-default" ng-click="$ctrl.add()">Add More</button>
        </div>
    </div>
</div>
