@import './components/power-menu/power-menu';
@import './components/action-buttons/action-buttons';
@import './components/pretty-checkbox/pretty-checkbox';
@import './components/checkbox/_checkbox';
@import './components/statuss-display/_status-display';
@import './components/iconed-name-display/iconed-name-display';
@import './components/dashboard-extremum/dashboard-extremum';
@import './components/dashboard-subscription/dashboard-subscription';
@import './components/dashboard-graph/dashboard-graph';
@import './components/price-display/price-display';
@import './components/user-photo/_user-photo';
@import './components/select/select';
@import './components/general-discount/general-discount';
@import './components/cloud-type-integrations/cloud-type-integrations';
@import './components/percent-display/percent-display';
@import './components/input/_input';

@mixin sortingSelected() {
  background-color: #fafafa;
  color: $info;
}

.iz-table {
  background-color: $default;
  border: 1px solid #e0e0e0;
  @include border-radius(4px);
  margin-bottom: 15px;
  height: auto !important;
  .ui-grid-viewport {
    min-height: 330px;
    overflow: auto !important;
  }
  .ui-grid-canvas {
    height: auto !important;
  }
  &-label {
    margin: auto 0 auto auto;
    &-wrapper {
      display: flex;
      padding: 0;
    }
  }

  &-pricelist-label {
    margin: auto auto auto 0;
  }

  &-inputs {
    margin-bottom: 0;
  }

  &-add-button-wrapper {
    right: 0;
  }

  &-actions {
    text-align: right;
    height: 35px;
    min-width: 150px;
  }

  &-status-header {
    text-align: center;
  }

  .ui-grid {
    &-viewport {
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-bottom-left-radius: 4px;
      border-bottom-left-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background: none;
    }
    &-render-container {
      border-radius: 4px;
    }
    &-column-menu-button {
      display: none;
    }
    &-cell {
      border: none;
    }
    &-top-panel {
      font-weight: normal;
      background: none;
    }
    &-header {
      color: #666;
      font-family: 'SegoeUI';
      font-size: 13px;
      font-weight: 300;
      line-height: 28px;
      text-transform: uppercase;
      &-cell {
        border: none;
        &-label {
          padding-left: 5px;
        }
        &:first-child {
           -webkit-border-top-left-radius: 4px;
           -moz-border-top-left-radius: 4px;
           border-top-left-radius: 4px;
         }
        &:last-child {
          -webkit-border-top-right-radius: 4px;
          -moz-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
        }
        &-content {
          &:focus {
            outline: none;
          }
        }
      }
    }
    &-invisible {
      display: none;
    }
    &-sortable {
      .ui-grid-invisible {
        display: inline;
        visibility: visible;
      }
    }
    &-sort-priority-number {
      display: none !important;
    }
    &-cell {
      overflow: visible;
    }
    &-icon {
      &-up-dir, &-down-dir {
        @include sortingSelected();
      }
      &-up-dir {
        &:before {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f176";
        }
      }
      &-down-dir {
        &:before {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f175";
        }
      }
      &-blank {
        &:before {
          content: "\f107";
          font: normal normal normal 14px/1 FontAwesome;
        }
      }
    }
  }

  &__error-message {
    margin-bottom: 20px;
    line-height: 150%;
    color: red;
  }

  &__view {
    &_toggler {
      &-wrapper {
        font-size: 0;
      }
      font-size: 0;
      display: inline-block;
      width: 50% !important;
      padding: 1px;
      height: 100%;
      line-height: 1;
      .toggler-grid__item {
        font-size: 0;
        display: inline-block;
        width: 50% !important;
        height: 50%;
        border: 1px solid #fff;
        background-color: #cecece;
        cursor: pointer;
      }
      .toggler-table__item {
        &:first-child {
          margin-top: 2px;
        }
        height: 33.333%;
        border: 1px solid #fff;
        background-color: #cecece;
        cursor: pointer;
      }
      &.active .toggler-grid__item, &.active .toggler-table__item {
        background-color: $info;
      }
    }
  }
}
.ui-grid-viewport {
  background-color: $default;
}
