<div class="iz-table-bar form-group row row-flex row-flex-wrap"
     ng-if="!$ctrl.tableOptions.isToolbarHidden">
  <div class="col-sm-2 flex-col" ng-if="$ctrl.tableOptions.sref">
    <button type="button"
            class="btn btn-primary btn-block pull-right"
            ui-sref="{{$ctrl.tableOptions.sref}}">
      Add
    </button>
  </div>

  <div class="col-sm-2 flex-col" ng-if="$ctrl.tableOptions.buttons"
       ng-repeat="item in $ctrl.tableOptions.buttons track by $index">
    <button type="button"
            class="btn btn-primary btn-block"
            ng-click="item.clickCb()">
      {{item.title}}
    </button>
  </div>

  <div class="col-sm-5 flex-col" ng-if="$ctrl.tableOptions.search !== 'right'">
    <iz-input ng-model="$ctrl.searchText" callbacks="$ctrl.callbacks"></iz-input>
  </div>
  <div class="col-sm-2 iz-table-label-wrapper flex-col" ng-if="!$ctrl.tableOptions.excludeDropdownLabel">
    <span class="iz-table-label" ng-if="$ctrl.tableOptions.dropdownLabel">{{$ctrl.tableOptions.dropdownLabel}}</span>
  </div>
  <div class="col-sm-3 flex-col" ng-if="$ctrl.tableOptions.dropdownOptions">
    <iz-select ng-model="$ctrl.tableOptions.dropdownOptions"
               callbacks="$ctrl.tableOptions.dropdownCallbacks"></iz-select>
  </div>
  <div class="col-sm-2 iz-table-label-wrapper flex-col" ng-if="$ctrl.tableOptions.priceListSref">
    <a class="iz-table-pricelist-label" ui-sref="{{$ctrl.tableOptions.priceListSref}}">View Pricelists</a>
  </div>
  <div class="col-sm-2">
    <div ng-click="$ctrl.export()" class="btn btn-export-csv" ng-if="$ctrl.tableOptions.exportButton">
      <img src="../../assets/img/excel.png" alt="Export table to CSV">
    </div>
    <div class="iz-table__view_toggler-wrapper" ng-if="$ctrl.tableOptions.tableGridToggler">
      <div class="iz-table__view_toggler toggler-grid" ng-class="{'active': $ctrl.view === 'grid'}" ng-model="$ctrl.view" uib-btn-radio="'grid'">
        <div class="toggler-grid__item"></div>
        <div class="toggler-grid__item"></div>
        <div class="toggler-grid__item"></div>
        <div class="toggler-grid__item"></div>
      </div>
      <div class="iz-table__view_toggler toggler-table" ng-class="{'active': $ctrl.view === 'table'}" ng-model="$ctrl.view" uib-btn-radio="'table'">
        <div class="toggler-table__item"></div>
        <div class="toggler-table__item"></div>
        <div class="toggler-table__item"></div>
      </div>
    </div>
  </div>
</div>
<div class="iz-table-bar form-group row"
     ng-if="!$ctrl.tableOptions.isToolbarHidden && $ctrl.tableOptions.search === 'right'">
  <div class="col-sm-5 col-md-offset-7">
    <iz-input ng-model="$ctrl.searchText" callbacks="$ctrl.callbacks"></iz-input>
  </div>
</div>
<div class="form-group row" ng-if="!$ctrl.tableOptions.hideHeader">
  <div class="col-xs-6">
    <div ng-if="$ctrl.tableOptions.checkboxes">
      <div class="btn-group {{$ctrl.tableOptions.checkboxes.class}}">
        <label class="btn {{item.class}}"
               ng-class="{'active': item.displayName === $ctrl.tableOptions.checkboxes.checked}"
               ng-model="$ctrl.tableOptions.checkboxes.checked"
               uib-btn-radio="'{{item.displayName}}'"
               ng-repeat="item in $ctrl.tableOptions.checkboxes.data track by $index">
          {{item.displayName}}
        </label>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div ng-if="$ctrl.tableOptions.actions">
      <div ng-repeat="button in $ctrl.tableOptions.actions track by $index">
        <div class="btn {{button.class}}" ng-click="button.action()">{{button.displayName}}</div>
      </div>
    </div>
  </div>
</div>
<div class="iz-table__error-message" ng-if="$ctrl.tableOptions.error">
  Cannot load data from server, got {{$ctrl.tableOptions.error.status}}
</div>
<div ng-if="(!$ctrl.tableOptions.tables && !$ctrl.tableOptions.tableGridToggler) || $ctrl.view === 'table'">
  <div id="grid1"
       ui-grid="$ctrl.gridOptions"
       class="grid iz-table"
       ui-grid-resize-columns
       ui-grid-exporter
       ui-grid-auto-resize></div>
</div>
<div ng-if="$ctrl.tableOptions.tables && !$ctrl.tableOptions.tableGridToggler">
  <div id="table.$index"
       ui-grid="table.gridOptions"
       class="grid iz-table"
       ui-grid-resize-columns
       ui-grid-auto-resize
       ui-grid-exporter
       ng-if="!table.show || table.show === $ctrl.tableOptions.checkboxes.checked"
       ng-repeat="table in $ctrl.tableOptions.tables track by $index">
  </div>
</div>
<div ng-if="$ctrl.view === 'grid'">
  <div class="container-fluid no-padding">
    <div class="row row-flex row-flex-wrap">
      <div class="col-lg-4 col-sm-6 col-xs-12 flex-col"
           ng-switch="$ctrl.tableOptions.gridCard"
           ng-repeat="item in $ctrl.tableOptions.data track by $index">
        <div ng-switch-when="spla">
          <iz-spla-card item="item" callbacks="$ctrl.ActionsCallbacks"></iz-spla-card>
        </div>
        <div ng-switch-when="azure">
          <iz-azure-card item="item"></iz-azure-card>
        </div>
      </div>
    </div>
  </div>
</div>
