// --- Header ---

.title {
  text-align: right;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 35px;
}

.head-item:first-child {
  margin-right: 100px;
}

// --- Body ---

.type-list {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

// List item
.type {
  border: 5px solid #4EB5DB;
  margin: 0 25px 25px 0;
  position: relative;
  width: 270px;
}

.type-header h4 {
  border-bottom: 3px solid #4EB5DB;
  padding: 0 0 10px 15px;
  text-align: left;
}

.type-body {
  margin-bottom: 50px;
}

.integration p {
  text-align: center;
}

.icon {
  width: 25px;
}

.type-price {
  align-content: center;
  bottom: 0;
  padding-right: 12px;
  position: absolute;
  right: 0;
}

.price {
  color: #666666;
  font-size: large;
  text-align: right;
}
