.s-subscriptions {
  &__attacher {
    padding: 50px 0;
    position: relative;
    color: $info;
    &.over {
      background-color: lighten($info, 25%);
      transition: .3s background-color ease;
    }
    &_select {
      &-wrapper {
        position: relative;
        cursor: pointer !important;
        &:hover {
          text-decoration: underline;
          cursor: pointer !important;
        }
      }
      cursor: pointer !important;
      position: absolute;
      top: -2px;
      left: -200px;
      width: 100%;
      opacity: 0;
    }
  }

  &__documents {
    &-list {
      &_item {
        &-header {
          color: $info
        }
      }
    }
  }

  &__status {
    &_label {
      display: block;
    }
    &_action {
      color: #fff !important;
    }
  }
}
