<div class="container-fluid">
    <div class="row form-group">
        <h1 class="title">Add Subscription</h1>
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.name"></iz-input>
        </div>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.subscriptionGroup"></iz-select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.partnerCenterVersion"></iz-select>
        </div>
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.partnerId"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.mpnId"></iz-input>
        </div>
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.registeredPartnerDomain"></iz-input>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.login"></iz-input>
        </div>
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.password"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-md-offset-6">
            <iz-input ng-model="$ctrl.inputs.passwordConfirm"></iz-input>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <h1 class="title">Availability of Service</h1>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.regions"
                       autocomplete="true"></iz-select>
        </div>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.countries"
                       autocomplete="true"></iz-select>
        </div>
    </div>
    <hr>
</div>

<button class="btn btn-primary">Add</button>
