.service-card {
  height: 240px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.11);
  background-color: #fff;
  margin: 15px 0;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  &-header {
    height: 60px;
    border-bottom: 1px solid $info;
    padding: 20px;
  }
  &-icon {
    height: 180px;
    display: flex;
    font-size: 50px;
    & > .iz-icon {
      margin: auto;
    }
  }
}

.active {
  .service-card {
    background-color: #fafafa;
  }
}