<div class="service-card">
    <div class="service-card-header">
        {{$ctrl.item.name}}
    </div>
    <div class="service-card-icon">
        <i class="iz-icon {{$ctrl.item.icon}}"></i>
    </div>
</div>