<div class="checkout-name">
    <div class="checkout-name__wrapper">
        <p class="checkout-name__name" ng-if="$ctrl.data.name">{{$ctrl.data.name}}</p>
        <p class="checkout-name__type" ng-if="$ctrl.data.type">{{$ctrl.data.type}}</p>
        <p class="checkout-name__add" ng-if="$ctrl.data.add">{{$ctrl.data.add}}</p>
    </div>
</div>