<form class="form-horizontal" name="cloudSettingsForm">
    <div class="form-group">
        <h2 class="title">General Cloud Information</h2>
        <div class="col-sm-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.cloudSettings.cloudName"
                      callbacks="$ctrl.genericCallbacks"></iz-input>
        </div>
        <div class="col-sm-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.cloudSettings.azureKeyVault"></iz-input>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.cloudSettings.externalDomainName"
                      callbacks="$ctrl.genericCallbacks"></iz-input>
        </div>
        <div class="col-sm-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.cloudSettings.internalDomainName"
                      callbacks="$ctrl.genericCallbacks"></iz-input>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-xs-12">
            <iz-textarea ng-model="$ctrl.inputs.cloudSettings.siteDescription"
                         className="form-control no-resize"></iz-textarea>
        </div>
        <div class="col-sm-6 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.cloudSettings.operatingSystemVersion"></iz-select>
        </div>
    </div>
    <hr class="separator">
    <div class="form-group">
        <h2 class="title">General Administrator</h2>
        <div class="col-sm-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.cloudSettings.generalAdministratorLogin"
                      callbacks="$ctrl.genericCallbacks"></iz-input>
        </div>
        <div class="col-sm-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.cloudSettings.generalAdministratorPassword"
                      callbacks="$ctrl.genericCallbacks"></iz-input>
        </div>
    </div>
    <div class="form-group">
        <h2 class="title">Local Administrator</h2>
        <div class="col-sm-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.cloudSettings.localAdministratorLogin"
                      callbacks="$ctrl.genericCallbacks"></iz-input>
        </div>
        <div class="col-sm-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.cloudSettings.localAdministratorPassword"
                      callbacks="$ctrl.genericCallbacks"></iz-input>
        </div>
    </div>
    <hr class="separator">
    <div class="form-group">
        <h2 class="title">Hardware Information</h2>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 flex-col"
             ng-repeat="item in $ctrl.hardwareTemplates">
            <div class="hardware-info"
                 ng-class="{'active': $ctrl.inputs.hardwaresInformation === item.id}"
                 uib-btn-radio="{{item.Id}}" ng-model="$ctrl.inputs.hardwaresInformation">
                <div class="hardware-info__header">
                    <span>{{item.Name}}</span>
                </div>
                <div class="integration-wrapper hardware-info-wrapper">
                    <ul class="integration-list">
                        <li class="integration-list__item">
                            <span class="body-list__item-icon">{{item.Cores}}</span>
                            Cores
                        </li>
                        <li class="integration-list__item">
                            <span class="body-list__item-icon">{{item.Ram}}</span>
                            GB RAM
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="hardware-info__body">
                    <ul class="body-list">
                        <li class="body-list__item">
                            <i class="iz-icon icon-icon-3 body-list__item-icon"></i>
                            {{item.DataDisks}} Data Disks
                        </li>
                        <li class="body-list__item">
                            <i class="iz-icon icon-icon-5 body-list__item-icon"></i>
                            {{item.MaxIops}} Max IOPS
                        </li>
                        <li class="body-list__item">
                            <i class="iz-icon icon-icon-6 body-list__item-icon"></i>
                            {{item.LogicalSsd}} GB Logical SSD
                        </li>
                        <li class="body-list__item" ng-if="item.LoadBalancing">
                            <i class="iz-icon {{item.type}} body-list__item-icon"></i>
                            Load Balancing
                        </li>
                        <li class="body-list__item" ng-if="item.PremiumDiskSupport">
                            <i class="iz-icon {{item.type}} body-list__item-icon"></i>
                            Premium Disk Support
                        </li>
                    </ul>
                </div>
                <div class="cloud-footer" ng-if="false">
                    <div class="btn-block cloud-footer__price">{{$ctrl.getPrice(item.price)}} <span ng-if="item.price >= 0">per month</span></div>
                </div>
            </div>
        </div>
    </div>
    <hr class="separator">
    <div class="form-group">
        <h2 class="title">Availability</h2>
        <div class="col-sm-6 col-xs-12">
            <iz-scheduler ng-model="$ctrl.inputs.cloudSettings.schedule"></iz-scheduler>
        </div>
        <div class="col-sm-6 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.cloudSettings.availability"></iz-select>
        </div>
    </div>
    <hr class="separator">
    <div class="form-group">
        <h2 class="title">Maintenance</h2>
        <div class="col-sm-6">
            <iz-select ng-model="$ctrl.inputs.cloudSettings.maintenanceWindow"></iz-select>
        </div>
        <div class="col-sm-6">
            <iz-select ng-model="$ctrl.inputs.cloudSettings.maintenanceType"></iz-select>
        </div>
    </div>
    <hr class="separator">
    <div class="form-group">
        <h2 class="title">Backup</h2>
        <div class="col-xs-12 col-sm-4">
            <iz-select ng-model="$ctrl.inputs.cloudSettings.backupServer"></iz-select>
        </div>
        <div class="col-xs-12 col-sm-4">
            <iz-select ng-model="$ctrl.inputs.cloudSettings.backupInterval"></iz-select>
        </div>
        <div class="col-xs-12 col-sm-4">
            <iz-select ng-model="$ctrl.inputs.cloudSettings.dataRetentionTime"></iz-select>
        </div>
    </div>
    <hr class="separator">
    <div class="form-group">
        <div class="col-sm-6">
            <iz-select ng-model="$ctrl.inputs.cloudSettings.monitoringService"></iz-select>
        </div>
        <div class="col-xs-12 col-sm-6">
            <iz-select ng-model="$ctrl.inputs.cloudSettings.serviceManagementContracts"></iz-select>
        </div>
    </div>
</form>