.iz-table-checkbox {
  .checkbox{
    &-wrapper {
      width: 16px;
      height: 16px;
      margin-top: 6px;
      cursor: pointer;
      background: none;
      border: 1px solid $default-text;
      border-radius: 2px;
      position: relative;
      padding: 0;
    }
    &-wrapper.active {

      &:after {
        font-family: 'iz-icons';
        content: "\e928";
        color: $info;
        font-size: 14px;
      }
    }
  }
}