<div class="iz-table-checkbox text-center">
    <button class="checkbox-wrapper"
            uib-btn-checkbox
            btn-checkbox-true="true"
            btn-checkbox-false="false"
            ng-model="$ctrl.value"
            ng-click="$ctrl.callbacks.onChange()">
    </button>
</div>