<ng-form name="ownersSelectSubForm">
    <div class="container-fluid no-padding">
        <h1 class="title">Owner Information</h1>
        <div class="row form-group"
             ng-repeat="roleGroup in $ctrl.accountRoles track by $index">
            <div class="col-xs-6" ng-repeat="role in roleGroup">
                <iz-select ng-model="role.inputs"
                           callbacks="$ctrl.genericCallbacks">
                </iz-select>
            </div>
        </div>
    </div>
    <button class="btn btn-default"
            ng-click="$ctrl.showAddForm = true"
            ng-if="!$ctrl.showAddForm">Add New
    </button>
    <h1 class="title" ng-if="$ctrl.showAddForm">New Owner</h1>
    <iz-owner ng-if="$ctrl.showAddForm"></iz-owner>
</ng-form>
