<h1 class="title">ADD USER</h1>
<div class="add-user">
    <progress-bar ng-model="$ctrl.progressbar" progress-type="steps" callbacks="$ctrl.callbacks"></progress-bar>
    <div ng-switch="$ctrl.progressbar.currentStep.name" ng-if="$ctrl.state === 'steps'">
        <div ng-switch-when="general">
            <iz-add-user-general validate="$ctrl.validate({isValid: isValid})"></iz-add-user-general>
        </div>
        <div ng-switch-when="work-info">
            <iz-add-user-work-info validate="$ctrl.validate({isValid: isValid})"></iz-add-user-work-info>
        </div>
        <div ng-switch-when="licenses">
            licenses
        </div>
    </div>
    <progress-bar ng-model="$ctrl.progressbar" progress-type="pager" callbacks="$ctrl.callbacks"></progress-bar>
</div>