<div class="container-fluid pricelist">
    <div class="row">
        <div class="col-md-7 no-padding">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 no-padding">
                        <iz-select ng-model="$ctrl.inputs.country"></iz-select>
                    </div>
                    <div class="col-md-3">
                        <iz-select ng-model="$ctrl.inputs.reseller"></iz-select>
                    </div>
                    <div class="col-md-2 no-padding">
                        <iz-select ng-model="$ctrl.inputs.currency"></iz-select>
                    </div>
                    <div class="col-md-3">
                        <iz-select ng-model="$ctrl.inputs.period"></iz-select>
                    </div>
                    <div class="col-md-1 no-padding">
                        <button class="btn btn-success"
                                ng-disabled="!$ctrl.canGetPricelist()"
                                ng-click="$ctrl.getPricelist()">Get</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-3 no-padding">
            <iz-input ng-model="$ctrl.inputs.search"></iz-input>
        </div>
    </div>
    <div class="row" ng-if="$ctrl.isPriceListLoaded">
        <div class="col-md-2">
            <div class="pricelist__country">
                {{$ctrl.inputs.country.selected.Name}}
            </div>
        </div>
        <div class="col-md-2">
            <div class="pricelist__tenant">
                {{$ctrl.inputs.reseller.selected.Name}}
            </div>
        </div>
        <div class="col-md-8">
            <div class="pricelist__info">
                * All the prices are shown according to customer type of business
            </div>
        </div>
    </div>
</div>
<iz-table table-options="$ctrl.tableOptions" ng-if="$ctrl.isPriceListLoaded"></iz-table>