<div class="container-fluid">
    <div class="row form-group">
        <div class="col-xs-12">
            <h1 class="s-cs-currency-modal__title">Currencies for Reselling</h1>
            <iz-select ng-model="$ctrl.inputs.currency">Currency</iz-select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            <iz-select ng-model="$ctrl.inputs.regions"
                       autocomplete="true"></iz-select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            <iz-select ng-model="$ctrl.inputs.countries"
                       autocomplete="true"></iz-select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12 col-md-offset-3">
            <button class="btn btn-primary btn-block" ng-click="$ctrl.confirm()">{{$ctrl.currency ? 'Save' : 'Add'}}
            </button>
        </div>
    </div>
</div>