<iz-table table-options="$ctrl.tableOptions" ng-if="!$ctrl.isLoading"></iz-table>
<div ng-if="$ctrl.isLoading" class="iz-preloader iz-preloader-wrapper">
    <div class="iz-preloader-loader">
        <span class="sr-only">Loading...</span>
    </div>
</div>