.cloud-type-integrations {
  &__integration-list {
    height: 100%;
    @include textEllipsis();
    &-item {
      font-size: 20px;
      height: 24px;
      width: 24px;
    }
    &-icon {
      & > .path2 {
        position: relative;
        &:before {
          margin-left: -20px !important;
        }
      }
    }
  }
}