<span class="cloud-type-integrations__integration-list">
    <span class="cloud-type-integrations__integration-list-item" ng-repeat="item in $ctrl.value">
        <span class="cloud-type-integrations__integration-list-icon iz-icon {{item}}">
            <span class="path1"></span>
            <span class="path2"></span>
        </span>
    </span>
</span>