<div ng-class="{'sidebar-collapsed': $root.isLeftClosed}" class="h100">
  <top-header></top-header>
  <notification></notification>
  <div class="container-fluid h100">
    <div class="row h100">
      <iz-loader></iz-loader>
      <div id="sidebar"
           class="sidebar">
        <left-menu></left-menu>
      </div>
      <div class="main h100">
        <ui-view></ui-view>
      </div>
      <div class="information">
        <iz-information-panel></iz-information-panel>
      </div>
    </div>
  </div>
</div>