.iz-header {
  .iz-select {
    margin: 4px 12px;
    margin-left: 3px;
    border: 0;
    background: transparent;
    &-group {
      border: none;
      &:hover {
        .fa {
          color: #666;
        }
      }
      &-active {
        font-size: 16px;
        height: 45px;
        &.btn-default {
          color: #666;
        }
      }
      &-caret {
        display: none;
        & .fa {
          color: #666;
        }
        font-size: 16px;
      }
    }
    &-dropdown {
      li {
        line-height: 42px;
        &:hover:after {
          margin-top: -20px;
        }
      }
    }
    .form-control {
      border: none;
    }
    .btn-default {
      border: none;
      &:hover {
        background: transparent;
        color: #666;
      }
    }
    .ui-select {
      &-choices {
        //width: auto;
        border-radius: 2px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
        padding: 0;
        &-row {
          padding: 3px 45px 3px 20px;
          font-family: 'SegoeUI';
          position: relative;
          &:hover, &.active{
            color: $primary;
            background-color: #f7f9fa;
            cursor: pointer;
            &:after {
              font-family: 'iz-icons';
              content: "\E969";
              color: #5ebcdf;
              font-size: 24px;
              width: 24px;
              height: 24px;
              display: inline-block;
              position: absolute;
              margin-right: 10px;
              margin-top: -20px;
              top: 50%;
              right: 0;
            }
          }
        }
      }
      &-match {
        &-text {
          font-size: 16px;
          &-inner {
            line-height: 42px;
            margin-right: 24px;
          }
        }
        &::after {
          font-size: 16px;

        }
      }
      &-toggle {
        &::after {
          font-size: 16px;
          color: #666;
          right: 8px;
        }
      }
    }
  }
  /*
 * Top navigation
 * Hide default border to remove 1px line.
 */
  .navbar {
    &__item {
      &_tenant {
        & .open {
          width: 250px;
        }
      }
    }
  }
  .navbar-fixed-top {
    border: 0;
    border-bottom: solid 1px #e6e6e6;
    background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-family: 'SegoeUI';
    line-height: 42px;
    button {
      margin-left: 3px;
      border: 0;
      background: transparent;
      .top-cart {
        font-size: 24px;
        line-height: 47px;
        .badge {
          position: absolute;
          top: 25px;
          left: 0;
          font-family: SegoeUI;
          background-color: #f8551c;
          font-size: 12px;
        }
      }
      .avatar {
        width: 36px;
        height: 36px;
        margin-right: 5px;
      }
    }
    button.sidebar-toggle {
      margin-top: 4px;
      font-size: 28px;
    }
    .iz-user {
      margin-top: 4px;
    }
    .al-logo {
      img {
        width: 145px;
        height: 26px;
        margin: 17px 15px;
      }
    }
  }
}