<div class="iz-header">
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid" ng-cloak>
      <div class="navbar-header">
        <button type="button"
                class="sidebar-toggle pull-left"
                ng-click="$root.isLeftClosed = !$root.isLeftClosed">
          <i class="fa fa-bars"></i>
        </button>
        <button type="button"
                class="navbar-toggle collapsed pull-left"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="left-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="al-logo  pull-left clearfix">
          <img src="../../assets/img/logo.png" alt="101 clouds">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar__item_tenant">
            <iz-select ng-model="$ctrl.tenants"
                       autocomplete="true"
                       class="btn-group btn-group-vertical navbar__item_tenant"
                       callbacks="$ctrl.tenantCallbacks"
                       ng-if="$ctrl.tenants.selected"></iz-select>
          </li>
          <!--<li><button><i class="iz-icon icon-cart top-cart" aria-hidden="true"><span class="badge">4</span></i></button></li>-->
          <li>
            <iz-select ng-model="$ctrl.currency"
                       autocomplete="false"
                       callbacks="$ctrl.currencyCallbacks"></iz-select>
          </li>
          <!--<li>-->
            <!--<iz-select ng-model="$ctrl.languages" autocomplete="false"></iz-select>-->
          <!--</li>-->
          <li uib-dropdown class="iz-user" ng-show="$ctrl.userInfo.isAuthenticated" >
            <button type="button" uib-dropdown-toggle ng-disabled="disabled">
              <img src="../../assets/img/profiles/no-photo.png"
                   alt="Profile name"
                   class="avatar">{{$ctrl.userInfo.profile.name}} <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu iz-select-dropdown" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" class="iz-select-dropdown-item"><a href="#">Settings</a></li>
              <li role="menuitem" class="iz-select-dropdown-item"><a href="#">Help</a></li>
              <li role="menuitem" class="iz-select-dropdown-item"><a href="#" ng-click="$ctrl.logout()" >Logout</a></li>
            </ul>
          </li>
          <li ng-hide="$ctrl.userInfo.isAuthenticated"><a class="btn btn-link" ng-click="$ctrl.login()">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>