<div class="container-fluid cloud__header">
    <div class="row form-group">
        <div class="col-md-3 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.cloudtype.env"></iz-select>
        </div>
        <div class="col-md-3 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.cloudtype.period"
                       callbacks="$ctrl.periodCallbacks"></iz-select>
        </div>
        <div class="col-sm-2 col-xs-12 col-md-offset-4">
            <button id="compare" name="compare" class="btn btn-default btn-compare btn-block" ng-click="$ctrl.compare()" ng-disabled="$ctrl.isCompareDisabled() && false">
                Compare
            </button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row row-flex row-flex-wrap">
        <div class="col-lg-4 col-md-6 col-xs-12 flex-col" ng-repeat="item in $ctrl.cloudPlans">
            <cloudtype ng-class="{'active': $ctrl.inputs.cloudtype.Id === item.Id}"
                       ng-click="$ctrl.setCloudType(item, $event)"
                       item="item"
                       show-compare="true"
                       index-bold-start="$ctrl.getIndexBoldStart($index)"
                       ng-if="!$last">
            </cloudtype>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            * rate calculated based on yearly consumption. Price does not include eventually necessary Software licenses and/or Hardware and/or Services to operate the offering. Price does not include eventually necessary Software licenses for additional users.
        </div>
    </div>
</div>
