.modal-lg {
  width: 90%;
  height: 90%;
  .modal-content {
    width: 100%;
    height: 100%;
  }
}
.cloud-type-modal {
  &__wrapper {
    height: 100%;
    text-align: center;
    position: relative;
    & > .carousel-inner {
      min-height: 500px;
    }

    .carousel-indicators {
      & > li {
        border: none;
        height: 10px;
        width: 10px;
        background-color: #cecece;
        &.active {
          border: none;
          height: 10px;
          width: 10px;
          background-color: #aaa;
        }
      }
    }
  }

  &__button {
    &_close {
      position: absolute;
      width: 50px;
      height: 50px;
      border: 2px solid #cecece;
      border-radius: 50%;
      top: 25px;
      right: 25px;
      transition: .2s border ease;
      cursor: pointer;
      & > .path1, & > .path2 {
        width: 10px;
        height: 30px;
        position: absolute;
        background-color: #cecece;
        left: 50%;
        top: 50%;
      }
      & > .path1 {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      & > .path2 {
        transform: translate(-50%, -50%) rotate(135deg);
      }
      &:hover {
        border: 2px solid complement($info);
        transition: .2s border ease;
        & > .path1, & > .path2 {
          background-color: complement($info);
        }
      }
    }
  }

  &__header, &__description {
    text-shadow: none;
    max-width: 75%;
    margin: auto;
  }

  &__header {
    text-align: center;
    color: $info;
    padding-top: 20px;
  }

  &__description {
    padding: 15px 50px 50px;
    color: #000;
    text-align: left;
  }

  &__topology-image {
    max-height: 90%;
    max-width: 90%;
    margin: auto;
  }
}