<div class="cloud-type-modal__wrapper">
    <div class="cloud-type-modal__button_close" ng-click="$ctrl.close()">
        <div class="path1"></div>
        <div class="path2"></div>
    </div>
    <img class="cloud-type-modal__topology-image" ng-src="{{$ctrl.topology}}" alt="Cloud Type Topology">
</div>
