<iz-area-graph-card graph="$ctrl.dashboard" on-select="$ctrl.selectCallback({params: params})" ng-if="$ctrl.dashboard"></iz-area-graph-card>
<iz-area-graph-card graph="$ctrl.detailedDashboard" on-select="$ctrl.selectCallback({params: params})" ng-if="$ctrl.detailedDashboard"></iz-area-graph-card>
<iz-dashboard-table-card data="$ctrl.tableOptions" on-select="$ctrl.tableDataCallback({params: params})" ng-if="$ctrl.tableOptions"></iz-dashboard-table-card>