<ng-form class="form-horizontal" name="userWorkInfoForm">
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.department"></iz-input>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.jobPosition"></iz-input>
        </div>
    </div>
    <h1 class="title">Contact Information</h1>
    <div class="row form-group">
        <div class="col-md-4 col-xs-8">
            <iz-input ng-model="$ctrl.inputs.street"></iz-input>
        </div>
        <div class="col-md-2 col-xs-4">
            <iz-input ng-model="$ctrl.inputs.number"></iz-input>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.zip"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.city"></iz-input>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.state"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12">
            <iz-select ng-model="$ctrl.inputs.country"></iz-select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12 no-padding">
            <div class="col-md-4 col-xs-4">
                <iz-select ng-model="$ctrl.inputs.phone1CountryCode"
                           name="phone1-country-code-{{$ctrl.phone2CCName}}"
                           callbacks="$ctrl.genericCallbacks">
                </iz-select>
            </div>
            <div class="col-md-3 col-xs-4">
                <iz-input ng-model="$ctrl.inputs.phone1RegionCode"
                          name="phone1-region-code-{{$ctrl.phone1RCName}}"
                          callbacks="$ctrl.genericCallbacks">
                </iz-input>
            </div>
            <div class="col-md-5 col-xs-4">
                <iz-input ng-model="$ctrl.inputs.phone1"
                          name="phone1-{{$ctrl.phone2Name}}"
                          callbacks="$ctrl.genericCallbacks">
                </iz-input>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="col-md-4 col-xs-4">
                <iz-select ng-model="$ctrl.inputs.phone2CountryCode"
                           name="phone2-country-code-{{$ctrl.phone2CCName}}"
                           callbacks="$ctrl.genericCallbacks">
                </iz-select>
            </div>
            <div class="col-md-3 col-xs-4">
                <iz-input ng-model="$ctrl.inputs.phone2RegionCode"
                          name="phone2-region-code-{{$ctrl.phone1RCName}}"
                          callbacks="$ctrl.genericCallbacks">
                </iz-input>
            </div>
            <div class="col-md-5 col-xs-4">
                <iz-input ng-model="$ctrl.inputs.phone2"
                          name="phone2-{{$ctrl.phone2Name}}"
                          callbacks="$ctrl.genericCallbacks">
                </iz-input>
            </div>
        </div>
    </div>
</ng-form>