.s-cloud-settings {
  &__attacher {
    &_select {
      &-wrapper {
        position: relative;
      }
      height: 36px;
      position: absolute;
      top: 0;
      left: -95px;
      opacity: 0;
    }
    &_button {
    }
    &_hider {
      position: absolute;
      display: inline-block;
      height: 36px;
      width: 95px;
      z-index: 5;
      left: -95px;
      top: 0;
      cursor: default;
    }
    &_preview {
      &-wrapper {
        height: 110px;
        padding: 5px;
        margin: 15px 0;
        border: 1px solid #e5e5e5;
      }
      max-height: 100px;
    }
  }
}