<div class="container-fluid">
    <div class="row form-group">
        <h1 class="title">Add Cloud Type</h1>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.name"></iz-input>
            <iz-checkbox ng-model="$ctrl.inputs.isPublic"></iz-checkbox>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-textarea ng-model="$ctrl.inputs.description"></iz-textarea>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            <iz-checkbox ng-model="$ctrl.inputs.availableForReselling"></iz-checkbox>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 col-xs-6">
            <iz-input ng-model="$ctrl.inputs.deliveryTime"></iz-input>
        </div>
        <div class="col-md-3 col-xs-6">
            <iz-select ng-model="$ctrl.inputs.deliveryTimeInterval"></iz-select>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-checkbox ng-model="$ctrl.inputs.isLimitedUsers"></iz-checkbox>
            <iz-input ng-model="$ctrl.inputs.upToUsers"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12" ng-repeat="item in $ctrl.inputs.firstBlock">
            <iz-checkbox ng-model="item"></iz-checkbox>
        </div>
    </div>
    <button class="btn btn-default" ng-click="$ctrl.addMoreSoft()" ng-if="$ctrl.addSoft">ADD MORE</button>
    <div ng-if="!$ctrl.addSoft">
        <iz-input class="col-md-6 col-xs-12" ng-model="$ctrl.inputs.soft"></iz-input>
        <button class="btn btn-primary" ng-click="$ctrl.addMoreSoftPush($ctrl.inputs.soft)">ADD</button>
        <button class="btn" ng-click="$ctrl.addSoft = !$ctrl.addSoft">Cancel</button>
    </div>
    <hr>
    <h1 class="title">Integration</h1>
    <div class="row form-group">
        <div class="col-md-6 col-xs-12" ng-repeat="item in $ctrl.inputs.secondBlock">
            <iz-checkbox ng-model="item"></iz-checkbox>
        </div>
    </div>
    <button class="btn btn-default" ng-click="$ctrl.addMoreIntegration()" ng-if="$ctrl.addIntegration">ADD MORE</button>
    <div ng-if="!$ctrl.addIntegration">
        <iz-input class="col-md-6 col-xs-12" ng-model="$ctrl.inputs.integration"></iz-input>
        <button class="btn btn-primary" ng-click="$ctrl.addMoreIntegrationPush($ctrl.inputs.integration)">ADD</button>
        <button class="btn" ng-click="$ctrl.addIntegration = !$ctrl.addIntegration">Cancel</button>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-4 col-xs-12">
            <iz-image-upload>Add Visual Scheme</iz-image-upload>
        </div>
        <div class="col-md-4 col-xs-12">
            <iz-image-upload>Package Branding</iz-image-upload>
        </div>
        <div class="col-md-4 col-xs-12">
            <span> FULL DESCRIPTION </span>
            <div class="s-legal-settings__attacher"
                 nv-file-drop
                 uploader="$ctrl.documentUploader"
                 nv-file-over
                 over-class="over">
                <div class="s-legal-settings__attacher_select-wrapper">
                    <span class="iz-icon icon-paper-clips"></span>
                    Attach Documents
                    <input class="s-legal-settings__attacher_select"
                           type="file"
                           nv-file-select
                           uploader="$ctrl.documentUploader"
                           multiple/>
                </div>
            </div>
        </div>
    </div>
    <p ng-if="$ctrl.documentUploader.queue.length">Attached Documents:</p>
    <div class="s-legal-settings__documents-list" ng-repeat="item in $ctrl.documentUploader.queue">
        <div class="s-legal-settings__documents-list_item">
            <span class="s-legal-settings__documents-list_item-header">Name:</span>
            <span class="s-legal-settings__documents-list_item-value">{{item.file.name}}</span>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <h1 class="title">Availability of Service</h1>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.regions"
                       autocomplete="true"></iz-select>
        </div>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.countries"
                       autocomplete="true"></iz-select>
        </div>
    </div>
    <hr>
</div>