.checkout-table {
  &__name-description-wrapper {
    font-size: 0;
    position: relative;
    &.top-line {
      border-bottom: 1px solid #eee
    }
  }
  &__name-wrapper, &__description-wrapper {
    display: inline-block;
    font-size: 14px;
  }
  &__name-wrapper {
    width: 33.333%;
  }
  &__description-wrapper {
    width: 66.667%;
  }
  &__add-services {
    &_description {
      @include alignVertical();
    }
  }

  &__col {
    &-price {
      width: 10%;
    }
  }
  &__row {
    border-bottom: 1px solid #aaa;
    padding: 10px 0;
  }
  &__table-data {
    padding: 10px;
  }
  &__centralize {
    vertical-align: middle !important;
  }
  &__general {
    &_name {
      font-weight: bolder;
    }
  }
  &__qty {
    display: inline-block;
    width: 60px;
    text-align: right;
    float: right;
    margin: auto;
    & > i {
      cursor: pointer;
      &:hover {
        color: $info;
      }
    }
  }
  &-total {
    &__list {
      list-style: none;
      &-item {
        padding-top: 20px;
        &.delivery {
          padding-top: 0;
          padding-bottom: 20px;
          border-bottom: 1px solid #ccc;
        }
        &_key {
          display: inline-block;
          width: calc(50% - 20px);
          text-align: right;
          &.total {
            font-weight: bold;
          }
        }
        &_value {
          display: inline-block;
          width: calc(50% - 20px);
          text-align: left;
          &.total {
            font-weight: bold;
          }
        }
        &:after {
          @include clearfix();
        }
      }
    }
  }
}