<h1 class="title">Order</h1>
<table class="table" ng-if="$ctrl.cloudData">
    <thead>
        <tr>
            <th>
                <div class="checkout-table__name-description-wrapper">
                    <div class="checkout-table__name-wrapper">
                        Product
                    </div>
                    <div class="checkout-table__description-wrapper">
                        Description
                    </div>
                </div>
            </th>
            <th>Subscription Type</th>
            <th class="checkout-table__col-price">Price</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in $ctrl.items track by $index">
        <td>
            <div class="checkout-table__name-description-wrapper">
                <div class="checkout-table__name-wrapper">
                    <checkout-name data="item.product"></checkout-name>
                </div>
                <div class="checkout-table__description-wrapper">
                    <checkout-description data="item.description"></checkout-description>
                </div>
            </div>
            <div class="checkout-table__name-description-wrapper top-line"
                 ng-repeat="addservice in $ctrl.cloudData.Subscriptions._additionalServices"
                 ng-if="item.isAddServices">
                <div class="checkout-table__name-wrapper">
                    <div class="checkout-table__add-services">
                        <div class="add-subscriptions__add-services_header">{{addservice.Name}}</div>
                        <div class="add-subscriptions__add-services_service" ng-if="addservice.Service">({{addservice.Service}})</div>
                    </div>
                </div>
                <div class="checkout-table__description-wrapper">
                    <div class="checkout-table__add-services">
                        <div class="checkout-table__add-services_description">{{addservice.Description}}</div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <iz-select ng-model="item.period" ng-disabled="true"></iz-select>
        </td>
        <td class="checkout-table__col-price">
            {{$ctrl.getPriceString(item.price)}}
        </td>
    </tr>
    </tbody>
</table>
<table class="table" ng-if="$ctrl.generalData">
    <thead>
    <tr>
        <th ng-repeat="header in $ctrl.generalData.headers">{{header.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.generalData.data">
        <td class="checkout-table__centralize" ng-repeat="header in $ctrl.generalData.headers">
            <div ng-switch="header.dataProperty">
                <div ng-switch-when="Name">
                    <div class="checkout-table__general_name" ng-if="row.Name">{{row.Name}}</div>
                    <div class="checkout-table__general_tetant-name" ng-if="row.TenantName">by {{row.TenantName}}</div>
                </div>
                <div ng-switch-when="Price">
                    {{$ctrl.getPriceString(row[header.dataProperty], row.Currency)}}
                </div>
                <div ng-switch-when="qty">
                    <span class="checkout-table__qty">
                        <i class="iz-icon icon-map-minus" ng-click="$ctrl.decrementQty(row)"></i>
                        <span class="display">{{row.qty}}</span>
                        <i class="iz-icon icon-map-plus" ng-click="$ctrl.incrementQty(row)"></i>
                    </span>
                </div>
                <div ng-switch-default>
                    {{row[header.dataProperty]}}
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <ul class="checkout-table-total__list">
                <li class="checkout-table-total__list-item delivery">
                    <span class="checkout-table-total__list-item_key pull-left">Delivery Time</span>
                    <span class="checkout-table-total__list-item_value pull-right">2 Days</span>
                </li>
                <li class="checkout-table-total__list-item">
                    <span class="checkout-table-total__list-item_key pull-left">SUB TOTAL ({{$ctrl.getItemsLength()}} item(s)):</span>
                    <span class="checkout-table-total__list-item_value pull-right">{{$ctrl.getPriceStr($ctrl.getSubTotal())}}</span>
                </li>
                <li class="checkout-table-total__list-item">
                    <span class="checkout-table-total__list-item_key pull-left">VAT ({{$ctrl.vat * 100}}%):</span>
                    <span class="checkout-table-total__list-item_value pull-right">{{$ctrl.getPriceStr($ctrl.getSubTotal() * $ctrl.vat)}}</span>
                </li>
                <li class="checkout-table-total__list-item">
                    <span class="checkout-table-total__list-item_key pull-left total">TOTAL ({{$ctrl.getItemsLength()}} item(s)):</span>
                    <span class="checkout-table-total__list-item_value pull-right total">{{$ctrl.getPriceStr($ctrl.getSubTotal() * (1 + $ctrl.vat))}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="form-group">
    <iz-checkbox ng-model="$ctrl.license"></iz-checkbox>
</div>
<ul class="pager">
    <li>
        <button class="btn btn-default"
                ng-click="$ctrl.callbacks.backCb()"
                ng-disabled="$ctrl.isLoading">
            Back to Configuration
        </button>
    </li>
    <li>
        <button class="btn btn-primary"
                ng-click="$ctrl.callbacks.deployCb()"
                ng-disabled="!$ctrl.license.data.model || $ctrl.isLoading">
                Deploy
        </button>
    </li>
</ul>