<div class="container-fluid">
    <div class="row form-group">
        <h1 class="title">Add Virtual Datacenter Template</h1>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.name"></iz-input>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-input ng-model="$ctrl.inputs.fabric"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 col-xs-6">
            <iz-input ng-model="$ctrl.inputs.deliveryTime"></iz-input>
        </div>
        <div class="col-md-3 col-xs-6">
            <iz-select ng-model="$ctrl.inputs.deliveryTimeInterval"></iz-select>
        </div>
        <div class="col-md-6 col-xs-12">
            <iz-checkbox ng-model="$ctrl.inputs.isPublic"></iz-checkbox>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 col-xs-12">
            <iz-checkbox ng-model="$ctrl.inputs.availableForReselling"></iz-checkbox>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <h1 class="title">Internet Connection</h1>
        <div class="col-md-3">
            <iz-input ng-model="$ctrl.inputs.upload"></iz-input>
        </div>
        <div class="col-md-3">
            <iz-input ng-model="$ctrl.inputs.uploadLimit"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <iz-input ng-model="$ctrl.inputs.download"></iz-input>
        </div>
        <div class="col-md-3">
            <iz-input ng-model="$ctrl.inputs.downloadLimit"></iz-input>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <h1 class="title">Networks</h1>
        <div class="col-md-3">
            <iz-input ng-model="$ctrl.inputs.privateIp4"></iz-input>
        </div>
        <div class="col-md-3">
            <iz-input ng-model="$ctrl.inputs.privateIp6"></iz-input>
        </div>
        <div class="col-md-3">
            <iz-input ng-model="$ctrl.inputs.privateIps"></iz-input>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <h1 class="title">Firewall</h1>
        <div class="col-md-3">
            <iz-input ng-model="$ctrl.inputs.maxPerformance"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <iz-checkbox ng-model="$ctrl.inputs.antivirus"></iz-checkbox>
        </div>
        <div class="col-md-3">
            <iz-checkbox ng-model="$ctrl.inputs.vpn"></iz-checkbox>
        </div>
        <div class="col-md-3">
            <iz-checkbox ng-model="$ctrl.inputs.ids"></iz-checkbox>
        </div>
        <div class="col-md-3">
            <iz-checkbox ng-model="$ctrl.inputs.iops"></iz-checkbox>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <h1 class="title">Computer Resources</h1>
        <div class="col-md-3">
            <iz-input ng-model="$ctrl.inputs.ram"></iz-input>
        </div>
        <div class="col-md-3">
            <iz-input ng-model="$ctrl.inputs.storage"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <iz-input ng-model="$ctrl.inputs.cpus"></iz-input>
        </div>
        <div class="col-md-6">
            <iz-input ng-model="$ctrl.inputs.additionalDescription"></iz-input>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-9">
            <iz-input ng-model="$ctrl.inputs.support"></iz-input>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <h1 class="title">Availability of Service</h1>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.regions"
                       autocomplete="true"></iz-select>
        </div>
        <div class="col-md-6">
            <iz-select ng-model="$ctrl.inputs.countries"
                       autocomplete="true"></iz-select>
        </div>
    </div>
    <hr>
</div>