<ng-form name="ownersSubForm">
    <div class="form-group" ng-repeat="item in $ctrl.inputs track by $index">
        <h1 class="title">{{item.displayName}}</h1>
        <div class="col-xs-12">
            <div class="form-group">
                <div class="col-md-6 col-xs-12">
                    <iz-select ng-model="item.fields.title" name="title-{{item.formName}}"
                               callbacks="$ctrl.genericCallbacks">
                    </iz-select>
                </div>
                <div class="col-md-6 col-xs-12">
                    <iz-input ng-model="item.fields.givenName"
                              name="givenName-{{item.formName}}"
                              callbacks="$ctrl.genericCallbacks">
                    </iz-input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-xs-12">
                    <iz-input ng-model="item.fields.lastName"
                              name="lastName-{{item.formName}}"
                              callbacks="$ctrl.genericCallbacks"></iz-input>
                </div>
                <div class="col-md-3 col-xs-6">
                    <iz-input ng-model="item.fields.middleName"
                              name="middleName-{{item.formName}}">
                    </iz-input>
                </div>
                <div class="col-md-3 col-xs-6">
                    <iz-input ng-model="item.fields.suffix"
                              name="suffix-{{item.formName}}">
                    </iz-input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-xs-12">
                    <iz-input ng-model="item.fields.email"
                              callbacks="$ctrl.genericCallbacks"
                              name="email-{{item.formName}}">
                    </iz-input>
                </div>
                <div class="col-md-6 col-xs-12">
                    <iz-input ng-model="item.fields.alternativeEmail"
                              name="altEmail-{{item.formName}}">
                    </iz-input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-xs-12 no-padding">
                    <div class="col-md-4 col-xs-4">
                        <iz-select ng-model="item.fields.phone1CountryCode"
                                   name="phone1CC-{{item.formName}}"
                                   callbacks="$ctrl.genericCallbacks">
                        </iz-select>
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <iz-input ng-model="item.fields.phone1RegionCode"
                                  name="phone1RC-{{item.formName}}"
                                  callbacks="$ctrl.genericCallbacks">
                        </iz-input>
                    </div>
                    <div class="col-md-5 col-xs-4">
                        <iz-input ng-model="item.fields.phone1"
                                  name="phone1-{{item.formName}}"
                                  callbacks="$ctrl.genericCallbacks">
                        </iz-input>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 no-padding">
                    <div class="col-md-4 col-xs-4">
                        <iz-select ng-model="item.fields.phone2CountryCode"
                                   name="phone2CC-{{item.formName}}"
                                   callbacks="$ctrl.genericCallbacks">
                        </iz-select>
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <iz-input ng-model="item.fields.phone2RegionCode"
                                  name="phone2RC-{{item.formName}}"
                                  callbacks="$ctrl.genericCallbacks">
                        </iz-input>
                    </div>
                    <div class="col-md-5 col-xs-4">
                        <iz-input ng-model="item.fields.phone2"
                                  name="phone2-{{item.formName}}"
                                  callbacks="$ctrl.genericCallbacks">
                        </iz-input>
                    </div>
                </div>
            </div>
            <div class="form-group row row-flex row-flex-wrap">
                <div class="col-md-6 col-xs-12 flex-col">
                    <iz-input ng-model="item.fields.password" name="password-{{item.formName}}"
                              callbacks="$ctrl.genericCallbacks">
                    </iz-input>
                </div>
            </div>
        </div>
        <hr class="col-xs-12 title">
    </div>
</ng-form>
