.general-discount {
  &__wrapper {
    position: relative;
  }
  &__percentage {
    position: absolute;
    left: 10px;
    font-size: 14px;
  }
  &__check {
    position: absolute;
    left: 50px;
    top: 0;
    font-size: 10px;
    width: 100px;
    &-text {
      position: absolute;
      font-size: 10px;
      z-index: 3;
      top: 0;
      left: 70px;
      width: 100px;
    }
  }
  &__input {
    position: absolute;
    right: 10px;
    width: 50px;
  }
}