<div class="ui-grid-cell-contents form-group general-discount__wrapper">
    <div class="general-discount__percentage">
        {{$ctrl.data[0]}}%
    </div>
    <div class="general-discount__check"
         title="Not apply if the margin is less than, %">
        <iz-checkbox ng-model="$ctrl.inputs.notApply"
                     uib-popover="Not apply if the margin is less than, %"
                     popover-trigger="'mouseenter'"></iz-checkbox>
    </div>
    <!--<div class="general-discount__check-text">-->
        <!--Not apply if the margin is less than, %-->
    <!--</div>-->
    <div class="general-discount__input">
        <iz-input ng-model="$ctrl.inputs.notApplyValue"></iz-input>
    </div>
</div>
