<table class="table">
    <tbody>
        <tr ng-repeat="service in $ctrl.addServices track by $index">
            <td>
                <div class="add-subscriptions__add-services_header">{{service.Name}}</div>
                <div class="add-subscriptions__add-services_service" ng-if="service.Service">({{service.Service}})</div>
            </td>
            <td>
                <div>{{service.IProvider}}</div>
            </td>
            <td>
                <div>{{service.Description}}</div>
            </td>
            <td>{{$ctrl.getPriceString(service.Price)}}</td>
            <td>
                <i class="iz-icon icon-map-minus" ng-click="$ctrl.decrementQty(service)"></i>
                <span class="display">{{service.qty || 0}}</span>
                <i class="iz-icon icon-map-plus" ng-click="$ctrl.incrementQty(service)"></i>
            </td>
        </tr>
    </tbody>
</table>