//.clouds {
//  &-table {
//    & > thead {
//      border-bottom: 1px solid $border-light;
//    }
//    &-row {
//      background-color: #fff;
//      tbody > & {
//        &:nth-of-type(odd) {
//          background-color: #fafafa;
//        }
//      }
//    }
//    &-search {
//      position: relative;
//      & .fa-search {
//        position: absolute;
//        top: 50%;
//        left: 10px;
//        transform: translateY(-50%);
//        color: #838383;
//      }
//      &-input {
//        text-indent: 25px;
//      }
//    }
//  }
//}