.radiobutton {
  padding-left: 20px;
  line-height: 100% !important;
  position: relative;
  &:before {
    content: '';
    display: block;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid black;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 0;
  }
  &__checker {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 4px;
    top: 4px;
    background-color: #000;
    border-radius: 50%;
    opacity: 0;
    transition: .25s opacity ease;
  }
  &.active &__checker {
    opacity: 1;
    transition: .25s opacity ease;
  }
}