<div class="btn-group {{$ctrl.ngModel.options.classNameWrapper}} iz-radiogroup">
  <label class="radiobutton {{$ctrl.ngModel.options.classNameItem}}"
         ng-model="$ctrl.ngModel.model"
         ng-class="{active: $ctrl.ngModel.model === radiobutton.value}"
         uib-btn-radio="'{{radiobutton.value}}'"
         ng-repeat="radiobutton in $ctrl.ngModel.data track by $index"
         ng-click="$ctrl.onClick($event, $index)">
    <span class="radiobutton__checker"></span>
    {{radiobutton.title}}
  </label>
</div>