<!--<pre>{{$ctrl | json}}</pre/>-->
<div class="Flexible-container dashboard-component__graph-wrapper">
    <canvas id="line"
            class="chart chart-line"
            height="100"
            chart-data="$ctrl.data"
            chart-labels="$ctrl.labels"
            chart-click="$ctrl.onClick"
            chart-dataset-override="$ctrl.chartOptions.datasets"
            chart-options="$ctrl.options">
    </canvas>
</div>