.area-graph {
  &__buttons-group {
    margin-top: 30px;
    & > button {
      margin-top: 5px;
    }
  }
  &__button {
    position: relative;
    height: 40px;
    cursor: pointer;
    &_label {
      padding-left: 25px;
      @include alignVertical();
    }
    &_check {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      @include alignVertical();
    }
    &_checker {
      opacity: 0;
      transition: .5s ease opacity;
      height: 6px;
      width: 10px;
      transform: rotate(-45deg) translate(-50%, -50%);
      border-left: 1.5px solid #fff;
      border-bottom: 1.5px solid #fff;
      margin-left: 11px;
      margin-top: 4px;
    }
    &.active {
      & .area-graph__button_checker {
        opacity: 1;
        transition: .5s ease opacity;
      }
    }
  }
  &__header {
    &-text {
      @include alignVertical();
    }
  }
}