<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container-fluid">
            <div class="row row-flex row-flex-wrap">
                <div class="col-lg-5 col-md-12 flex-col">
                    <div class="area-graph__header-text">
                        {{$ctrl.graph.title}}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <iz-select ng-model="$ctrl.inputs.entities"
                               class="btn-block"
                               callbacks="$ctrl.selectCallbacks"
                               ng-if="$ctrl.graph.options.isDetails"></iz-select>
                </div>
                <div class="col-lg-3 col-md-6">
                    <iz-select ng-model="$ctrl.inputs.period"
                               callbacks="$ctrl.selectCallbacks"
                               class="btn-block"></iz-select>
                </div>
                <div class="col-xs-1">
                    <div class="btn btn-export-csv">
                        <img src="../../../assets/img/excel.png" alt="Export table">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <iz-area-chart chart-options="$ctrl.data"></iz-area-chart>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="area-graph__buttons-group">
                        <div class="area-graph__button"
                             ng-model="graph.model"
                             uib-btn-checkbox
                             btn-checkbox-true="1"
                             btn-checkbox-false="0"
                             ng-click="$ctrl.toggleGraphs(graph)"
                             ng-repeat="graph in $ctrl.buttons | orderBy:'-' track by $index">
                            <div class="area-graph__button_check" style="background-color: {{graph.nativeColor}}">
                                <div class="area-graph__button_checker"></div>
                            </div>
                            <div class="area-graph__button_label">{{graph.title}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
