.checkbox {
  padding-left: 20px;
  line-height: 100% !important;
  position: relative;
  font: inherit;
  &:before {
    content: '';
    display: block;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid black;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 0;
  }
  &__icon {
    &_pre {
      position: absolute;
      top: 10px;
      font-size: 20px;
      & + .checkbox {
        margin-left: 30px;
      }
    }
  }
  &__checker {
    position: absolute;
    width: 5px;
    height: 8px;
    left: 5px;
    top: 1px;
    opacity: 0;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
    transition: .25s opacity ease;
  }
  &.active &__checker {
    opacity: 1;
    transition: .25s opacity ease;
  }
}