<i class="iz-icon {{$ctrl.ngModel.options.preIconClass}} checkbox__icon_pre"
   ng-if="$ctrl.ngModel.options.preIconClass"></i>
<span type="button" class="checkbox {{$ctrl.ngModel.options.className}}"
      ng-class="{active: $ctrl.ngModel.data.model}"
      ng-model="$ctrl.ngModel.data.model"
      uib-btn-checkbox btn-checkbox-true="$ctrl.ngModel.data.valueTrue"
      btn-checkbox-false="$ctrl.ngModel.data.valueFalse"
      ng-click="$ctrl.callbacks && $ctrl.callbacks.onChange()">
  <span class="checkbox__checker"></span>
  {{$ctrl.ngModel.data.title}}
  <span ng-if="$ctrl.ngModel.options.required"> *</span>
  <span ng-if="$ctrl.hasLink" ng-click="$ctrl.preventModelChange()">
    <a ng-href="{{$ctrl.ngModel.options.link.href}}">{{$ctrl.ngModel.options.link.title}}</a>
  </span>
</span>