<div class="container-fluid">
    <div class="row form-group">
        <div class="col-md-12">
            <h1 class="title">
                General Resctrictions for Salling
                <span class="ps-cs-restrictions__note" ng-if="!$ctrl.restrictions.length">(restrictions have not been set yet)</span>
            </h1>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr ng-if="$ctrl.restrictions.length">
                    <th>Currency</th>
                    <th>Availability for Partner</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="ps-cs-currency__table-row" ng-repeat="restriction in $ctrl.restrictions track by $index">
                    <td contenteditable="true">
                        {{$ctrl.getCollectionString($ctrl.getRegions(restriction.countries))}}
                    </td>
                    <td contenteditable="true">
                        {{$ctrl.getCollectionString(restriction.countries)}}
                    </td>
                    <td>
                        <span class="ps-cs-currency__table-data_is-deleter action-buttons-action icon-actions-pencil"
                              ng-click="$ctrl.edit(restriction)"></span>
                        <span class="ps-cs-currency__table-data_is-deleter action-buttons-action icon-actions-trash"
                              ng-click="$ctrl.delete($index)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-default" ng-click="$ctrl.add()">Add More</button>
        </div>
    </div>
</div>
