.server-card {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.11);
  background-color: #fff;
  margin: 15px 0;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  position: absolute;
  padding-bottom: 40px;
  width: 100%;
  &__wrapper {
    position: relative;
    height: 270px;
    z-index: 2;
    overflow: visible;
    margin-bottom: 30px;
  }
  &__header {
    height: 50px;
    border-bottom: 1px solid $info;
    display: flex;
    &-text {
      margin: auto auto auto 20px;
    }
  }
  &__icon {
    width: 100%;
    height: 75px;
    margin-top: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 75px;
  }
  &__description {
    margin-top: 20px;
    padding: 0 15px;
  }
  &__text {
    overflow: hidden;
    line-height: 1.5em;
    height: 4.5em;
    min-height: 4.5em;
    width: 100%;
  }
  &__link {
    margin-top: 15px;
    display: none;
  }
  &__action {
    width: 20px;
    height: 20px;
    display: flex;
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    &:after {
      content: '';
      display: block;
      height: 10px;
      width: 10px;
      margin: auto;
      transform: rotate(45deg);
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }
    &:hover {
      background-color: #e0e0e0;
    }
    &:hover:after {
      border-right: 1px solid $info;
      border-bottom: 1px solid $info;
    }
  }
}

.expanded {
  & .server-card {
    height: auto;
    &__text {
      height: auto;
    }
    &__action {
      &:after {
        transform: rotate(225deg);
        border-right: 1px solid $info;
        border-bottom: 1px solid $info;
      }
    }
    &__link {
      display: block;
    }
  }
}

.active {
  .server-card {
    background-color: #fafafa;
  }
}