<div class="server-card__wrapper" ng-class="{'expanded': $ctrl.isExpanded}">
    <div class="server-card">
        <div class="server-card__header">
            <div class="server-card__header-text">{{$ctrl.item.name}}</div>
        </div>
        <div class="server-card__icon" ng-style="{'background-image': $ctrl.item.icon}"></div>
        <div class="server-card__description">
            <div class="server-card__text">{{$ctrl.item.description}}</div>
            <div class="server-card__link">
                <a href="http://{{$ctrl.item.link}}" target="_blank" ng-click="$ctrl.item.isSelected = !$ctrl.item.isSelected;">{{$ctrl.item.link}}</a>
            </div>
            <div class="server-card__action" ng-click="$ctrl.toggleExpand()"></div>
        </div>
    </div>
</div>