@import "view-invoice/view-invoice";

.table-checkbox-group {
  .btn {
    background-color: $default;
    color: $info;
    border-color: $info;
    &:hover, &.active {
      background-color: $info;
      color: $default;
    }
  }
}
.btn-export-csv {
  padding: 0;
  display: inline-block;
  text-align: right;
  img {
    width: 34px;
    height: 34px;
  }
}