
.iz-icon {
  font-family: 'iz-icons' !important;
}

.icon-word:before {
  content: "\e940";
}
.icon-permission:before {
  content: "\e95f";
}
.icon-all_users:before {
  content: "\e960";
}
.icon-all_groups:before {
  content: "\e966";
}

.icon-pdf-download:before {
  content: "\e965";
  color: red;
}
.icon-refresh:before {
  content: "\e964";
}

.icon-history:before {
  content: "\e963";
}

.icon-actions-trash:before {
  content: "\e900";
}
.icon-actions-pencil:before {
  content: "\e901";
}
.icon-actions-plus:before {
  content: "\e902";
}
.icon-cancel:before {
  content: "\e903";
}

.icon-VIRTUAL-DC:before {
  content: "\e956";
}
.icon-Settings-new:before {
  content: "\e957";
}
.icon-RISK-MANAGEMENT:before {
  content: "\e958";
}
.icon-PRICE:before {
  content: "\e959";
}
.icon-PARTNERS:before {
  content: "\e95a";
}
.icon-LEGAL:before {
  content: "\e95b";
}
.icon-HARDWARE-TEMPLATES:before {
  content: "\e95c";
}
.icon-FABRIC:before {
  content: "\e95d";
}
.icon-COMMERCIAL:before {
  content: "\e95e";
}
.icon-CLOUD-TYPES:before {
  content: "\e961";
}
.icon-ADDITIONAL-SERVICES:before {
  content: "\e962";
}
.icon-view:before {
  content: "\e946";
}
.icon-spla .path1{
  margin-left: -0.5em;
  &:before {
    content: "\e947";
    color: rgb(243, 83, 37);
    position: absolute;
  }
}

.icon-spla .path2:before {
  content: "\e948";
  position: absolute;
  color: rgb(129, 188, 6);
}
.icon-spla .path3:before {
  content: "\e952";
  position: absolute;
  color: rgb(5, 166, 240);
}
.icon-spla .path4:before {
  content: "\e953";
  position: absolute;
  color: rgb(255, 186, 8);
}
.icon-menu2:before {
  content: "\e954";
}
.icon-menu1:before {
  content: "\e955";
}
.icon-services2:before {
  content: "\e941";
}
.icon-datacenter:before {
  content: "\e943";
}

.icon-partner:before {
  content: "\e93f";
}
.icon-company:before {
  content: "\e92e";
}
.icon-contracts:before {
  content: "\e92f";
}

.icon-price-list:before {
  content: "\e92c";
}
.icon-orders:before {
  content: "\e92d";
}

.icon-map-location:before {
  content: "\e91e";
}
.icon-map-plus:before {
  content: "\e91f";
}
.icon-map-minus:before {
  content: "\e921";
}
.icon-paper-clips:before {
  content: "\e922";
}
.icon-server:before {
  content: "\e923";
}
.icon-circular-arrow:before {
  content: "\e927";
}
.icon-check-mark:before {
  content: "\e928";
}
.icon-more:before {
  content: "\e929";
}
.icon-unassign:before {
  content: "\e92a";
}
.icon-settings2:before {
  content: "\e92b";
}
.icon-active-cloud:before {
  content: "\e91d";
  color: #00bef2;
}
.icon-green-yellow-key .path1:before {
  content: "\e91b";
  color: rgb(127, 186, 0);
}
.icon-green-yellow-key .path2:before {
  content: "\e91c";
  margin-left: 0;
  color: rgb(252, 209, 22);
  position: absolute;
  top: 0;
}
.icon-sql-cloud:before {
  content: "\e919";
  color: #00bcf2;
}
.icon-blue-key:before {
  content: "\e91a";
  color: #0079d6;
}
.icon-yarn:before {
  content: "\e913";
}
.icon-social:before {
  content: "\e914";
}
.icon-publisher:before {
  content: "\e915";
}
.icon-clouds-blue:before {
  content: "\e917";
}
.icon-sun:before {
  content: "\e918";
}

.icon-order-software:before {
  content: "\e911";
}
.icon-order-licences:before {
  content: "\e912";
}
.icon-power_icon-1:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e90f";
}
.icon-power_icon-2:before {
  content: "\e90e";
}
.icon-power_icon-3:before {
  content: "\e916";
}
.icon-users:before {
  content: "\e926";
}
.icon-17:before {
  content: "\e925";
}
.icon-logout:before {
  content: "\e924";
}
.icon-exchange:before {
  content: "\e944";
  color: #0072c6;
}
.icon-stop:before {
  content: "\e904";
  color: #ccc;
}
.icon-warning:before {
  content: "\e900";
  color: #ffcc00;
}
.icon-services:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-eyes:before {
  content: "\e903";
}
.icon-settings:before {
  content: "\e905";
}
.icon-customer-settings:before {
  content: "\e906";
}
.icon-legal-settings:before {
  content: "\e907";
}
.icon-service-settings:before {
  content: "\e908";
}
.icon-technical-settings:before {
  content: "\e909";
}
.icon-commercial-settings:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
  color: $info;
}
.icon-dollar:before {
  content: "\e90c";
  color: $info;
}
.icon-invoices:before {
  content: "\e90d";
}
.icon-power_icon-4:before {
  content: "\e920";
}
.icon-dc:before {
  content: "\e945";
}
.icon-organization:before {
  content: "\e949";
}
.icon-edit:before {
  content: "\e94a";
}
.icon-info-thin:before {
  content: "\e94b";
}
.icon-locations:before {
  content: "\e94c";
}
.icon-clouds:before {
  content: "\e94d";
}
.icon-operations:before {
  content: "\e94e";
}
.icon-servers:before {
  content: "\e94f";
}
.icon-licences:before {
  content: "\e950";
}
.icon-subscriptions:before {
  content: "\e951";
}
.icon-dashboard:before {
  content: "\e967";
}
.icon-datacenter:before {
  content: "\e968";
}
.icon-check:before {
  content: "\e969";
  color: $info;
}
.icon-billing:before {
  content: "\e96a";
}
.icon-cart:before {
  content: "\e930";
}
.icon-trash:before {
  content: "\e931";
}
.icon-plus:before {
  content: "\e936";
}
.icon-shedule:before {
  content: "\e937";
}
.icon-icon-2:before {
  content: "\e938";
}
.icon-icon-3:before {
  content: "\e939";
}
.icon-icon-4:before {
  content: "\e93a";
}
.icon-icon-5:before {
  content: "\e93b";
}
.icon-icon-6:before {
  content: "\e93c";
}
.icon-icon-7:before {
  content: "\e93d";
}
.icon-info:before {
  content: "\e93e";
}
.icon-skype:before {
  content: "\e935";
  color: #0eb0f0;
}
.icon-table-servers:before {
  content: "\e934";
  color: $info;
}
.icon-office365:before {
  content: "\e933";
  color: red;
}
.icon-aws:before {
  content: "\e932";
  color: orange;
}
.icon-blue-clouds:before {
  content: "\e942";
  color: dodgerblue;
}
.icon-checked:before {
  content: "\e96b";
}
.icon-sharepoint:before {
  content: "\e96c";
  color: #0072c6;
}
.icon-icon-server_skype:before {
  content: "\e96d";
}