/* main styles */
@import "./common";
@import "./app/_accordion";
@import "./app/_step-license.scss";
button:focus{
  outline: none;
}
*:focus {
  outline: none;
}
.no-padding {
  padding: 0;
}
ui-view {
  height: 100%;
}
.h100 {
  min-height: 100%;
  height: 100%;
}
.title {
  margin-left: -15px;
}
.relative{
  position: relative;
}
.v-center {
  @include alignVertical();
}

/* fix hide/show angular animation */
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
  display: none !important;
}
