@font-face{
  font-family: 'SegoeUILight';
  src:url('../../app/assets/fonts/segoeui-light.eot');
  src:url('../../app/assets/fonts/segoeui-light.eot?#iefix') format('embedded-opentype'),
  url('../../app/assets/fonts/segoeui-light.woff') format('woff'),
  url('../../app/assets/fonts/segoeui-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'SegoeUI';
  src:url('../../app/assets/fonts/segoeui-normal.eot');
  src:url('../../app/assets/fonts/segoeui-normal.eot?#iefix') format('embedded-opentype'),
  url('../../app/assets/fonts/segoeui-normal.woff') format('woff'),
  url('../../app/assets/fonts/segoeui-normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yenlaf');
  src:  url('fonts/icomoon.eot?yenlaf#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?yenlaf') format('truetype'),
  url('fonts/icomoon.woff?yenlaf') format('woff'),
  url('fonts/icomoon.svg?yenlaf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iz-icons';
  src:
          url('../../app/assets/fonts/iz-icons.ttf?h7xypy') format('truetype'),
          url('../../app/assets/fonts/iz-icons.woff?h7xypy') format('woff'),
          url('../../app/assets/fonts/iz-icons.svg?h7xypy#iz-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}