<div class="iz-image-upload-modal__wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <canvas width="600"
                        height="400"
                        id="canvas"
                        image-cropper
                        image="$ctrl.cropper.sourceImage"
                        cropped-image="$ctrl.cropper.croppedImage"
                        keep-aspect="false"
                        touch-radius="30"
                        crop-area-bounds="$ctrl.bounds">
                </canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-4">
                <button class="btn btn-success btn-block" ng-click="$ctrl.confirm()">Confirm</button>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-danger btn-block" ng-click="$ctrl.close()">Cancel</button>
            </div>
        </div>
    </div>
</div>
