.checkout-description {
  &__benefits {
    //margin-top: 5px;
  }
  &__integration-list {
    &-item {
      font-size: 20px;
      height: 24px;
      width: 24px;
    }
    &-icon {
      & > .path2 {
        position: relative;
        &:before {
          margin-left: -20px !important;
        }
      }
    }
  }
  &__description {
    max-height: 3em;
    overflow: hidden;
    line-height: 1.5;
    &.is-hidden {
      position: absolute;
      visibility: hidden;
      max-height: none;
    }
  }
  &__list {
    max-height: 7.5em;
    list-style: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    line-height: 1.5;
  }
  &__expander-wrapper {
    position: relative;
    &.expanded {
      max-height: none;
      & .checkout-description__description {
        max-height: none;
      }
      & .checkout-description__list {
        max-height: none;
      }
    }
  }
  &__expand {
    cursor: pointer;
  }
}