<p class="checkout-description__benefits" ng-if="$ctrl.data.benefitsList">{{$ctrl.data.benefitsList}}</p>
<div class="checkout-description__expander-wrapper" ng-class="{ expanded: $ctrl.isExpanded }">
    <div ng-if="$ctrl.data.list">
        <ul class="checkout-description__list">
            <li class="checkout-description__list-item" ng-repeat="item in $ctrl.data.list track by $index">{{item}}</li>
        </ul>
    </div>
    <p id="checkout-description__description" class="checkout-description__description" ng-if="$ctrl.data.description">{{$ctrl.data.description}}</p>
    <p id="checkout-description__description-hidden" class="checkout-description__description is-hidden" ng-if="$ctrl.data.description">{{$ctrl.data.description}}</p>
    <p class="checkout-description__expand" ng-click="$ctrl.isExpanded = !$ctrl.isExpanded" ng-if="(($ctrl.realHeight < $ctrl.theoreticalHeight) && $ctrl.data.description)">...</p>
</div>
<div ng-if="$ctrl.data.integration">
    Integration: <span class="checkout-description__integration-list">
        <span class="checkout-description__integration-list-item" ng-repeat="item in $ctrl.data.integration">
            <span class="checkout-description__integration-list-icon iz-icon {{item}}">
                <span class="path1"></span>
                <span class="path2"></span>
            </span>
        </span>
    </span>
</div>
