$informationPanelAnimationDuration: .5s;
.information-panel {
  &-wrapper {
    position: fixed;
    right: -300px;
    top: 0;
    width: 310px;
    height: 100%;
    transition: $informationPanelAnimationDuration right ease;
    z-index: 2;
    &.open {
      right: 0;
      transition: $informationPanelAnimationDuration right ease;
      & .information-panel-toggler:before {
        transform: translate(-50%, -50%) rotate(225deg) !important;
        transition: $informationPanelAnimationDuration transform ease;
      }
    }
  }
  &-main {
    overflow-y: auto;
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 61px;
    left: 0;
    box-shadow: -3px 0 6px 0 rgba(0, 0, 0, 0.2);
  }
  &-toggler {
    width: 50px;
    height: 50px;
    top: 64px;
    left: -50px;
    background-color: #fff;
    position: absolute;
    box-shadow: -6px 3px 6px 0 rgba(0, 0, 0, 0.2);
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      transform: translate(-50%, -50%) rotate(45deg);
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      top: 50%;
      left: 50%;
      transition: $informationPanelAnimationDuration transform ease;
    }
  }

  &-order {
    padding: 0 30px;
    &.entity-card {
      & .cloud-type {
        height: auto;
      }
    }
  }
  &-header {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
    &.section-help {
      text-transform: none;
      text-align: left;
      margin: 20px 0 10px;
    }
  }
  &-price-list {
    list-style: none;
    padding: 0;
    margin: 0;
    &-item {
      padding: 8px 0;
      &-name, &-price {
        margin-bottom: auto;
        margin-top: auto;
      }
      &-price {
        text-align: right;
      }
      &.delivery {
        border-bottom: 1px solid #aaa;
      }
      &.total {
        text-transform: uppercase;
        font-weight: bold;
      }
      &:after {
        content: '';
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
      }
    }
  }
  &__buttons {
    padding: 8px 0;
    font-size: 0;
    margin-bottom: 60px;
    & > button {
      width: calc(50% - 7px);
    }
    &-wrapper {
      &:nth-child(odd) {
        padding-right: 8px;
      }
      &:nth-child(even) {
        padding-left: 8px;
      }
    }
    &:after {
      content: '';
      visibility: hidden;
      display: block;
      font-size: 0;
      clear: both;
      height: 0;
    }
  }
  &-message {
    font-size: smaller;
    padding: 8px 0;
    margin-bottom: 70px;
  }

  &-help {
    padding: 0 30px;
  }

  &-qty {
    &-header {
      margin-top: 10px;
    }
    &-select {
      max-width: 100px;
      margin: 0;
    }
    &-no-arrows {
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}