<div class="information-panel-wrapper"
     ng-class="{open: $ctrl.isOpen()}"
     ng-if="$ctrl.isShown()">
  <div class="information-panel-main">
    <div class="information-panel-order" ng-if="$ctrl.model.type === 'price'">
      <div class="information-panel-header">Order</div>
      <ul class="information-panel-price-list">
        <li class="information-panel-price-list-item" ng-repeat="item in $ctrl.model.priceList">
          <div class="container-fluid">
            <div class="row row-flex row-flex-wrap">
              <div class="col-xs-4 flex-col no-padding">
                <span class="information-panel-price-list-item-name">{{item.name}}</span>
              </div>
              <div class="col-xs-4 flex-col">
                <span>
                  <iz-input ng-model="item.inputs.qty" callbacks="$ctrl.priceCallbacks"></iz-input>
                </span>
              </div>
              <div class="col-xs-4 flex-col no-padding">
                <span class="information-panel-price-list-item-price pull-right">{{$ctrl.getPriceStr(item.price)}}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <hr>
      <ul class="information-panel-price-list">
        <li class="information-panel-price-list-item">
          <span class="pull-left">Delivery Time</span>
          <span class="pull-right">{{$ctrl.model.delivery}}</span>
        </li>
        <hr>
        <li class="information-panel-price-list-item">
          <span class="pull-left">SUBTOTAL</span>
          <span class="pull-right">{{$ctrl.getPriceStr($ctrl.getPriceListSubtotal())}}</span>
        </li>
        <li class="information-panel-price-list-item">
          <span class="pull-left">VAT ({{$ctrl.vat * 100}}%)</span>
          <span class="pull-right">{{$ctrl.getPriceStr($ctrl.getPriceListSubtotal() * $ctrl.vat)}}</span>
        </li>
        <li class="information-panel-price-list-item total">
          <span class="pull-left">Total</span>
          <span class="pull-right">{{$ctrl.getPriceStr($ctrl.getPriceListSubtotal() + $ctrl.getPriceListSubtotal() * $ctrl.vat)}}</span>
        </li>
      </ul>
      <div class="information-panel__buttons">
        <div class="container-fluid" ng-if="$ctrl.buttons">
          <div class="row">
            <div class="col-xs-6 no-padding information-panel__buttons-wrapper" ng-repeat="button in $ctrl.buttons track by $index">
              <button class="btn btn-default btn-block"
                      ng-disabled="button.isDisabled"
                      ng-click="button.clickCb($event, $ctrl.model)"
                      ng-class="{'full-invisible': $first}">
                {{button.title}}
              </button>
            </div>
          </div>
        </div>
          <button class="btn btn-default pull-left full-invisible" ng-if="!$ctrl.buttons">Add to Cart
          </button>
        <button class="btn btn-default pull-right" ng-if="!$ctrl.buttons">Order</button>
      </div>
      <hr ng-if="$ctrl.model.message">
      <p class="information-panel-message" ng-if="$ctrl.model.message">{{$ctrl.model.message}}</p>
    </div>
    <div class="information-panel-order" ng-if="$ctrl.model.type === 'item'">
      <div class="information-panel-header">Order</div>
      <ul class="information-panel-price-list">
        <li ng-if="$ctrl.model.name">{{$ctrl.model.name}}</li>
        <li class="information-panel-price-list-item">
          <span class="pull-left">Price</span>
          <span class="pull-right">{{$ctrl.getPriceStr($ctrl.model.price)}}</span>
        </li>
        <li class="information-panel-price-list-item">
          <span class="pull-left">Discount</span>
          <span class="pull-right">{{$ctrl.model.discount}}%</span>
        </li>
        <li class="information-panel-price-list-item">
          <span class="information-panel-qty-header pull-left">Quantity</span>
          <span class="pull-right"><iz-input ng-model="$ctrl.inputs.qty"
                                             callbacks="$ctrl.callbacks"></iz-input></span>
        </li>
      </ul>
      <hr>
      <ul class="information-panel-price-list">
        <li class="information-panel-price-list-item">
          <span class="pull-left">Subtotal</span>
          <span class="pull-right">{{$ctrl.getPriceStr($ctrl.getItemSubtotal())}}</span>
        </li>
        <li class="information-panel-price-list-item">
          <span class="pull-left">VAT ({{$ctrl.vat * 100}}%)</span>
          <span class="pull-right">{{$ctrl.getPriceStr($ctrl.getItemSubtotal() * $ctrl.vat)}}</span>
        </li>
        <li class="information-panel-price-list-item total">
          <span class="pull-left">Total</span>
          <span class="pull-right">{{$ctrl.getPriceStr($ctrl.getItemSubtotal() + $ctrl.getItemSubtotal() * $ctrl.vat)}}</span>
        </li>
      </ul>
      <div class="information-panel__buttons">
          <button class="btn btn-default pull-left full-invisible" disabled>Add to Cart</button>
        <button class="btn btn-default pull-right" ng-click="$ctrl.model.makeOrder($ctrl.model)">Order</button>
      </div>
      <hr>
      <p class="information-panel-message">{{$ctrl.model.message}}</p>
    </div>
    <div class="information-panel-help" ng-if="$ctrl.model.type === 'message'">
      <div class="information-panel-header section-help">{{$ctrl.model.header}}</div>
      <p class="information-panel-message">{{$ctrl.model.message}}</p>
    </div>
    <div class="information-panel-order entity-card" ng-if="$ctrl.model.entity">
      <cloudtype item="$ctrl.model.entity.data" show-compare="false"></cloudtype>
    </div>
  </div>
    <div class="information-panel-toggler" ng-click="$ctrl.setOpen()"></div>
</div>
