<div class="form-group">
    <h2 class="title">Availability</h2>
    <div class="col-sm-6 col-xs-12">
        <iz-scheduler ng-model="$ctrl.inputs.maintenance.schedule"></iz-scheduler>
    </div>
    <div class="col-sm-6 col-xs-12">
        <iz-select ng-model="$ctrl.inputs.maintenance.availability"></iz-select>
    </div>
</div>
<hr class="separator">
<div class="form-group">
    <h2 class="title">Maintenance Windows</h2>
    <div class="col-sm-6">
        <iz-select ng-model="$ctrl.inputs.maintenance.maintenanceWindow"></iz-select>
    </div>
    <div class="col-sm-6">
        <iz-select ng-model="$ctrl.inputs.maintenance.maintenanceType"></iz-select>
    </div>
</div>
<hr class="separator">
<div class="form-group">
    <h2 class="title">Backup</h2>
    <div class="col-xs-12 col-sm-4">
        <iz-select ng-model="$ctrl.inputs.maintenance.backupServer"></iz-select>
    </div>
    <div class="col-xs-12 col-sm-4">
        <iz-select ng-model="$ctrl.inputs.maintenance.backupInterval"></iz-select>
    </div>
    <div class="col-xs-12 col-sm-4">
        <iz-select ng-model="$ctrl.inputs.maintenance.dataRetentionTime"></iz-select>
    </div>
</div>
<hr class="separator">
<div class="form-group">
    <div class="col-sm-6">
        <iz-select ng-model="$ctrl.inputs.maintenance.monitoringService"></iz-select>
    </div>
    <div class="col-xs-12 col-sm-6">
        <iz-select ng-model="$ctrl.inputs.maintenance.serviceManagementContracts"></iz-select>
    </div>
</div>
