.percent-display {
  &__global-wrapper {
    position: relative;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0 15px;
    &.yellow {
      background-color: #FDCA91;
    }
    &.green {
      background-color: #C6DA8F;
    }
    &.red {
      background-color: #FD868D;
    }
  }
  &__value {
    display: block;
    text-align: center;
    width: 100%;
    @include alignVertical;
  }
}
