<div class="percent-display__global-wrapper yellow"
     ng-if="$ctrl.value || $ctrl.value === 0"
     ng-class="{'red': ($ctrl.value <= 5), 'yellow': (($ctrl.value > 5) && ($ctrl.value < 15)), 'green': ($ctrl.value >= 16)}"
     title="{{$ctrl.value}}">
    <span class="percent-display__value">{{$ctrl.value | number: 0}} %</span>
</div>
