.entity-configure {
  margin: 1px 0 0 0 !important;
  border-radius: 0 !important;
  padding: 0;
  width: calc(100% + 15px);
  transition: .1s background-color ease;
  &.panel-open {
    background-color: #f7f7f7;
  }
  &:last-child {
    .panel-heading {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    }
  }
  & .panel-heading {
    padding: 0;
  }
  & .panel-collapse {
    background-color: #f8f9fb;
    box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.15);
    & > .panel-body {
      padding: 50px;
    }
  }
  & .accordion-toggle {
    &:hover, &:focus {
      text-decoration: none !important;
    }
  }
  &__group {
    height: 50px;
    padding: 15px;
  }

  &__external-button-group {
    padding: 20px 35px;
  }
}