.step-license {
  margin-top: 50px;
  &__radio {
    margin: 10px;
    &:first-child {
      margin-left: 0;
    }
    &-wrapper {
      margin-top: 15px;
    }
  }
  &-panel {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.11);
    &__price-list {
      list-style: none;
      padding: 0;
      &_item {
        padding: 10px;
        &:after {
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0;
        }
      }
    }
    &__footer {
      padding: 10px;
      background-color: #fafafa;
      border-bottom: 3px solid $info;
      color: $info;
      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: "";
        clear: both;
        height: 0;
      }
    }
  }
  &_license-key {
    &:after {
      font-family: 'iz-icons' !important;
      content: "\e969";
      color: $info;
      font-size: 20px;
      position: absolute;
      right: 20px;
      bottom: 10px;
    }
  }
}