<div class="add-cloud">
    <form class="form-horizontal">
        <div class="container-fluid">
            <div class="form-group">
                <h2 class="title">Add Datacenter</h2>
                <div class="col-sm-6 col-xs-12">
                    <iz-select ng-model="$ctrl.countryList" />
                </div>
                <div class="col-sm-6 col-xs-12">
                    <iz-select ng-model="$ctrl.cityList" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 col-xs-12">
                    <button class="btn btn-default">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>