<div class="col-sm-{{$ctrl.ngModel.width}} iz-textarea">
  <label class="control-label"
         ng-if="$ctrl.ngModel.title">
    {{$ctrl.ngModel.title}} <span ng-if="$ctrl.ngModel.options && $ctrl.ngModel.options.required">*</span>
  </label>
  <textarea
         class="form-control {{$ctrl.className}}"
         placeholder="{{$ctrl.ngModel.placeholder}}"
         ng-model="$ctrl.ngModel.data"
         name="$ctrl.ngModel.name"
         rows="$ctrl.ngModel.options && $ctrl.ngModel.options.rows"
         cols="$ctrl.ngModel.options && $ctrl.ngModel.options.cols"
         ng-disabled="$ctrl.ngDisabled"
         ng-required="{{$ctrl.ngModel.options && $ctrl.ngModel.options.required && !$ctrl.ngDisabled}}"
         ng-change="$ctrl.callbacks.onChange()"></textarea>
</div>
