<h1 class="title no-margin">Manage License</h1>
<h1 class="title no-margin">{{$ctrl.license.Name}}</h1>
<hr class="separator">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <p>INTERVAL: {{$ctrl.license.Inverval}}</p>
            <p>AVAILABLE: {{$ctrl.license.AvailableUnits}}</p>
        </div>
        <div class="com-md-8">
            <p>EXPIRATION DATE: {{$ctrl.license.ExpirationDate | date : 'dd.MM.yyyy'}}</p>
            <p><a href="#" ui-sref="app.softlic.office365.addoffice365plan({ProductId: $ctrl.license.Id})">Order more</a></p>
        </div>
    </div>
</div>
<iz-table table-options="$ctrl.tableOptions" ng-if="!$ctrl.isLoading"></iz-table>