<div class="panel panel-default dashboard-widget">
    <div class="panel-heading">
        <h3>{{$ctrl.donut.title}}</h3>
    </div>
    <div class="panel-body">
        <canvas id="{{$ctrl.donut.title}}"
                class="chart chart-doughnut"
                chart-data="$ctrl.donut.data"
                chart-labels="$ctrl.donut.labels"
                chart-options="$ctrl.donut.options">
        </canvas>
    </div>
</div>
