$izImageUploaderHeight: 200px;
.iz-image-upload {
  &__attacher {
    &_select {
      &-wrapper {
        position: relative;
      }
      height: 36px;
      position: absolute;
      top: 0;
      left: -95px;
      opacity: 0;
    }
    &_button {
    }
    &_hider {
      position: absolute;
      display: inline-block;
      height: 36px;
      width: 95px;
      z-index: 5;
      left: -95px;
      top: 0;
      cursor: default;
    }
    &_preview {
      &-wrapper {
        height: $izImageUploaderHeight + 10px;
        padding: 5px;
        margin: 15px 0;
        border: 1px solid #e5e5e5;
      }
      max-width: 100%;
      cursor: pointer;
    }
  }
}

@import './modal/modal';
