<label class="control-label" ng-class="{'is-disabled': $ctrl.ngDisabled}" ng-transclude>
    {{$ctrl.ngModel.title}} <span ng-if="$ctrl.ngModel.title === ' '" style="visibility: hidden">F</span><span
        ng-if="$ctrl.ngModel.options && $ctrl.ngModel.options.required">*</span>
</label>
<div class="iz-image-upload__attacher"
     nv-file-drop
     uploader="$ctrl.imageUploader"
     nv-file-over
     over-class="over">
    <div class="iz-image-upload__attacher_preview-wrapper">
        <img ng-show="$ctrl.imageUploader.queue.length"
             ng-click="$ctrl.open()"
             class="iz-image-upload__attacher_preview iu-{{$ctrl.seed}}"
             src=""
             alt="preview">
        <span ng-if="!$ctrl.imageUploader.queue.length">No Image Selected</span>
    </div>
    <div class="s-legal-settings__attacher_select-wrapper">
        <div class="iz-image-upload__attacher_hider"></div>
        <button class="btn btn-primary iz-image-upload__attacher_button">
            ADD IMAGE
            <input class="iz-image-upload__attacher_select iu-{{$ctrl.seed}}"
                   ng-model="imagePreview"
                   type="file"
                   nv-file-select
                   uploader="$ctrl.imageUploader"
                   accept="image/*"/>
        </button>
    </div>
</div>