.add-subscriptions {
  .hardware-info {
    .body-list {
      list-style: disc;
    }
  }
  .confirm {
    margin-top: 50px;
  }
  &__legal-text {
    height: 15em;
    overflow-y: auto;
    padding: 5px;
    border: 1px solid #cecece;
  }
  &__existing {
    &-list {
      &-item {
        &_radiogroup {
          width: 100%;
          padding: 0 15px;
        }
        &_radioitem {
          width: 50%;
          &:last-child {
            margin-left: 15px;
            width: calc(50% - 15px);
          }
        }
      }
    }
  }
  &__add-services {
    &_header {
      font-weight: bold;
    }
    &_service {
      font-size: smaller;
    }
  }
}