  <div class="add-subscriptions">
    <form class="form-horizontal" name="subscriptionForm">
        <div class="container-fluid no-padding">

          <uib-accordion close-others="true">
            <div uib-accordion-group
                 class="entity-configure"
                 ng-if="(item.entity !== '101-cloud' && item.entity !== 'infrastructure-provider') || $ctrl.type !== 'individual'"
                 ng-repeat="item in $ctrl.inputs">
              <uib-accordion-heading>
                <div class="entity-configure__group">
                  {{item.Name}}
                </div>
              </uib-accordion-heading>

              <div class="form-group" ng-if="!item.is101Cloud">
                <iz-radiogroup ng-model="item.fields.general.switcher"
                               callbacks="$ctrl.genericCallbacks"></iz-radiogroup>
              </div>
              <hr ng-if="!item.is101Cloud">
              <div ng-if="item.fields.general.switcher.model === 'existing'">
                <div class="form-group">
                  <iz-radiogroup ng-model="item.fields.existing.radiogroup"
                                 ng-if="$ctrl.type !== 'individual'"
                                 callbacks="$ctrl.genericCallbacks"></iz-radiogroup>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-xs-12">
                    <iz-select ng-model="item.fields.existing.subscription"
                               callbacks="$ctrl.genericCallbacks"
                               ng-if="$ctrl.type !== 'individual'"
                               ng-disabled="item.fields.existing.radiogroup.model !== 'subscription'">
                    </iz-select>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <iz-input ng-model="item.fields.existing.tenantId"
                              callbacks="$ctrl.genericCallbacks"
                              ng-disabled="item.fields.existing.radiogroup.model !== 'id' && $ctrl.type !== 'individual'">
                    </iz-input>
                  </div>
                </div>
                <div class="form-group">
                  <h1 class="title">Credentials</h1>
                  <div class="col-md-6 col-xs-12">
                    <iz-input ng-model="item.fields.existing.login"
                              callbacks="$ctrl.genericCallbacks"></iz-input>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <iz-input ng-model="item.fields.existing.password"
                              callbacks="$ctrl.genericCallbacks"></iz-input>
                  </div>
                </div>
              </div>
              <div ng-if="item.fields.general.switcher.model === 'new'">
                <div class="form-group">
                  <div class="col-sm-6">
                    <iz-input ng-model="item.fields.new.name" ng-if="!item.is101Cloud"></iz-input>
                    <iz-select ng-model="item.fields.new.cloudType" ng-if="item.is101Cloud"></iz-select>
                  </div>
                  <div class="col-sm-6">
                    <iz-select ng-model="item.fields.new.type"
                               callbacks="$ctrl.periodCallbacks[$index]"></iz-select>
                  </div>
                  <div class="col-sm-12" ng-if="!item.is101Cloud">
                    <iz-textarea ng-model="item.fields.new.description"></iz-textarea>
                  </div>
                </div>
              </div>
              <add-subscription-add-services ng-if="item.isAddServices && $ctrl.addServices" add-services="$ctrl.addServices"></add-subscription-add-services>
              <h1 class="title" ng-if="item.isIProvider && $ctrl.virtualDatacenters">
                Virtual Datacenter Offerings
              </h1>
              <add-subscription-general ng-if="item.isIProvider && $ctrl.virtualDatacenters" virtual-datacenters="$ctrl.virtualDatacenters"></add-subscription-general>

              <div class="row">
                <h2 class="title">Terms & Conditions</h2>
                <div class="col-md-2 col-md-offset-10">
                  <iz-select ng-model="item.fields.general.language"></iz-select>
                </div>
                <div class="col-md-12">
                  <div class="add-subscriptions__legal-text" ng-bind-html="item.fields.general.termsConditions[item.fields.general.language.selected.displayName]"></div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6 confirm">
                    <iz-checkbox ng-model="item.fields.general.confirm" callbacks="$ctrl.callbacks"></iz-checkbox>
                  </div>
                </div>
              </div>
            <button class="btn btn-default"
                    ng-click="$ctrl.saveIndividual(item)"
                    ng-disabled="!item.fields.general.confirm.data.model"
                    ng-if="$ctrl.type === 'individual'">
              Save
            </button>
            </div>
          </uib-accordion>
        </div>
      <div class="clearfix"></div>
    </form>
  </div>