.iz-subnets {
  .subnet-panel {
    padding: 20px 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
  }
  .add-subnet {
    position: absolute;
    right: 15px;
    top: 30px;
    font-size: 20px;
    cursor: pointer;
  }
  h3, h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
  }
  .iz-radiogroup {
    label {
      padding-right: 15px;
    }
  }
}
