<div class="iz-user-role">
  <div class="form-group" ng-repeat="role in $ctrl.data.roles">

  </div>
  <div class="form-group">
    <div class="col-md-3">
      <iz-input ng-model="role.userRole"></iz-input>
    </div>
    <div class="col-md-3">
      <iz-input ng-model="role.userGroup"></iz-input>
    </div>
    <div class="col-md-3">
      <iz-input ng-model="role.customer"></iz-input>
    </div>
    <div class="col-md-3">
      <iz-input ng-model="role.x"></iz-input>
    </div>
  </div>
</div>
