<div class="Flexible-container iz-map" style="max-height: 400px">
    <bing-map center="$ctrl.mapOptions.center"
              zoom="$ctrl.mapOptions.zoom"
              mapType="$ctrl.mapOptions.mapType"
              options="$ctrl.mapOptions.options"
              credentials="'AjgPLsKBC6t_mm19IDn1-fsg_ZXu7y129dHOxCcwa0QFcGw0gcRH4SLIUwEzVw-X'"
              on-map-ready="$ctrl.onMapReady(map)">
        <pushpin ng-repeat="pushpin in $ctrl.ngModel.pushpins track by $index"
                lat="pushpin.location.latitude"
                lng="pushpin.location.longitude"
                options="pushpin.options"
                events="pushpin.events"
                pushpin-data="pushpin.data">
        </pushpin>
    </bing-map>
</div>
