<button class="btn btn-info" ng-click="$ctrl.goBack()">< BACK</button>
<h1 class="title">Invoice Details</h1>
<div class="controls" ng-if="$ctrl.pdfLink">
    <span>
        <button class="btn btn-primary fa fa-rotate-left" ng-click="myViewer.rotateLeft()"></button>
        <button class="btn btn-primary fa fa-rotate-right" ng-click="myViewer.rotateRight()"></button>
        <button class="btn btn-primary fa fa-arrow-left" ng-click="myViewer.previousPage()"></button>
        <button class="btn btn-primary fa fa-arrow-right" ng-click="myPdfViewer.nextPage()"></button>
        <input type="number" ng-model="myViewer.page" min="1" max="{{$ctrl.myPdfViewer.total}}" /> / {{$ctrl.myPdfViewer.total}}
    </span>
</div>
<div ng-if="$ctrl.pdfLink">
    <div pdf-viewer
         pdf-viewer="$ctrl.pdfOptions"
         pdf-url="$ctrl.pdfLink"
         id="my-pdf-viewer"
         content>
    </div>
</div>
