.internal-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &-item{
    margin-bottom: 20px;
    &__link{
      display: inline-block;
      width: 175px;
      height: 98px;
      padding: 15px 0;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.11);
      color: #666;
      font-size: 13px;
      font-weight: 300;
      line-height: 28px;
      text-transform: uppercase;
      font-family: 'SegoeUILight';
      position: relative;
      &:hover, &:focus{
        background-color: #f8f9fb;
        text-decoration: none;
      }
      .icon-wrapper {
        width: 60px;
        height: 98px;
        position: relative;
        display: inline-block;
        margin-top: -15px;
      }
      &-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 44px;
        color: #4fb6dc;
        display: inline-block;
      }
      &-text {
        margin-left: 10px;
        max-width: 90px;
        display: inline-block;
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
      }
    }
    & .active {
      background-color: #f8f9fb;
      text-decoration: none;
    }
  }
}