<ul class="internal-nav" ng-cloak ng-if="$ctrl.section">
    <li ng-repeat="item in $ctrl.menuList" class="internal-nav-item" ng-if="!item.isHidden">
    <a ui-sref="{{ item.state }}"
       class="internal-nav-item__link"
       ng-class="{active: $parent.$ctrl.$state.includes(item.state)}">
      <span class="icon-wrapper">
        <i class="iz-icon icon-{{item.iconClass}} internal-nav-item__link-icon">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
      </i>
      </span>
      <div class="internal-nav-item__link-text">{{item.title}}</div>
    </a>
  </li>
</ul>
<div class="scrollbar-hider"></div>
