.iz-loader {
  text-align: center;
}

.iz-preloader {
  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #838383;
    opacity: .3;
    z-index: 9999;
  }
  &-loader{
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid $info; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    margin-left: -60px;
    margin-top: -60px;
    top: 50%;
    left: 50%;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}