<div class="form-group">
    <div class="col-sm-6 col-xs-12">
        <iz-select ng-model="$ctrl.inputs.general.cloud"></iz-select>
    </div>
    <div class="col-sm-6 col-xs-12">
        <iz-select ng-model="$ctrl.inputs.general.iProvider"></iz-select>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-6 col-xs-12">
        <iz-select ng-model="$ctrl.inputs.general.subscription"></iz-select>
    </div>
    <div class="col-sm-6 col-xs-12">
        <iz-select ng-model="$ctrl.inputs.general.datacenter"></iz-select>
    </div>
</div>
<hr class="col-xs-12">
<div class="form-group">
    <div class="col-sm-6 col-xs-12">
        <iz-input ng-model="$ctrl.inputs.general.serverName"></iz-input>
    </div>
    <div class="col-sm-6 col-xs-12">
        <iz-input ng-model="$ctrl.inputs.general.domainName"></iz-input>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-6 col-xs-12">
        <iz-select ng-model="$ctrl.inputs.general.operatingSystemVersion"></iz-select>
    </div>
    <div class="col-sm-6 col-xs-12">
        <iz-textarea ng-model="$ctrl.inputs.general.description"
                      className="form-control no-resize"></iz-textarea>
    </div>
</div>
<hr class="col-xs-12">
<div class="form-group">
    <div class="col-md-6 col-xs-12">
        <iz-select ng-model="$ctrl.inputs.general.businessOwner"></iz-select>
    </div>
    <div class="col-md-6 col-xs-12">
        <iz-select ng-model="$ctrl.inputs.general.businessDeputyOwner"></iz-select>
    </div>
</div>
<div class="form-group">
    <div class="col-md-6 col-xs-12">
        <iz-select ng-model="$ctrl.inputs.general.technicalOwner"></iz-select>
    </div>
    <div class="col-md-6 col-xs-12">
        <iz-select ng-model="$ctrl.inputs.general.technicalDeputyOwner"></iz-select>
    </div>
</div>
<div class="form-group">
    <div class="col-md-2 col-xs-6">
        <button class="btn btn-default btn-block">Add New</button>
    </div>
</div>
<!--<hr class="col-xs-12">-->
<!--<div class="form-group">-->
    <!--<p class="title">Hardware Information</p>-->
    <!--<p class="title">For 1-100 Users Company</p>-->
    <!--<div class="col-sm-6 col-xs-12">-->
        <!--<iz-select ng-model="$ctrl.inputs.general.ram"></iz-select>-->
    <!--</div>-->
    <!--<div class="col-sm-6 col-xs-12">-->
        <!--<iz-select ng-model="$ctrl.inputs.general.cores"></iz-select>-->
    <!--</div>-->
<!--</div>-->

<!--<iz-owners></iz-owners>-->
<hr class="col-xs-12">

<div class="form-group">
    <p class="title">Network Adapters</p>
    <div class="row row-flex row-flex-wrap step-hardware__input-list-item form-group" ng-repeat="adapter in $ctrl.adapters track by $index">
        <div class="col-sm-3 col-xs-12 flex-col">
            <iz-input ng-model="adapter.name"></iz-input>
        </div>
        <div class="col-sm-3 col-xs-12 flex-col">
            <iz-select ng-model="adapter.zone"></iz-select>
        </div>
        <div class="col-sm-2 col-xs-12 flex-col">
            <iz-input ng-model="adapter.subnet"></iz-input>
        </div>
        <div class="col-sm-3 col-xs-12 flex-col">
            <iz-select ng-model="adapter.ipAddressAllocation"></iz-select>
        </div>
        <div class="col-sm-1 col-xs-12 flex-col">
            <div class="step-hardware__button-wrapper">
                <button class="step-hardware__button pull-right icon icon-actions-plus" ng-click="$ctrl.addItems('adapters')" ng-if="$last"></button>
                <button class="step-hardware__button pull-right icon icon-cancel" ng-click="$ctrl.removeItems('adapters', $index)" ng-if="$ctrl.adapters.length > 1"></button>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <p class="title">Disk</p>
    <div class="row step-hardware__input-list-item form-group">
        <div class="col-sm-6 col xs-12">
            <iz-select ng-model="$ctrl.inputs.general.diskspaces"></iz-select>
        </div>
    </div>
    <div class="row row-flex row-flex-wrap step-hardware__input-list-item" ng-repeat="disk in $ctrl.disks track by $index">
        <div class="col-sm-2 col-xs-12 flex-col">
            <iz-select ng-model="disk.driveLetterOption"
                       callbacks="$ctrl.driveLetterCallbacks"></iz-select>
        </div>
        <div class="col-sm-1 col-xs-12 flex-col">
            <iz-select ng-model="disk.driveLetter"
                       ng-if="disk.driveLetterOption.selected.value"
                       callbacks="$ctrl.driveLetterCallbacks"></iz-select>
        </div>
        <div class="col-sm-2 col-xs-12 flex-col">
            <iz-input ng-model="disk.label"></iz-input>
        </div>
        <div class="col-sm-2 col-xs-12 flex-col">
            <iz-select ng-model="disk.size"></iz-select>
        </div>
        <div class="col-sm-2 col-xs-12 flex-col">
            <iz-select ng-model="disk.partitionType"></iz-select>
        </div>
        <div class="col-sm-2 col-xs-12 flex-col">
            <iz-select ng-model="disk.fileSystem"></iz-select>
        </div>
        <div class="col-sm-1 col-xs-12 flex-col">
            <div class="step-hardware__button-wrapper">
                <button class="step-hardware__button pull-right icon icon-actions-plus" ng-click="$ctrl.addItems('disks')" ng-if="$last && !$ctrl.isAddingDisabled"></button>
                <button class="step-hardware__button pull-right icon icon-cancel" ng-click="$ctrl.removeItems('disks', $index)" ng-if="$ctrl.disks.length > 1"></button>
            </div>
        </div>
    </div>
</div>
